In [33]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
import numpy as np

In [2]:
columns = ['Database Name', 'Patient Number', 'Client Number', 'Consultation Number', 'Item Name', 'Units',
           'Item Label', 'Clinic Code', 'Consulting Vet', 'Patient Desexed', 'Deceased Date',
           'Visit Date', 'Consultation Date', 'Examination Text' ,'Patient Species', 'Patient Breed',
           'Patient Colour', 'Patient Sex', 'Patient Date of Birth', 'Insured', 'weight', 'temperature',
           'HeartRate', 'BodyScore', 'DentalGrade', 'RespRate', 'PainScore', 'BP', 'CRT', 'MMColour']

In [9]:
data_dir = "../Data/vet_compass/"
data = pd.read_csv(data_dir + 'STR024A03 20190719 sample x10,000.csv', header=None, names = columns)

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (1,2,3,19,20,21,22,25,27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
data.head(6)

,Database Name,Patient Number,Client Number,Consultation Number,Item Name,Units,Item Label,Clinic Code,Consulting Vet,Patient Desexed,Deceased Date,Visit Date,Consultation Date,Examination Text,Patient Species,Patient Breed,Patient Colour,Patient Sex,Patient Date of Birth,Insured,weight,temperature,HeartRate,BodyScore,DentalGrade,RespRate,PainScore,BP,CRT,MMColour
0,RxNSW,7138614,NaN,13869415,NaN,NaN,NaN,1,WA1,1,NaN,2012-07-05 17:09:03.000,2012-07-05 17:09:03.000,-------------------- Fees Charged: -----------...,Cat,Persian,White,Female,2010-07-05 00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,RxNSW,7737653,NaN,22925726,NaN,NaN,NaN,1,ZOU,1,NaN,2003-04-25 00:00:00.000,2003-04-25 00:00:00.000,NaN,Cat,Tonkinese,Lilac,Male,2002-11-26 00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,RxNSW,7738120,NaN,22934344,NaN,NaN,NaN,1,ZOU,1,NaN,2004-01-10 00:00:00.000,2004-01-10 00:00:00.000,NaN,Cat,Domestic Medium Hair,Tortoiseshell,Female,2003-02-14 00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,RxNSW,7745004,NaN,23043653,NaN,NaN,NaN,1,ZOU,1,NaN,2013-02-18 16:47:52.000,2013-02-18 16:47:52.000,NaN,Cat,Siamese,Lilac Point,Male,2008-07-20 00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,RxNSW,7742894,NaN,23043708,NaN,NaN,NaN,1,ZOU,1,2013-11-05 10:00:34.000,2013-02-20 08:40:38.000,2013-02-20 08:40:38.000,Dental; Renal Dz,Cat,Domestic Long Hair,Ginger & White,Male,1994-03-16 00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,RxNSW,7776041,NaN,23594489,NaN,NaN,NaN,1,BRZ,1,NaN,2007-10-08 18:00:00.000,2007-10-08 18:00:00.000,Lab Report,Cat,Burmese,Cream,Male,2005-12-05 00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
len(set(data["Patient Number"]))

10627

In [39]:
data[pd.notnull(data["Deceased Date"])]

,Database Name,Patient Number,Client Number,Consultation Number,Item Name,Units,Item Label,Clinic Code,Consulting Vet,Patient Desexed,Deceased Date,Visit Date,Consultation Date,Examination Text,Patient Species,Patient Breed,Patient Colour,Patient Sex,Patient Date of Birth,Insured,weight,temperature,HeartRate,BodyScore,DentalGrade,RespRate,PainScore,BP,CRT,MMColour
4,RxNSW,7742894,NaN,23043708,NaN,NaN,NaN,1,ZOU,1,2013-11-05 10:00:34.000,2013-02-20 08:40:38.000,2013-02-20 08:40:38.000,Dental; Renal Dz,Cat,Domestic Long Hair,Ginger & White,Male,1994-03-16 00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,RxNSW,6077526,6.41324e+06,10838997,Grooming Fees,1.0,NaN,102,ANY,1,2017-12-11 00:00:00.000,2011-03-17 08:51:01.000,2011-03-17 08:51:01.000,History: Examination: Laboratory: Assessment: ...,Cat,Domestic Short Hair,Tortoiseshell,Female,2002-04-01 00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,RxNSW,6077526,6.4219e+06,10838997,Grooming Fees,1.0,NaN,102,ANY,1,2017-12-11 00:00:00.000,2011-03-17 08:51:01.000,2011-03-17 08:51:01.000,History: Examination: Laboratory: Assessment: ...,Cat,Domestic Short Hair,Tortoiseshell,Female,2002-04-01 00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,RxNSW,6077182,6.41313e+06,10841087,E9 Standard Consult Wyoming,1.0,NaN,102,CTK,1,2017-03-23 00:00:00.000,2011-03-18 11:07:24.000,2011-03-18 11:07:24.000,Reason: 11- Unwell Appointment Notes: Overdue ...,Cat,Domestic Medium Hair,Tortoiseshell,Female,2002-02-02 00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,RxNSW,6083813,6.41247e+06,10859526,NaN,NaN,NaN,102,TG1,1,2018-07-23 00:00:00.000,2011-03-31 09:01:25.000,2011-03-31 09:01:25.000,Vaccination Reaction,Cat,Domestic Short Hair,Tabby,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
722492,RxVIC,7780785,1.23044e+07,18320964,PAK-Euthanasia,1.0,NaN,243,DC3,1,2018-04-30 00:00:00.000,2018-04-30 14:27:36.000,2018-04-30 14:27:36.000,Reason: Health Check Appointment Notes: V+; dr...,Cat,Domestic Long Hair,Tabbie,Female,1998-10-19 00:00:00.000,NaN,2.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
722493,RxVIC,7780785,1.23044e+07,18320964,RES-Exam Room,30.0,NaN,243,DC3,1,2018-04-30 00:00:00.000,2018-04-30 14:27:36.000,2018-04-30 14:27:36.000,Reason: Health Check Appointment Notes: V+; dr...,Cat,Domestic Long Hair,Tabbie,Female,1998-10-19 00:00:00.000,NaN,2.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
722494,RxVIC,7780785,1.23044e+07,18320964,VAR-Euthanasia,6.8,NaN,243,DC3,1,2018-04-30 00:00:00.000,2018-04-30 14:27:36.000,2018-04-30 14:27:36.000,Reason: Health Check Appointment Notes: V+; dr...,Cat,Domestic Long Hair,Tabbie,Female,1998-10-19 00:00:00.000,NaN,2.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
722495,RxVIC,7700495,1.2261e+07,18321788,Edenhills Cremation Small <9kg,1.0,NaN,243,TBC,1,2018-05-01 00:00:00.000,2018-05-01 08:11:10.000,2018-05-01 08:11:10.000,Was okay sunday; went downhill rapidly yesterd...,Cat,Domestic Short Hair,(none),Female,2005-08-07 00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
722496,RxVIC,7700495,1.2261e+07,18321788,Edenhills Wooden Box With Photo,1.0,NaN,243,TBC,1,2018-05-01 00:00:00.000,2018-05-01 08:11:10.000,2018-05-01 08:11:10.000,Was okay sunday; went downhill rapidly yesterd...,Cat,Domestic Short Hair,(none),Female,2005-08-07 00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
data.iloc[77]['Examination Text']

'History: Examination: Laboratory: Assessment: Treatment: Plan: bath &  nails'

In [12]:
data['Examination Text']

0         -------------------- Fees Charged: -----------...
1                                                       NaN
2                                                       NaN
3                                                       NaN
4                                         Dental; Renal  Dz
                                ...
722644    Reason: Check Up. Appointment Notes: Overdue r...
722645    Reason: Check Up. Appointment Notes: Overdue r...
722646    Reason: Check Up. Appointment Notes: Overdue r...
722647    Reason: Check Up. Appointment Notes: Overdue r...
722648                                        In house  use
Name: Examination Text, Length: 722649, dtype: object

In [18]:
data[data['Visit Date']== pd.date_time('1988-02-19')]

AttributeError: module 'pandas' has no attribute 'date_time'

In [26]:
data['Examination Text'].str.contains("renal").value_counts()

False    584855
True      19568
Name: Examination Text, dtype: int64

In [33]:
data[data['Examination Text'].str.contains("renal")==True].iloc[2199]['Examination Text']

"Original Vet : Dr Lynn Mathison; B.V.Sc (Hons); MANZCVSc (Veterinary Behaviour) (N5531) Reason: MEDICAL - Kidney Disease Appointment Notes: renal sachets TREATMENT: (AM) LM --- 03/03/2018 08:27:58 LM: Cleaned; and Fed: urinated and eaten. No faeces passed. Examine: T:38.4. BAR in himself. Iv fluids stopped. Restarted @ 20mls/hr Medications given: Nil this morning. IV fluids: DAY 3/3. 500mls started treatment Plan: AM (LM) to run bloods pm and discuss with owners Owners Visited: --- 03/03/2018 11:50:44 JT: Spoke to owners - given update Plan is to reassess bloods again this evening --- 03/03/2018 17:22:17 LM: Monitoring: blood taken Laboratory: BUN = 333 (was 587) CREA = 18.7 (was 41.7) Assessment: imrpovement but not normal yet. I would leave on iv fluids longer. Plan: discuss with owners at visit. --- 03/03/2018 17:53:45 LM: Owners Visited: Discussed that levels better; and as improving; i would continue on iv fluids for another 48hrs and retest. Kaitlin's boyfriend is going to help with costs; so will keep going with treatment. Cleaned; and Fed: (pm) --- 03/03/2018 ~18:05:50 RM: Eating; Drinking; Urinating. RM Treatment: Clav 0.55mls sc given. Iv fluids running well - total of 200mls since last treatment. Eating tinned k/d well (found a donated tin). -------------------- Fees Charged: -------------------- Trans.Iv Daily Fee 0-15kg Qty: 1 Sale Price $103.90 Hospitalisation High Dependency Cat Qty: 1 Sale Price $116.00 Veterinary Medical/Surgical Examination In Hospital Qty: 1 Sale Price $15.80 Discount Qty: 1 Sale Price $-11.80 CREA Reagent IDEXX - IN HOUSE Qty: 1 Sale Price $23.80 BUN Reagent IDEXX - IN HOUSE Qty: 1 Sale Price $23.80 Clavulox Injection (40ml Bottle) Qty: 0.55 Sale Price  $28.10"