In [20]:
import numpy as np
import pandas as pd
%matplotlib inline
import pickle
import numpy.random as rnd

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [2]:
# read dictionaries
file = '../Data/big_cats/processed_data/dict_2visits_case_ARKS_by_cut_off.pkl'
with open(file, "rb") as f:
    dict_2visits_case_ARKS_by_cut_off = pickle.load(f)
    
file = '../Data/big_cats/processed_data/dict_2visits_control_ARKS_by_cut_off.pkl'
with open(file, "rb") as f:
    dict_2visits_control_ARKS_by_cut_off = pickle.load(f)
    
# read cases and controls csv
file = '../Data/big_cats/processed_data/CKD_death_model_data.csv'
model_data = pd.read_csv(file)

In [7]:
model_data.head()

,haem: ID,ARKS No,haem: Animal Name,Date,haem: Laboratory Report No,haem: Laboratory,haem: Laboratory text only,haem: RBC (x 10^12/L),haem: haemoglobin (g/L),haem: HCT (%),haem: Total Protein (refractometer),haem: leukocyte count (x10^9/L),haem: neutrophils (%),haem: neutrophils (band),haem: neutrophils(seg) (x10^9/L),haem: lymphocytes (x10^9/L),haem: lymphocytes (%),haem: monocytes (x10^9/L),haem: monocytes (%),haem: eosinophils (x10^9/L),haem: eosinophils (%),haem: estimated platelets x 10^9/L (Hi),haem: estimated platelets /HPF (Low),haem: plasma sample appearance,haem: MCV (fL),haem: MCHC (g/L),haem: MCH (pg),haem: RBC morphology,haem: notes:,haem: validated,haem id,haem date,biochem: ID,biochem: Biochem Report No,biochem: Animal Name,biochem: Low USG?,biochem: BUN (mmol/L),biochem: Hypercreatininaemia?,biochem: Creatinine (umol/L),biochem: Total Plasma Protein (g/L),biochem: Serum Albumin (g/L),biochem: Globulins (g/L),biochem: Anaemic? <25,biochem: Haematocrit (%),biochem: Potassium (mmol/L),biochem: Calcium (mmol/L),biochem: Hyperphosphataemia? >2_9 to 3,biochem: Phosphate (mmol/L),biochem: Sodium (mmol/L),biochem: Chloride (mmol/L),biochem: Bicarbonate,biochem: Glucose,biochem: CK (U/L),biochem: ALP (U/L),biochem: ALT (U/L),biochem: AST,biochem: Amylase,biochem: Cholesterol (mmol/L),biochem: Bilirubin,biochem: Serum/plasma appearance,biochem: Comments:,biochem: Validated,biochem id,biochem date,urine: ID,urine: Laboratory Report Number,urine: Laboratory,urine: Animal name,urine: Sample Collection Method,urine: Urine Appearance,urine: Urine Specific Gravity,urine: Low USG?,urine: Azotaemia?,urine: Urine protein (g/L),urine: urine creatinine (umol/l),urine: Protein:creatinine ratio,urine: Proteinuric UPC greater 0:4,urine: Heska Microalbuminuria test,urine: glucose (Multistix),urine: bilirubin (Multistix),urine: ketones (Multistix),urine: blood (Hb -Multistix),urine: pH,urine: protein (Multistix),urine: protein (sulfanilic acid),urine: Positive urine culture,urine: Positive urine culture comments,urine: Culture results,urine: leukocytes (/cumm)x,urine: blood (RBC/ ul) (haematuriax,urine: Fat droplets,urine: Lipid,urine: Casts,urine: Epith cells,urine: Crystals,urine: Organisms,urine: Contaminants?,urine: Comments:,urine: Fractional Excretion,urine: Validated,urine: Date validated by RD,urine: Feline specific USG,urine: Refractive Index nR,urine: Fractional Excretion1,urine: Validated1,urine: Date validated by RD1,urine: Fe Sodium (RI 0-0_0-07),urine: Fe Potassium (RI 0-0_11-7),urine: Fe Chloride (RI 0-0_0-20),urine: FE Calcium (RI 0-0_0-13),urine: FE Phosphorus (RI 0_16),urine id,urine date,haem biochem date diff,haem urine date diff,urine biochem date diff,ARKS Number,Species (common name),Sex,Date of Birth,Date of Death,Age in years at death,Date of Onset of Azoatemia,"Date of USG less than 1,035",Ante-mortem Dx of CKD,Date of first low USG,Onset of azotaemia,Date of diagnosis,Comments re kidney function,First report of CKD CS,Age at Death,Cause of Death,Acute kidney failure,CKD - cause of mortality,CKD - co-morbidity,Excluded from study?,label
0,NaN,700022,NaN,1990-01-02 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,516.0,NaN,Gai,False,29.6,False,NaN,95.0,NaN,NaN,False,38.0,NaN,NaN,False,NaN,NaN,NaN,NaN,7.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,291.0,1990-01-02 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,700022,Tiger,female,1970-04-28,1990-01-02,19.695890,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,19y8m5d,pyelonephritis - Entercoccus,False,True,False,False,1
1,383.0,730023,Robert,1987-02-13 00:00:00,NaN,Taronga Zoo,NaN,NaN,28.0,11.0,74.0,14.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,4.0,1987-02-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,730023,Bobcat,male,1973-05-11,1992-03-17,18.863014,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,renal failure,False,True,False,False,1
2,384.0,730023,Robert,1987-03-06 00:00:00,NaN,Taronga Zoo,NaN,NaN,NaN,29.0,87.0,10.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,48.0,1987-03-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,730023,Bobcat,male,1973-05-11,1992-03-17,18.863014,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,renal failure,False,True,False,False,1
3,385.0,730023,Robert,1991-12-11 00:00:00,NaN,Taronga Zoo,NaN,NaN,108.0,37.0,70.0,10.45,NaN,NaN,7.63,1.36,NaN,0.4,NaN,0.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,214.0,1991-12-11,421.0,1193,Robert,False,21.4,False,242.0,70.0,NaN,NaN,False,39.0,NaN,NaN,False,NaN,NaN,NaN,NaN,9.85,181.0,NaN,39.4,37.8,NaN,3.5,8.5,NaN,NaN,True,1217.0,1991-12-11 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0 days 00:00:00.000000000,NaN,NaN,730023,Bobcat,male,1973-05-11,1992-03-17,18.863014,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,renal failure,False,True,False,False,1
4,382.0,730023,Robert,1992-03-17 00:00:00,NaN,Taronga Zoo,NaN,NaN,94.0,29.0,79.0,13.97,NaN,NaN,NaN,NaN,25.0,NaN,9.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,49.0,1992-03-17,49.0,207,Robert,True,22.6,False,176.0,79.0,NaN,NaN,False,29.0,NaN,NaN,False,NaN,NaN,NaN,NaN,7.40,NaN,NaN,41.1,46.9,NaN,NaN,NaN,NaN,NaN,True,1218.0,1992-03-17 00:00:00,371.0,208,1,Robert,Catheter,NaN,1.016,True,False,NaN,NaN,NaN,False,NaN,nil,nil,nil,nil,6.0,1+,NaN,False,NaN,NaN,<10,<10,NaN,False,False,True,False,False,False,1+ transitional epithelial cells,NaN,True,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,906.0,1992-03-17,0 days 00:00:00.000000000,0 days 00:00:00.000000000,0 days 00:00:00.000000000,730023,Bobcat,male,1973-05-11,1992-03-17,18.863014,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,renal failure,False,True,False,False,1

In [4]:
model_data.describe()

,haem: ID,haem: RBC (x 10^12/L),haem: haemoglobin (g/L),haem: HCT (%),haem: Total Protein (refractometer),haem: leukocyte count (x10^9/L),haem: neutrophils (%),haem: neutrophils (band),haem: neutrophils(seg) (x10^9/L),haem: lymphocytes (x10^9/L),haem: lymphocytes (%),haem: monocytes (x10^9/L),haem: monocytes (%),haem: eosinophils (x10^9/L),haem: eosinophils (%),haem: MCV (fL),haem: MCHC (g/L),haem: MCH (pg),haem id,biochem: ID,biochem: BUN (mmol/L),biochem: Creatinine (umol/L),biochem: Total Plasma Protein (g/L),biochem: Serum Albumin (g/L),biochem: Globulins (g/L),biochem: Haematocrit (%),biochem: Potassium (mmol/L),biochem: Calcium (mmol/L),biochem: Phosphate (mmol/L),biochem: Sodium (mmol/L),biochem: Chloride (mmol/L),biochem: Bicarbonate,biochem: Glucose,biochem: CK (U/L),biochem: ALP (U/L),biochem: ALT (U/L),biochem: AST,biochem: Amylase,biochem: Cholesterol (mmol/L),biochem id,urine: ID,urine: Urine protein (g/L),urine: urine creatinine (umol/l),urine: Protein:creatinine ratio,urine: pH,urine: Date validated by RD,urine: Feline specific USG,urine: Refractive Index nR,urine: Fractional Excretion1,urine: Date validated by RD1,urine: Fe Sodium (RI 0-0_0-07),urine: Fe Potassium (RI 0-0_11-7),urine: Fe Chloride (RI 0-0_0-20),urine: FE Calcium (RI 0-0_0-13),urine: FE Phosphorus (RI 0_16),urine id,Age in years at death,Date of Onset of Azoatemia,"Date of USG less than 1,035",Comments re kidney function,label
count,368.000000,239.000000,349.000000,367.000000,181.000000,357.000000,223.000000,92.000000,249.000000,271.000000,169.000000,264.000000,155.000000,229.000000,142.000000,88.000000,92.000000,50.000000,368.000000,807.000000,797.000000,791.000000,787.000000,759.000000,750.000000,706.000000,657.000000,661.000000,664.000000,646.000000,589.000000,398.000000,570.000000,678.000000,690.000000,748.000000,688.000000,259.000000,398.000000,807.000000,445.000000,49.000000,48.000000,54.000000,464.000000,0.0,1.000,1.0000,0.0,0.0,4.000000,4.000000,4.000000,3.000000e+00,3.000000,539.000000,1052.000000,0.0,0.0,0.0,1053.000000
mean,319.654891,7.461255,127.658166,40.035695,74.226519,12.794678,75.793722,6.716304,8.867956,1.903878,15.866864,0.535379,3.483871,0.739738,4.925352,62.221591,317.159783,18.686000,345.850543,881.847584,19.061744,275.816501,71.961245,33.671410,37.950133,39.683994,4.424992,2.586017,1.993711,152.768576,118.179966,16.644221,8.185588,629.061062,32.833333,110.203342,80.442151,2284.903475,5.179148,830.405204,203.177528,4.008571,12453.770833,0.639298,6.553879,NaN,1.022,1.3425,NaN,NaN,0.035000,8.125000,0.115000,1.000000e-01,19.383333,589.076067,14.722582,NaN,NaN,NaN,0.665717
std,193.275799,1.644891,32.199090,7.585769,11.389374,7.072708,12.236136,5.055929,6.299160,1.323558,8.948681,0.611028,2.680751,0.944059,4.830730,41.372078,71.194708,1.328957,210.900940,587.391633,15.166172,291.863642,10.883665,5.502605,9.774505,7.686218,1.383765,0.312707,0.864080,5.008766,6.317684,3.991067,7.406920,2347.563715,69.074263,270.021220,125.137108,1620.423883,4.065408,481.807029,164.817583,19.957016,8923.433392,2.086886,1.048534,NaN,NaN,NaN,NaN,NaN,0.047258,0.818026,0.059722,1.699675e-17,6.212152,352.294877,4.865185,NaN,NaN,NaN,0.471963
min,1.000000,3.100000,10.000000,11.000000,6.500000,2.700000,19.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.400000,17.000000,23.000000,16.000000,0.000000,1.000000,3.200000,30.000000,32.000000,1.000000,5.700000,12.000000,2.200000,0.100000,0.480000,124.000000,79.000000,4.500000,0.000000,11.000000,0.000000,1.000000,0.000000,6.000000,0.000000,17.000000,1.000000,0.000000,30.000000,0.000000,5.000000,NaN,1.022,1.3425,NaN,NaN,0.000000,7.100000,0.060000,1.000000e-01,13.600000,22.000000,1.082192,NaN,NaN,NaN,0.000000
25%,151.750000,6.400000,110.000000,35.000000,70.000000,8.100000,69.000000,3.450000,5.020000,1.000000,9.000000,0.200000,2.000000,0.200000,2.000000,53.000000,315.250000,18.000000,168.000000,319.500000,10.900000,162.000000,67.000000,31.000000,31.000000,35.000000,4.000000,2.400000,1.530000,150.000000,115.000000,14.000000,5.962500,126.000000,8.000000,44.000000,31.000000,1177.500000,3.602500,374.500000,63.000000,0.170000,6988.000000,0.146825,6.000000,NaN,1.022,1.3425,NaN,NaN,0.000000,7.850000,0.090000,1.000000e-01,16.100000,265.500000,12.739726,NaN,NaN,NaN,0.000000
50%,290.500000,7.460000,131.000000,41.000000,74.000000,10.900000,78.000000,6.700000,8.000000,1.600000,13.000000,0.330000,3.000000,0.400000,4.000000,55.000000,327.000000,18.000000,343.500000,883.000000,14.200000,207.000000,72.000000,34.000000,37.000000,40.000000,4.300000,2.570000,1.800000,153.000000,119.000000,17.000000,7.300000,207.500000,13.000000,71.000000,47.500000,1613.000000,4.700000,836.000000,146.000000,0.250000,9040.000000,0.202750,6.500000,NaN,1.022,1.3425,NaN,NaN,0.020000,8.150000,0.100000,1.000000e-01,18.600000,624.000000,14.684932,NaN,NaN,NaN,1.000000
75%,473.250000,8.500000,149.000000,45.000000,80.000000,14.600000,84.500000,8.875000,11.800000,2.300000,21.000000,0.700000,5.000000,0.800000,6.000000,61.700000,340.000000,19.075000,521.250000,1393.500000,19.700000,270.000000,78.000000,36.000000,44.000000,45.000000,4.600000,2.720000,2.130000,156.000000,122.000000,19.000000,9.300000,397.750000,27.750000,119.000000,83.000000,3468.000000,6.275000,1210.500000,339.000000,0.530000,16912.500000,0.460250,7.000000,NaN,1.022,1.3425,NaN,NaN,0.055000,8.425000,0.125000,1.000000e-01,22.275000,856.500000,18.090411,NaN,NaN,NaN,1.000000
max,727.000000,12.200000,226.000000,59.000000,100.000000,52.200000,98.000000,30.100000,35.280000,8.200000,48.000000,5.220000,19.000000,6.600000,35.000000,329.000000,482.000000,22.000000,725.000000,1957.000000,123.000000,3188.000000,155.000000,75.000000,104.000000,67.000000,35.800000,5.200000,8.670000,186.000000,150.000000,35.000000,167.000000,40000.000000,919.000000,5555.000000,1848.000000,7404.000000,76.000000,1655.000000,548.000000,134.000000,41440.000000,15.460000,9.000000,NaN,1.022,1.3425,NaN,NaN,0.100000,9.100000,0.200000,1.000000e-01,25.950000,1239.000000,25.808219,NaN,NaN,NaN,1.000000

In [5]:
len(model_data)

1053

In [9]:
dict_2visits_control_ARKS_by_cut_off.keys()

dict_keys([30, 60, 90, 120, 150, 180, 210, 240, 270, 300, 330, 360, 390, 420, 450, 480, 510, 540, 570, 600, 630, 660, 690, 720, 750, 780, 810, 840, 870, 900, 930, 960, 990, 1020, 1050])

In [10]:
def filter_data_for_cutoff(cutoff_days, dict_ARKS_by_cutoff, data_in):
    ARKS_list = dict_ARKS_by_cutoff[cutoff_days]
    data = data_in[data_in['ARKS No'].isin(ARKS_list)]
    return data

In [22]:
cases = filter_data_for_cutoff(360, dict_2visits_case_ARKS_by_cut_off, model_data)
controls = filter_data_for_cutoff(360, dict_2visits_control_ARKS_by_cut_off, model_data)
data = cases.append(controls)

print(f"num cases: {cases['ARKS No'].nunique()}")
print(f"num controls: {controls['ARKS No'].nunique()}")

num cases: 50
num controls: 46

In [68]:
rng = np.random.default_rng(2022)

In [69]:
def by_ARKS_train_test_split(data, test_percent, rng):
    ARKS_list = data['ARKS No'].unique()
    num_test = int(test_percent*len(ARKS_list))
    test = rng.choice(ARKS_list, size=num_test, replace=False)
    train = set(ARKS_list) - set(test)
    return data[data['ARKS No'].isin(train)], data[data['ARKS No'].isin(test)]

In [70]:
train_cases, test_cases = by_ARKS_train_test_split(cases, 0.3, rng)
train_controls, test_controls = by_ARKS_train_test_split(controls, 0.3, rng)

train = train_cases.append(train_controls)
test = test_cases.append(test_controls)

In [71]:
train['ARKS No'].nunique()

68

In [72]:
test['ARKS No'].nunique()

28

# To do
- filter by cut off: done
- split into train/test: done
- NEXT: decide how to format data for model e.g. grad/intercept etc
- automatically? choose features based on labs with enough values not missing.  e.g. need 50% present
- impute
- train motherfucking model: decide which model to use.  
    - Is there a simple model that can incorporate time series?
    - Random forest using linear trajectory gead and intercept
    - RNN/LSTM