# Merging lists

In [159]:
import pandas as pd
pd.options.display.max_columns = 500

In [160]:
cats = pd.read_csv('unified_animal_list.csv')
labs = pd.read_csv('merged_tables_tol_7days_2021-04-01.csv')

In [161]:
data = pd.merge(cats, labs, left_on='ARKS Number', right_on='ARKS No')

In [162]:
# only look at dead animals
data = data[data['Status (alive/deceased/transacted)'] == 'Dead']
data = data[data['Excluded from study?'] == False]

# Manual column drop

### 1. based on description

In [163]:
columns_drop = ['Animal Name', 
                'Biochem data', 
                'Cause of Death', 
                'Comments:', 
                'Dam ARKS Number', 
                'Date of Death', 
                'Date of Transaction', 
                'Excluded from study?', 
                'GIT', 
                'Hand-raised', 
                'Housing (confined enclosure/open range)', 
                'International transaction',
                'Pathology Report Numbers',
                'Post Mortem Report Number',
                'Sibling ARKS Number',
                'Sire ARKS Number',
                'Status (alive/deceased/transacted)',
                'Transacted internationally',
                'Unknown',
                'Zoo Location',
                'haem: ID',
                'ARKS No',
                'haem: Animal Name',
                'haem: Laboratory Report No',
                'haem: Laboratory',
                'haem: Laboratory text only',
                'haem: notes:',
                'haem: validated',
                'haem id',
                'haem date',
                'biochem: ID',
                'biochem: Biochem Report No',
                'biochem: Animal Name',
                'biochem: Comments:',
                'biochem: Validated',
                'biochem id',
                'biochem date',
                'urine: ID',
                'urine: Laboratory Report Number',
                'urine: Laboratory',
                'urine: Animal name',
                'urine: Sample Collection Method',
                'urine id',
                'urine date',
                'haem biochem date diff',
                'haem urine date diff',
                'urine biochem date diff',
                'Urine data', 
                'urine: Comments:', 
                'urine: Validated',
                'urine: Date validated by RD',
                'urine: Validated1', 
                'urine: Date validated by RD1',
                'urine: Date validated by RD', 
                'urine: Culture results'
               ]


clean_data = data.drop(columns = columns_drop, axis = 1)

In [164]:
clean_data.to_csv('merged_dropped_data.csv')

### 2. based on values

In [165]:
clean_data.describe(include='all')

,ARKS Number,Acute kidney failure,Age at Death,CKD - cause of mortality,CKD - co-morbidity,Date of Birth,Endocrine,Infection,Neonatal,Neoplasia,Neurological,Old Age debility,Respiratory/Cardiovascular,Sex,Species (common name),Trauma,Date,haem: RBC (x 10^12/L),haem: haemoglobin (g/L),haem: HCT (%),haem: Total Protein (refractometer),haem: leukocyte count (x10^9/L),haem: neutrophils (%),haem: neutrophils (band),haem: neutrophils(seg) (x10^9/L),haem: lymphocytes (x10^9/L),haem: lymphocytes (%),haem: monocytes (x10^9/L),haem: monocytes (%),haem: eosinophils (x10^9/L),haem: eosinophils (%),haem: estimated platelets x 10^9/L (Hi),haem: estimated platelets /HPF (Low),haem: plasma sample appearance,haem: MCV (fL),haem: MCHC (g/L),haem: MCH (pg),haem: RBC morphology,biochem: Low USG?,biochem: BUN (mmol/L),biochem: Hypercreatininaemia?,biochem: Creatinine (umol/L),biochem: Total Plasma Protein (g/L),biochem: Serum Albumin (g/L),biochem: Globulins (g/L),biochem: Anaemic? <25,biochem: Haematocrit (%),biochem: Potassium (mmol/L),biochem: Calcium (mmol/L),biochem: Hyperphosphataemia? >2_9 to 3,biochem: Phosphate (mmol/L),biochem: Sodium (mmol/L),biochem: Chloride (mmol/L),biochem: Bicarbonate,biochem: Glucose,biochem: CK (U/L),biochem: ALP (U/L),biochem: ALT (U/L),biochem: AST,biochem: Amylase,biochem: Cholesterol (mmol/L),biochem: Bilirubin,biochem: Serum/plasma appearance,urine: Urine Appearance,urine: Urine Specific Gravity,urine: Low USG?,urine: Azotaemia?,urine: Urine protein (g/L),urine: urine creatinine (umol/l),urine: Protein:creatinine ratio,urine: Proteinuric UPC greater 0:4,urine: Heska Microalbuminuria test,urine: glucose (Multistix),urine: bilirubin (Multistix),urine: ketones (Multistix),urine: blood (Hb -Multistix),urine: pH,urine: protein (Multistix),urine: protein (sulfanilic acid),urine: Positive urine culture,urine: Positive urine culture comments,urine: leukocytes (/cumm)x,urine: blood (RBC/ ul) (haematuriax,urine: Fat droplets,urine: Lipid,urine: Casts,urine: Epith cells,urine: Crystals,urine: Organisms,urine: Contaminants?,urine: Fractional Excretion,urine: Feline specific USG,urine: Refractive Index nR,urine: Fractional Excretion1,urine: Fe Sodium (RI 0-0_0-07),urine: Fe Potassium (RI 0-0_11-7),urine: Fe Chloride (RI 0-0_0-20),urine: FE Calcium (RI 0-0_0-13),urine: FE Phosphorus (RI 0_16)
count,1438,1438,1304,1438,1438,1437,1438,1438,1438,1438,1438,1438,1438,1438,1438,1438,1438,290.000000,433,455.000000,249.000000,446.000000,287.000000,131.000000,311.000000,345.000000,230.000000,330.000000,209.000000,289.000000,193.000000,184,168,57,118.000000,127.000000,68.000000,132,1071,1049.000000,1071,1046.000000,1044.000000,999.000000,986.000000,1071,940.000000,871.000000,876.000000,1071,890.000000,857.000000,789.000000,551.000000,737.000000,909.000000,923.000000,1000.000000,919.000000,339.000000,568.000000,743,178,247,721,762,762,61.000000,61.000000,68.000000,762,27,623,597,611,638,659,683,28,762,57,243,248,35,762,762,762,762,762,762,4,1.000,1.0000,0.0,6.000000,6.000000,6.000000,4.0,4.000000
unique,187,2,156,2,2,151,2,2,1,2,2,2,2,2,25,2,1270,NaN,118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,150,52,11,NaN,NaN,NaN,54,2,NaN,2,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102,24,108,80,2,2,NaN,NaN,NaN,2,8,9,11,9,21,19,14,8,2,18,64,75,9,2,2,2,2,2,2,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,A20021,False,13y7m12d,False,False,2000-07-29,False,False,False,False,False,False,False,male,Cheetah,False,1985-09-09 00:00:00,NaN,145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,286,adequate,clear,NaN,NaN,NaN,normal,False,NaN,False,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,clear,clear yellow,>1.040,False,False,NaN,NaN,NaN,False,NEGATIVE,nil,nil,nil,nil,6.5,1+,nil,False,no,0,0,1+,False,False,False,False,False,False,18D - v young animal = low USG!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,53,1422,53,783,989,75,1437,1420,1438,1210,1396,1263,1409,801,402,1335,4,NaN,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,61,45,NaN,NaN,NaN,64,889,NaN,943,NaN,NaN,NaN,NaN,1045,NaN,NaN,NaN,1066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,131,112,32,59,487,690,NaN,NaN,NaN,748,16,534,535,535,212,128,216,9,726,23,49,33,9,732,725,724,665,670,734,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.540690,NaN,40.166593,75.622490,12.993229,77.226481,7.202061,9.016531,1.847249,14.917391,0.523515,3.454545,0.700104,4.831088,NaN,NaN,NaN,59.936441,325.899213,18.342647,NaN,NaN,18.162278,NaN,259.608080,72.512452,33.646246,38.470690,NaN,39.497021,4.364076,2.568644,NaN,1.955070,152.774212,118.396705,16.561706,8.963245,669.603960,26.970748,117.340100,83.374102,2307.914454,4.960343,NaN,NaN,NaN,NaN,NaN,NaN,24.174426,14537.118689,0.679443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.022,1.3425,NaN,0.023417,7.117333,0.077667,0.1,19.437500
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.631115,NaN,7.522690,12.114709,6.775392,11.869376,4.843597,6.535833,1.341172,8.742540,0.587233,2.584921,0.866510,4.542424,NaN,NaN,NaN,35.986975,50.650134,1.364619,NaN,NaN,13.891566,NaN,243.641888,10.585395,6.116377,9.709643,NaN,7.603117,1.240410,0.297942,NaN,0.870397,4.996319,6.272658,3.795141,24.006010,3318.507464,57.743751,260.565077,165.313931,1569.726161,3.500986,NaN,NaN,NaN,NaN,NaN,NaN,161.860547,10582.505899,1.893452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.040768,3.581961,0.074086,0.0,5.073358
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.100000,NaN,11.000000,6.500000,2.100000,19.000000,0.000000,0.000000,0.000000,1.500000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,17.000000,23.000000,16.000000,NaN,NaN,2.000000,NaN,30.000000,32.000000,1.000000,4.000000,NaN,12.000000,2.200000,0.100000,NaN,0.480000,124.000000,79.000000,4.500000,0.000000,11.000000,0.000000,2.000000,0.000000,34.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,7.240000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.022,1.3425,NaN,0.000000,0.104000,0.000000,0.1,13.600000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.422500,NaN,35.000000,71.000000,8.585000,71.000000,4.400000,5.000000,0.970000,8.000000,0.200000,2.000000,0.200000,2.000000,NaN,NaN,NaN,52.000000,316.000000,17.450000,NaN,NaN,10.800000,NaN,162.000000,67.000000,31.000000,33.000000,NaN,34.000000,4.000000,2.400000,NaN,1.520000,150.000000,115.000000,14.000000,5.900000,118.000000,8.500000,44.000000,28.000000,1208.000000,3.582500,NaN,NaN,NaN,NaN,NaN,NaN,0.190000,7363.000000,0.159475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.022,1.3425,NaN,0.000000,7.350000,0.019500,0.1,17.350000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.590000,NaN,41.000000,75.000000,11.300000,79.000000,7.000000,8.200000,1.500000,13.000000,0.330000,3.000000,0.400000,4.000000,NaN,NaN,NaN,55.000000,328.000000,18.000000,NaN,NaN,14.000000,NaN,206.000000,72.000000,34.000000,38.000000,NaN,40.000000,4.300000,2.550000,NaN,1.785000,153.000000,119.000000,17.000000,7.300000,189.000000,14.000000,71.000000,44.000000,1766.000000,4.600000,NaN,NaN,NaN,NaN,NaN,NaN,0.320000,10200.000000,0.213100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.022,1.3425,NaN,0.000250,8.150000,0.080000,0.1,19.100000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.590000,NaN,46.000000,80.000000,15.052500,85.500000,9.150000,12.005000,2.280000,21.000000,0.657500,5.000000,0.800000,6.000000,NaN,NaN,NaN,60.000000,340.000000,19.000000,NaN,NaN,19.300000,NaN,267.639000,78.000000,36.000000,44.000000,NaN,45.000000,4.600000,2.710000,NaN,2.100000,156.000000,122.000000,19.000000,9.400000,351.000000,24.000000,121.000000,83.000000,3438.000000,6.025000,NaN,NaN,NaN,NaN,NaN,NaN,0.770000,21400.000000,0.516575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.022,1.3425,NaN,0.030125,8.875000,0.100000,0.1,21.187500
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.200000,NaN,59.000000,117.000000,52.200000,100.000000,30.100000,35.280000,9.800000,48.000000,5.220000,19.000000,6.600000,35.000000,NaN,NaN,NaN,329.000000,482.000000,22.000000,NaN,NaN,123.000000,NaN,3188.000000,155.000000,76.000000,104.000000,NaN,67.000000,35.800000,5.200000,NaN,9.680000,186.000000,150.000000,35.000000,634.000000,68855.000000,919.000000,5555.000000,3290.000000,7404.000000,76.000000,NaN,NaN,NaN,NaN,NaN,NaN,1260.000000,52067.000000,15.460000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.022,1.3425,NaN,0.100000,10.100000,0.200000,0.1,25.950000

In [166]:
drop_columms = ['Neonatal', 'Endocrine', 'haem: estimated platelets  /HPF (Low)', 'haem: RBC morphology', 'urine: Urine Appearance',  'biochem: Serum/plasma appearance', 'haem: plasma sample appearance',  'urine: FE Phosphorus (RI 0_16)', 'urine: Heska Microalbuminuria test', 'urine: protein (sulfanilic acid)', 'urine: Positive urine culture comments', 'urine: Fat droplets', 'urine: Fractional Excretion', 'urine: Feline specific USG', 'urine: Refractive Index nR', 'urine: Fractional Excretion1', 'urine: Fe Sodium (RI 0-0_0-07)', 'urine: Fe Potassium (RI 0-0_11-7)', 'urine: Fe Chloride (RI 0-0_0-20)', 'urine: FE Calcium (RI 0-0_0-13)', 'urine: FE Phosphorus (RI 0_16)']
clean_up = ['urine: Urine Specific Gravity', 'urine: glucose (Multistix)', 'urine: bilirubin (Multistix)', 'urine: ketones (Multistix)', 'urine: blood (Hb -Multistix)', 'urine: pH', 'urine: protein (Multistix)', 'urine: leukocytes (/cumm)x', 'urine: blood (RBC/ ul) (haematuriax']

In [167]:
data_filt = clean_data.drop(columns=drop_columms)

In [168]:
data_filt.describe(include='all')

,ARKS Number,Acute kidney failure,Age at Death,CKD - cause of mortality,CKD - co-morbidity,Date of Birth,Infection,Neoplasia,Neurological,Old Age debility,Respiratory/Cardiovascular,Sex,Species (common name),Trauma,Date,haem: RBC (x 10^12/L),haem: haemoglobin (g/L),haem: HCT (%),haem: Total Protein (refractometer),haem: leukocyte count (x10^9/L),haem: neutrophils (%),haem: neutrophils (band),haem: neutrophils(seg) (x10^9/L),haem: lymphocytes (x10^9/L),haem: lymphocytes (%),haem: monocytes (x10^9/L),haem: monocytes (%),haem: eosinophils (x10^9/L),haem: eosinophils (%),haem: estimated platelets x 10^9/L (Hi),haem: MCV (fL),haem: MCHC (g/L),haem: MCH (pg),biochem: Low USG?,biochem: BUN (mmol/L),biochem: Hypercreatininaemia?,biochem: Creatinine (umol/L),biochem: Total Plasma Protein (g/L),biochem: Serum Albumin (g/L),biochem: Globulins (g/L),biochem: Anaemic? <25,biochem: Haematocrit (%),biochem: Potassium (mmol/L),biochem: Calcium (mmol/L),biochem: Hyperphosphataemia? >2_9 to 3,biochem: Phosphate (mmol/L),biochem: Sodium (mmol/L),biochem: Chloride (mmol/L),biochem: Bicarbonate,biochem: Glucose,biochem: CK (U/L),biochem: ALP (U/L),biochem: ALT (U/L),biochem: AST,biochem: Amylase,biochem: Cholesterol (mmol/L),biochem: Bilirubin,urine: Urine Specific Gravity,urine: Low USG?,urine: Azotaemia?,urine: Urine protein (g/L),urine: urine creatinine (umol/l),urine: Protein:creatinine ratio,urine: Proteinuric UPC greater 0:4,urine: glucose (Multistix),urine: bilirubin (Multistix),urine: ketones (Multistix),urine: blood (Hb -Multistix),urine: pH,urine: protein (Multistix),urine: Positive urine culture,urine: leukocytes (/cumm)x,urine: blood (RBC/ ul) (haematuriax,urine: Lipid,urine: Casts,urine: Epith cells,urine: Crystals,urine: Organisms,urine: Contaminants?
count,1438,1438,1304,1438,1438,1437,1438,1438,1438,1438,1438,1438,1438,1438,1438,290.000000,433,455.000000,249.000000,446.000000,287.000000,131.000000,311.000000,345.000000,230.000000,330.000000,209.000000,289.000000,193.000000,184,118.000000,127.000000,68.000000,1071,1049.000000,1071,1046.000000,1044.000000,999.000000,986.000000,1071,940.000000,871.000000,876.000000,1071,890.000000,857.000000,789.000000,551.000000,737.000000,909.000000,923.000000,1000.000000,919.000000,339.000000,568.000000,743,721,762,762,61.000000,61.000000,68.000000,762,623,597,611,638,659,683,762,243,248,762,762,762,762,762,762
unique,187,2,156,2,2,151,2,2,2,2,2,2,25,2,1270,NaN,118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,150,NaN,NaN,NaN,2,NaN,2,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102,80,2,2,NaN,NaN,NaN,2,9,11,9,21,19,14,2,64,75,2,2,2,2,2,2
top,A20021,False,13y7m12d,False,False,2000-07-29,False,False,False,False,False,male,Cheetah,False,1985-09-09 00:00:00,NaN,145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,286,NaN,NaN,NaN,False,NaN,False,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,>1.040,False,False,NaN,NaN,NaN,False,nil,nil,nil,nil,6.5,1+,False,0,0,False,False,False,False,False,False
freq,53,1422,53,783,989,75,1420,1210,1396,1263,1409,801,402,1335,4,NaN,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,889,NaN,943,NaN,NaN,NaN,NaN,1045,NaN,NaN,NaN,1066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,131,59,487,690,NaN,NaN,NaN,748,534,535,535,212,128,216,726,49,33,732,725,724,665,670,734
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.540690,NaN,40.166593,75.622490,12.993229,77.226481,7.202061,9.016531,1.847249,14.917391,0.523515,3.454545,0.700104,4.831088,NaN,59.936441,325.899213,18.342647,NaN,18.162278,NaN,259.608080,72.512452,33.646246,38.470690,NaN,39.497021,4.364076,2.568644,NaN,1.955070,152.774212,118.396705,16.561706,8.963245,669.603960,26.970748,117.340100,83.374102,2307.914454,4.960343,NaN,NaN,NaN,NaN,24.174426,14537.118689,0.679443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.631115,NaN,7.522690,12.114709,6.775392,11.869376,4.843597,6.535833,1.341172,8.742540,0.587233,2.584921,0.866510,4.542424,NaN,35.986975,50.650134,1.364619,NaN,13.891566,NaN,243.641888,10.585395,6.116377,9.709643,NaN,7.603117,1.240410,0.297942,NaN,0.870397,4.996319,6.272658,3.795141,24.006010,3318.507464,57.743751,260.565077,165.313931,1569.726161,3.500986,NaN,NaN,NaN,NaN,161.860547,10582.505899,1.893452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.100000,NaN,11.000000,6.500000,2.100000,19.000000,0.000000,0.000000,0.000000,1.500000,0.000000,0.000000,0.000000,0.000000,NaN,17.000000,23.000000,16.000000,NaN,2.000000,NaN,30.000000,32.000000,1.000000,4.000000,NaN,12.000000,2.200000,0.100000,NaN,0.480000,124.000000,79.000000,4.500000,0.000000,11.000000,0.000000,2.000000,0.000000,34.000000,0.000000,NaN,NaN,NaN,NaN,0.000000,7.240000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.422500,NaN,35.000000,71.000000,8.585000,71.000000,4.400000,5.000000,0.970000,8.000000,0.200000,2.000000,0.200000,2.000000,NaN,52.000000,316.000000,17.450000,NaN,10.800000,NaN,162.000000,67.000000,31.000000,33.000000,NaN,34.000000,4.000000,2.400000,NaN,1.520000,150.000000,115.000000,14.000000,5.900000,118.000000,8.500000,44.000000,28.000000,1208.000000,3.582500,NaN,NaN,NaN,NaN,0.190000,7363.000000,0.159475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.590000,NaN,41.000000,75.000000,11.300000,79.000000,7.000000,8.200000,1.500000,13.000000,0.330000,3.000000,0.400000,4.000000,NaN,55.000000,328.000000,18.000000,NaN,14.000000,NaN,206.000000,72.000000,34.000000,38.000000,NaN,40.000000,4.300000,2.550000,NaN,1.785000,153.000000,119.000000,17.000000,7.300000,189.000000,14.000000,71.000000,44.000000,1766.000000,4.600000,NaN,NaN,NaN,NaN,0.320000,10200.000000,0.213100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.590000,NaN,46.000000,80.000000,15.052500,85.500000,9.150000,12.005000,2.280000,21.000000,0.657500,5.000000,0.800000,6.000000,NaN,60.000000,340.000000,19.000000,NaN,19.300000,NaN,267.639000,78.000000,36.000000,44.000000,NaN,45.000000,4.600000,2.710000,NaN,2.100000,156.000000,122.000000,19.000000,9.400000,351.000000,24.000000,121.000000,83.000000,3438.000000,6.025000,NaN,NaN,NaN,NaN,0.770000,21400.000000,0.516575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.200000,NaN,59.000000,117.000000,52.200000,100.000000,30.100000,35.280000,9.800000,48.000000,5.220000,19.000000,6.600000,35.000000,NaN,329.000000,482.000000,22.000000,NaN,123.000000,NaN,3188.000000,155.000000,76.000000,104.000000,NaN,67.000000,35.800000,5.200000,NaN,9.680000,186.000000,150.000000,35.000000,634.000000,68855.000000,919.000000,5555.000000,3290.000000,7404.000000,76.000000,NaN,NaN,NaN,NaN,1260.000000,52067.000000,15.460000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Manual clean-up for important columns

In [169]:
clean_up

['urine: Urine Specific Gravity',
 'urine: glucose (Multistix)',
 'urine: bilirubin (Multistix)',
 'urine: ketones (Multistix)',
 'urine: blood (Hb -Multistix)',
 'urine: pH',
 'urine: protein (Multistix)',
 'urine: leukocytes (/cumm)x',
 'urine: blood (RBC/ ul) (haematuriax']

### Side-info: Multistix

<div style="padding: 1rem ;color: DeepPink; font-weight:600; background-image: linear-gradient(to right, FloralWhite, DeepPink)">! check with vet if nil == negative</div>

<img src='https://cdn.shopify.com/s/files/1/0713/2143/products/urs-color-chart_759x677.jpg?v=1568747501]'>

##### glucose (Multistix)

Semi-quantitative values are usually reported as: trace, 1+, 2+, 3+ and 4+; although tests can also be estimated as milligrams per decilitre. Automated readers of test strips also provide results using units from the International System of Units.
[wikipedia](https://en.wikipedia.org/wiki/Urine_test_strip)

### 1. Urine Specific Gravity

In [170]:
data_filt[clean_up[0]].unique()

array([nan, '1.044', '1.028', '>1.060', '1.077', '1.020', '>1.040',
       '1.038', '>1.050', '>1.045', '1.045', '1.000', '1.040', '1.024',
       '1.035', '1.032', '1.037', '1.022', '1.017', '1.014', '1.042',
       '1.026', '1.023', '1.010', '1.036', '1.070', '1.050', '1.025',
       '1.019', '1.047', '1.016', '1.015', '1.013', '1.033', '1.056',
       '2.068', '1.080', '2', '1.060', '1.018', '1.008', '1.030', '1.046',
       '>>1.040', '1.012', '1.043', '1.055', '>1.035', '1.041', '1.052',
       '>1.080', '1.048', '1.034', '>1.065', '1.031', '1.027', '1.039',
       '1.074', '1.054', '1.098', '1.072', '1.068', '1.062', '1.090',
       '1.04', '>1.070', '1.021', '1.066', '>>1.045', '1.029', '1.049',
       '1.03', '1.05', '1.002', '1.065', '1.057', '>1.075', '1.004',
       '1.006', '>>1.050', '1.061'], dtype=object)

add another column if USG value contained '>' or '>>', then filter

In [171]:
data_filt['usg_maxed_out'] = data_filt[clean_up[0]].apply(lambda x: 1 if '>' in str(x) else 0)

In [172]:
data_filt[clean_up[0]] = data_filt[clean_up[0]].apply(lambda x: float(str(x).replace('>', '')))

In [173]:
data_filt[clean_up[1]].value_counts()

nil         534
trace        26
negative     24
2+           17
1+            8
3+            6
4+            6
+             1
-             1
Name: urine: glucose (Multistix), dtype: int64

### 2. glucose (Multistix)

In [174]:
data_filt[clean_up[1]] = data_filt[clean_up[1]].apply(lambda x: str(x).replace('-', 'negative'))
data_filt[clean_up[1]].replace({'+': '1+'}, inplace=True)

### 3. bilirubin (Multistix)

In [98]:
data_filt[clean_up[2]].value_counts()

nil         535
negative     22
1+           21
3+            8
2+            4
4+            2
trace         1
niil          1
-             1
large         1
ni            1
Name: urine: bilirubin (Multistix), dtype: int64

In [176]:
data_filt[clean_up[2]].replace({'-': 'negative', 'niil': 'nil', 'large': '3+', 'ni': 'nil'}, inplace=True)

### 4. ketones (Multistix)

In [102]:
data_filt[clean_up[3]].value_counts()

nil         535
negative     24
1+           16
3+           13
trace        11
2+            8
4+            2
+             1
nuil          1
Name: urine: ketones (Multistix), dtype: int64

In [177]:
data_filt[clean_up[3]].replace({'nuil': 'nil', '+': '1+'}, inplace=True)

In [178]:
data_filt[clean_up[3]].value_counts()

nil         536
negative     24
1+           17
3+           13
trace        11
2+            8
4+            2
Name: urine: ketones (Multistix), dtype: int64

### 5. blood (Hb -Multistix)

<div style="padding: 1rem ;color: yellow; font-weight:600; background-image: linear-gradient(to right, red , yellow)">! check with vet if this is ok - making two distinct columns</div>

In [108]:
data_filt[clean_up[4]].value_counts()

nil                   212
4+                    118
3+                     97
2+                     71
trace                  62
1+                     53
negative                7
trace haemolysed        4
0                       2
large                   1
il                      1
1+ (small)              1
trace (haemolysed)      1
1+ haemolysed           1
3+ haemolysed           1
5+                      1
haemolysed              1
+                       1
moderate 80             1
12                      1
1                       1
Name: urine: blood (Hb -Multistix), dtype: int64

In [181]:
data_filt['urine: blood haemolysed'] = data_filt[clean_up[4]].apply(lambda x: 1 if 'haem' in str(x) else 0)
# data_filt[clean_up[4]] = data_filt[clean_up[4]].apply(lambda x: str(x).replace('large', '4+'))
data_filt[clean_up[4]] = data_filt[clean_up[4]].apply(lambda x: 'nil' if 'il' in x else x)

# data_filt.loc[data_filt[clean_up[4]] == '+', [clean_up[4]]] = '1+'
# data_filt.loc[data_filt[clean_up[4]] == '1', [clean_up[4]]] = '1+'

data_filt[clean_up[4]] = data_filt[clean_up[4]].apply(lambda x: str(x).replace(' (haemolysed)', ''))
data_filt[clean_up[4]] = data_filt[clean_up[4]].apply(lambda x: str(x).replace(' haemolysed', ''))
data_filt[clean_up[4]] = data_filt[clean_up[4]].apply(lambda x: str(x).replace(' (small)', ''))
data_filt[clean_up[4]] = data_filt[clean_up[4]].apply(lambda x: str(x).replace('haemolysed', 'nil'))

data_filt[clean_up[4]].replace({'large': '4+', 'il': 'nil', '+': '1+', '1': '1+'}, inplace=True)

In [182]:
data_filt[clean_up[4]].value_counts()

nan            800
nil            214
4+             119
3+              98
2+              71
trace           67
1+              57
negative         7
0                2
12               1
5+               1
moderate 80      1
Name: urine: blood (Hb -Multistix), dtype: int64

<div style="padding: 1rem ;color: DarkBlue; font-weight:600; background-image: linear-gradient(to right, lightgreen, DarkTurquoise)">! unfinished - continue here checking with vet or resources about 0, 12, 'moderate 80'.</div>

### 6. pH

In [135]:
data_filt[clean_up[5]].value_counts()

6.5      128
6        117
6.0      107
8.5       51
7.5       43
7.0       43
5         39
5.0       26
8.0       21
7         19
9         18
8         17
5.5       14
9.0       11
6.2        1
>9.0       1
8.8        1
4+         1
trace      1
Name: urine: pH, dtype: int64

### 7. protein (Multistix)

In [140]:
data_filt[clean_up[6]].value_counts()

1+          216
2+          184
3+          118
trace        61
4+           46
nil          45
negative      5
5             2
3.0g/L        1
100           1
+             1
2+ (1.0)      1
-             1
1.0           1
Name: urine: protein (Multistix), dtype: int64

### 8. leukocytes (/cumm)x

In [143]:
data_filt[clean_up[7]].value_counts()

0         49
<10       22
10        18
<5        18
50        14
          ..
50-100     1
130        1
16         1
1-5        1
0-3        1
Name: urine: leukocytes (/cumm)x, Length: 64, dtype: int64

### 9. blood (RBC/ ul) (haematuriax)

In [142]:
data_filt[clean_up[8]].value_counts()

0              33
<10            20
>100           18
<5             17
10             11
               ..
15/hpf          1
<1              1
200             1
100-200/hpf     1
0-3             1
Name: urine: blood (RBC/ ul) (haematuriax, Length: 75, dtype: int64

<div style='color: FloralWhite; padding: 2rem; background-image: radial-gradient(farthest-corner at 40px 40px,
      #f35 0%, #43e 100%); font-weight: 500'>
<h2 style='padding: 0; margin-bottom: 1rem; margin-top:0;'> NEXT STEPS </h2>
      
<li>clean values for clean_up {in progress}</li>
<li>calculate age at each visit</li>
<li>impute missing values</li>
<li>look at number of records per cat</li>
<li>look at pattern and % missing values for analytes we're interested in</li>
<li>case/control distributions of key analytes</li>
<li>read the stats from Rachel's thesis</li>
<li>one-hot encoding of categorical columns </li>
<li>PCA, try some basic models</li>
    </div>

##### everything summary whatever

In [144]:
for i in range(len(clean_up)): 
    print(clean_up[i], data_filt[clean_up[i]].value_counts())

urine: Urine Specific Gravity 1.040    90
1.050    77
1.060    42
1.045    35
1.030    25
         ..
1.062     1
1.010     1
1.066     1
2.068     1
1.075     1
Name: urine: Urine Specific Gravity, Length: 66, dtype: int64
urine: glucose (Multistix) nan         815
nil         534
trace        26
negative     25
2+           17
1+            8
3+            6
4+            6
+             1
Name: urine: glucose (Multistix), dtype: int64
urine: bilirubin (Multistix) nil         535
negative     22
1+           21
3+            8
2+            4
4+            2
trace         1
niil          1
-             1
large         1
ni            1
Name: urine: bilirubin (Multistix), dtype: int64
urine: ketones (Multistix) nan         827
nil         536
negative     24
1+           16
3+           13
trace        11
2+            8
4+            2
+             1
Name: urine: ketones (Multistix), dtype: int64
urine: blood (Hb -Multistix) nan            800
nil            214
4+             119
3+              98
2+              71
trace           67
1+              55
negative         7
0                2
12               1
+                1
5+               1
1                1
moderate 80      1
Name: urine: blood (Hb -Multistix), dtype: int64
urine: pH 6.5      128
6        117
6.0      107
8.5       51
7.5       43
7.0       43
5         39
5.0       26
8.0       21
7         19
9         18
8         17
5.5       14
9.0       11
6.2        1
>9.0       1
8.8        1
4+         1
trace      1
Name: urine: pH, dtype: int64
urine: protein (Multistix) 1+          216
2+          184
3+          118
trace        61
4+           46
nil          45
negative      5
5             2
3.0g/L        1
100           1
+             1
2+ (1.0)      1
-             1
1.0           1
Name: urine: protein (Multistix), dtype: int64
urine: leukocytes (/cumm)x 0         49
<10       22
10        18
<5        18
50        14
          ..
50-100     1
130        1
16         1
1-5        1
0-3        1
Name: urine: leukocytes (/cumm)x, Length: 64, dtype: int64
urine: blood (RBC/ ul) (haematuriax 0              33
<10            20
>100           18
<5             17
10             11
               ..
15/hpf          1
<1              1
200             1
100-200/hpf     1
0-3             1
Name: urine: blood (RBC/ ul) (haematuriax, Length: 75, dtype: int64

___

# old things

one-hot encoding

In [17]:
bool_cols = []
float_cols = []
object_cols = []
for key in data_filt.columns:
    if data_filt[key].dtype == 'bool' or len(data_filt[key].unique()) <=3:
        bool_cols.append(key)
    elif data_filt[key].dtype == 'float64':
        float_cols.append(key)
    elif data_filt[key].dtype == 'O':
        object_cols.append(key)
    else:
        print('whoopsies: ', key, data_filt[key].dtype)

In [18]:
data_dummy = pd.get_dummies(data_filt,columns=bool_cols, drop_first=False)

### encoding and cleaning of the remainder
* **ARKS number:** leave as is but use as index only (remove for analysis)
* **drop:** 
* **one-hot:** Species (common name)
* **float64 with minimal cleaning:** haem: estimated platelets x 10^9/L (Hi), haem: haemoglobin (g/L), urine: pH, biochem: Bilirubin 
* **clean:** Age at Death(convert to days), urine: Urine Appearance, urine: Urine Specific Gravity, urine: Urine Specific Gravity, urine: bilirubin (Multistix), urine: ketones (Multistix), urine: blood (Hb -Multistix), urine: leukocytes, urine: blood (RBC/ ul) (haematuriax
* **TBD:** haem: estimated platelets  /HPF (Low), haem: plasma sample appearance, haem: RBC morphology, biochem: Serum/plasma appearance, urine: Positive urine culture comments

* calculate age at visit