In [ ]:
# this notebook is used to explore the data we have around diagnosis

In [1]:
import numpy as np
import pandas as pd
%matplotlib inline

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [2]:
# read in unified animal list
file = '../Data/big_cats/Access_DB_table_exports/PrevalenceIncludedFelidsTZ_ZV_WA_SA_MG_DM.xlsx'
data = pd.read_excel(file)

In [4]:
data.columns

Index(['Animal Name', 'ARKS Number', 'Microchip Number',
       'Species (common name)', 'Sex', 'Alternative ARKS Nos',
       'Studbook Number', 'GAN ID', 'Status (alive/deceased/transacted)',
       'Zoo Location', 'Date  of Birth', 'Date of Transaction',
       'Date of Death', 'Age in years at death', 'Date of Onset of Azoatemia',
       'Date of USG less than 1,035', 'Ante-mortem Dx of CKD',
       'Date of first low USG', 'Onset of azotaemia', 'Date of diagnosis',
       'Comments re kidney function', 'First report of CKD CS', 'Age at Death',
       'Cause of Death', 'Acute kidney failure', 'CKD - cause of mortality',
       'CKD - co-morbidity', 'Pyometra (survived)', 'Pyometra cause of death',
       'Unknown', 'Neonatal', 'Neurological', 'Endocrine', 'Neoplasia',
       'Old Age debility', 'Trauma', 'Infection', 'GIT',
       'Respiratory/Cardiovascular', 'Pathology Report Numbers',
       'Post Mortem Report Number', 'International transaction',
       'Dam ARKS Number', 'Sire ARKS Number', 'Sibling ARKS Number',
       'Transacted internationally', 'Hand-raised',
       'Housing (confined enclosure/open range)', 'Excluded from study?',
       'Comments:', 'Biochem data', 'Urine data'],
      dtype='object')

In [6]:
len(data)

424

In [7]:
len(data['ARKS Number'].unique())

424

In [8]:
data['Ante-mortem Dx of CKD'].value_counts()

False    410
True      14
Name: Ante-mortem Dx of CKD, dtype: int64

In [9]:
data['CKD - cause of mortality'].value_counts()

False    348
True      76
Name: CKD - cause of mortality, dtype: int64

In [14]:
len(data[(data['CKD - cause of mortality'] == True) & (data['Ante-mortem Dx of CKD'] == True)])

11

In [15]:
data['Date of diagnosis'].value_counts()

2011-11-16    1
2013-03-07    1
2001-03-01    1
1973-01-23    1
Name: Date of diagnosis, dtype: int64

In [17]:
data['First report of CKD CS'].value_counts()

28-jul-10    2
20-3-92      1
25-10-02     1
21-Oct-94    1
22-may-08    1
16-may-99    1
Name: First report of CKD CS, dtype: int64

In [19]:
data['Onset of azotaemia'].value_counts().sum()

56

In [21]:
data['Date of first low USG'].value_counts().sum()

39

In [22]:
data['Date of USG less than 1,035'].value_counts()

Series([], Name: Date of USG less than 1,035, dtype: int64)