In [ ]:
# this notebook is used to explore the data we have around diagnosis

In [ ]:
# cross check dates of first azotemia, low USG with diagnoses
# come up with scheme for first diagnosed date
# generally look at what diagnosis info we have
# add a column to diagnose based on IRIS reference ranges
# add a column for Rachel's diagnosis reference range for species she calculated

In [ ]:
# 'Date of Onset of Azoatemia'  completely empty
# 'Date of USG less than 1,035' empty
# 'Onset of azotaemia' these are dates and there are 56 of them

In [ ]:
# SCHEME FOR INFERRING DATE OF DIAGNOSIS
# logic_flag
# 0: can't infer
# 1: date of diagnosis (4 cats)
# 2. 'First report of CKD CS' (7)
# 3. Ante-mortem Dx TRUE and use earliest 'Onset of azotaemia' / 'Date of first low USG'
# 4. Died of CKD  and use earliest 'Onset of azotaemia' / 'Date of first low USG'

# sometimes the first indicator date is the same as date of death.  Once labeling is done will need to compare date of death and fisrt indicator date and consider excluding record if these are too close in time.

In [13]:
import numpy as np
import pandas as pd
%matplotlib inline

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [14]:
# read in unified animal list
file = '../Data/big_cats/Access_DB_table_exports/PrevalenceIncludedFelidsTZ_ZV_WA_SA_MG_DM.xlsx'
data = pd.read_excel(file)

In [15]:
data.columns

Index(['Animal Name', 'ARKS Number', 'Microchip Number',
       'Species (common name)', 'Sex', 'Alternative ARKS Nos',
       'Studbook Number', 'GAN ID', 'Status (alive/deceased/transacted)',
       'Zoo Location', 'Date  of Birth', 'Date of Transaction',
       'Date of Death', 'Age in years at death', 'Date of Onset of Azoatemia',
       'Date of USG less than 1,035', 'Ante-mortem Dx of CKD',
       'Date of first low USG', 'Onset of azotaemia', 'Date of diagnosis',
       'Comments re kidney function', 'First report of CKD CS', 'Age at Death',
       'Cause of Death', 'Acute kidney failure', 'CKD - cause of mortality',
       'CKD - co-morbidity', 'Pyometra (survived)', 'Pyometra cause of death',
       'Unknown', 'Neonatal', 'Neurological', 'Endocrine', 'Neoplasia',
       'Old Age debility', 'Trauma', 'Infection', 'GIT',
       'Respiratory/Cardiovascular', 'Pathology Report Numbers',
       'Post Mortem Report Number', 'International transaction',
       'Dam ARKS Number', 'Sire ARKS Number', 'Sibling ARKS Number',
       'Transacted internationally', 'Hand-raised',
       'Housing (confined enclosure/open range)', 'Excluded from study?',
       'Comments:', 'Biochem data', 'Urine data'],
      dtype='object')

In [16]:
diagnosis_date_labeling = data[['ARKS Number', 'Ante-mortem Dx of CKD', 'Date of first low USG', 'Onset of azotaemia', 'Date of diagnosis', 'First report of CKD CS', 'Cause of Death', 'CKD - cause of mortality', 'Date of Death']]
diagnosis_date_labeling

,ARKS Number,Ante-mortem Dx of CKD,Date of first low USG,Onset of azotaemia,Date of diagnosis,First report of CKD CS,Cause of Death,CKD - cause of mortality,Date of Death
0,800100,False,NaT,NaT,NaT,NaN,euthanasia- renal failure,True,1982-04-24
1,A49221,False,2013-04-04,2013-03-03,NaT,NaN,CKD and corneal ulcer,True,2013-04-04
2,890000,True,1998-05-28,2001-03-01,2001-03-01,NaN,CKD,True,2001-07-03
3,K46,True,NaT,NaT,1973-01-23,NaN,CKD,True,1973-05-23
4,K0095,False,NaT,NaT,NaT,NaN,"kidney stones, haematuria, old age",True,1986-12-24
5,900248,False,NaT,NaT,NaT,NaN,CKD,True,2004-10-28
6,730024,True,NaT,NaT,NaT,NaN,"CKD, pulmonary adenocarcinoma",True,1990-05-01
7,A20021,True,2012-09-21,2015-08-24,NaT,NaN,pyelonephritis,True,2015-08-24
8,921430,False,2000-03-28,2001-05-29,NaT,NaN,"TIN R kidney and chronic cystitis, nephrolith,...",True,2001-06-18
9,820016,False,NaT,NaT,NaT,NaN,glomerulonephritis and glomerulosclerosis,True,1989-06-27
10,920185,True,1999-06-16,1999-09-15,NaT,NaN,chronic pyelonephrititis,True,2000-11-16
11,911073,False,NaT,NaT,NaT,NaN,glomerulonephritis,True,2009-09-02
12,880014,False,NaT,NaT,NaT,NaN,CKD TIN,True,1997-07-07
13,760101,False,NaT,NaT,NaT,NaN,chronic renal degeneration (TIN),True,1977-05-30
14,980123,False,2008-12-10,2011-10-10,NaT,NaN,"Pyelonephritis, ,TIN, CKD",True,2011-10-10
15,810053,False,NaT,NaT,NaT,NaN,"CKD - severe chronic glomerulonephritis, pyelo...",True,1999-11-20
16,700022,False,NaT,NaT,NaT,NaN,pyelonephritis - Entercoccus,True,1990-01-02
17,850007,False,NaT,NaT,NaT,NaN,"old age, end stage kidneys",True,1997-08-11
18,960094,False,2008-05-28,2008-05-28,NaT,NaN,long history of renal disease,True,2008-11-13
19,880045,False,NaT,NaT,NaT,NaN,severe generalised glomerulonephritis,True,2008-07-02
20,790026,False,NaT,NaT,NaT,16-may-99,"pyelonepritis, glomerulonephritis, cystitis, a...",True,2001-11-07
21,950908,False,NaT,2010-02-08,NaT,NaN,"old age, CKD, spondylosis, L FORE LAMENESS",True,2010-02-08
22,930229,True,2001-06-13,2002-07-18,NaT,NaN,pyelonephritis,True,2002-08-14
23,999025,False,NaT,2010-02-05,NaT,NaN,renal failure,True,2010-08-19
24,A50002,False,NaT,NaT,NaT,NaN,CKD,True,2014-11-06
25,950063,False,NaT,NaT,NaT,NaN,renal transplant recipient - unsuccessful,True,2001-09-16
26,A10081,False,NaT,NaT,NaT,NaN,CKD,True,2014-01-06
27,A40003,False,2011-10-01,2011-09-21,NaT,NaN,currently has CKD,True,NaT
28,960142,False,NaT,NaT,NaT,NaN,CKD,True,2015-01-15
29,750005,False,NaT,NaT,NaT,20-3-92,CKD,True,1995-06-26
30,A10083,False,NaT,2010-09-27,2011-11-16,NaN,"euthanased - CKD, nonhealing corneal ulcer",True,2015-04-02
31,910624,False,NaT,NaT,NaT,NaN,"CKD, papillary adenocarcinoma with pulmonary m...",True,2003-01-13
32,A10010,False,NaT,NaT,NaT,NaN,CKD,True,NaT
33,820095,False,NaT,NaT,NaT,NaN,renal failure,True,1993-02-05
34,999027,False,NaT,2009-07-11,NaT,NaN,renal failure,True,2009-10-01
35,B09072,False,2013-05-16,2013-04-25,NaT,NaN,CKD,True,2013-05-16
36,950079,False,1998-01-23,1998-01-23,NaT,NaN,"sepsis, multiorgan failure, myocardial disease...",True,1998-08-16
37,890114,False,2008-11-20,2008-11-20,NaT,NaN,pyelonephritis,True,2008-11-24
38,MGTiger7,False,NaT,1996-11-21,NaT,NaN,"renal dz, liver dx, old age",True,1997-03-18
39,950061,False,2010-11-11,2011-04-20,NaT,NaN,CKD,True,2012-06-20
40,A00906,False,NaT,NaT,NaT,NaN,renal papillary necrosis,True,2011-04-24
41,A80047,True,2010-08-19,2012-04-30,NaT,NaN,glomerulosclerosis,True,2012-08-27
42,A70193,False,NaT,2009-03-04,NaT,NaN,azotaemic,True,NaT
43,999024,False,2006-04-25,2007-08-17,NaT,NaN,renal failure,True,2007-08-22
44,980508,False,NaT,NaT,NaT,NaN,unknown,True,2008-12-15
45,790038TZ,False,NaT,NaT,NaT,NaN,low USG,True,1990-05-02
46,A06001,False,NaT,NaT,NaT,NaN,chronic kidney disease,True,2014-10-03
47,8/32,False,NaT,NaT,NaT,NaN,interstitial nephritis and tubular nephrosis,True,1974-07-26
48,900485,False,NaT,NaT,NaT,NaN,low USGs,True,2004-11-21
49,970005,False,NaT,NaT,NaT,NaN,"23 yrs old, euthanased due to poor condition. ...",True,2009-05-27
50,690004,False,NaT,NaT,NaT,NaN,glomrulonephrosis,True,1982-09-21
51,790038,False,1996-09-07,1997-11-19,NaT,NaN,CKD - pyelonephritis,True,1997-11-23
52,A50189,False,2014-08-27,2014-08-27,NaT,NaN,"bout of dehydration, AKI, now persistent low USG",True,NaT
53,950062,False,NaT,NaT,NaT,NaN,CKD,True,2007-11-06
54,990948,False,NaT,NaT,NaT,NaN,renal failure,True,2014-11-17
55,770005,False,NaT,NaT,NaT,21-Oct-94,chronic severe glomerulonephritis and renal cyst,True,1994-12-07
56,910517,False,NaT,NaT,NaT,NaN,"lumbar spondylosis, renal calculi, CKD - TIN a...",True,2003-03-13
57,730023,False,NaT,NaT,NaT,NaN,renal failure,True,1992-03-17
58,970006,False,NaT,NaT,NaT,NaN,R kidney grossly deformed samples cryopreserve...,True,2008-10-26
59,950077,True,1998-06-09,1998-09-30,NaT,NaN,CKD,True,1999-02-09
60,960095,False,2004-11-17,2004-11-17,NaT,NaN,"amyloid, interstitial fibrosis, some calcifie...",True,2004-12-08
61,A30035,True,NaT,NaT,NaT,NaN,"renal failure, old age",True,2012-05-30
62,A10080,False,2012-02-07,2012-02-07,NaT,NaN,"renal failure, old age",True,2014-04-18
63,850083,True,1995-09-20,2001-06-29,NaT,NaN,renal failure,True,2002-03-28
64,840033,False,2001-07-25,2001-08-04,NaT,NaN,"CRF, glomerulonephritis, pyelonephritis",True,2001-08-09
65,980084,False,2007-07-05,2007-07-04,NaT,NaN,alive - bout of AKI,True,NaT
66,A02064,False,NaT,NaT,NaT,NaN,chronic kindeydisease,True,2012-06-12
67,A10134,False,2002-06-27,2008-05-22,NaT,22-may-08,renal failure,True,2008-05-27
68,870008,True,2000-07-28,2000-07-28,NaT,NaN,pyelonephritis,True,2000-08-25
69,A49219,False,NaT,2013-01-25,2013-03-07,NaN,renal failure,True,2014-07-30
70,960069,False,2009-02-02,2009-02-06,NaT,NaN,"chronic kidney disease, hip DJD",True,2011-08-01
71,960093,False,2004-10-25,2004-10-29,NaT,NaN,"TIN, amyloidosis",True,2004-11-04
72,750011TZ,False,1989-03-07,1990-05-31,NaT,NaN,"CKD pyelonephritis, TIN",True,1990-07-24
73,743063,False,NaT,NaT,NaT,NaN,Salmonellosis nephritis and glomerulonephritis,True,1974-10-13
74,950075,False,2001-05-10,1997-02-20,NaT,NaN,renal failure,True,2001-11-07
75,890004,False,NaT,NaT,NaT,NaN,pyelonephritis,True,2002-09-10
76,790036,False,NaT,NaT,NaT,NaN,euthanased protein losing nephropathy,False,1996-07-18
77,860081,False,NaT,NaT,NaT,NaN,old age - discospondylosis and CKD,False,2006-03-29
78,A70551,False,2008-12-18,2008-12-19,NaT,NaN,azotaemic,False,NaT
79,990091,False,NaT,NaT,NaT,NaN,"persistently low USG, renal insufficiency",False,NaT
80,730013,False,NaT,NaT,NaT,NaN,"euthanased old age, inappetant, weight loss",False,1990-02-21
81,A10012,False,NaT,NaT,NaT,NaN,NaN,False,NaT
82,780049,False,NaT,NaT,NaT,NaN,"eutanased old age, unable to stand",False,2000-09-02
83,960035,False,NaT,NaT,NaT,NaN,mesenteric root torsion,False,2002-12-20
84,999026,False,NaT,NaT,NaT,NaN,"old age, renal insufficiency arthritis",False,2012-08-09
85,990293,False,NaT,NaT,NaT,NaN,elevated creat and lowerring USG,False,NaT
86,900959,False,NaT,NaT,NaT,NaN,sudden death due to splenic rupture/haemorrhag...,False,2006-01-02
87,850093,False,NaT,NaT,NaT,NaN,"renal dysfunction, traumatic paralysis",False,1986-05-04
88,800015,False,NaT,NaT,NaT,NaN,chronic progressive neurological disease,False,1996-08-20
89,840019,False,NaT,NaT,NaT,NaN,old age,False,2000-08-20
90,950076,False,NaT,NaT,NaT,NaN,"hepatopathy, chronic pancreatitis, glomerulone...",False,2000-03-23
91,960997,False,NaT,NaT,NaT,NaN,low USG,False,NaT
92,950078,True,NaT,2008-09-05,NaT,NaN,"old age, CKD co-morbidity",False,2008-09-05
93,200003,False,NaT,NaT,NaT,NaN,old age,False,2015-01-20
94,780001,False,NaT,NaT,NaT,NaN,"meningioma, fitting, old age kdiney changes",False,1998-10-10
95,760022,False,NaT,NaT,NaT,NaN,"ataxic, blood from nose, euthanased",False,1998-07-17
96,790037,False,NaT,NaT,NaT,NaN,"metastatic adrenocortical adenocarcinoma, chro...",False,1995-03-28
97,760038,False,NaT,NaT,NaT,NaN,"old age, heart disease - myocardial fibrosis o...",False,1991-07-03
98,A80674,False,NaT,NaT,NaT,NaN,"FSE, peracute collapse, mild chronic unilatera...",False,2011-01-21
99,960461,False,NaT,NaT,NaT,NaN,"FLUTD, SCC of feet, low USG",False,2008-09-09
100,740101,False,NaT,NaT,NaT,NaN,"jaundice, hepatic disease, pyelonephritis",False,1983-06-24
101,999022,False,NaT,NaT,NaT,NaN,"age, submandib fistula",False,2009-08-07
102,A20062,False,NaT,NaT,NaT,NaN,"haematuria, snake bite??",False,2014-01-31
103,A40002,False,NaT,NaT,NaT,NaN,died of pneumonia. Mild glomerulosclerosis a...,False,2009-09-01
104,820013,False,NaT,NaT,NaT,NaN,metastatic lymphosarcoma and glomerulonephritis,False,1995-08-01
105,860057,False,NaT,NaT,NaT,NaN,"euthanasia - progressive hind limb paresis, sp...",False,2003-10-13
106,A50433,False,NaT,NaT,NaT,NaN,"bout of AKI, transacted to Billabong",False,NaT
107,820029,False,NaT,NaT,NaT,NaN,"suppurative hepatic necrosis, jaundice, chroni...",False,1996-12-01
108,950451,False,NaT,NaT,NaT,28-jul-10,low USG - in renal insufficiency,False,NaT
109,960995,False,NaT,NaT,NaT,NaN,fractured prox L humerus,False,2012-02-29
110,970007,False,NaT,NaT,NaT,NaN,osteosarcoma,False,2008-02-08
111,750007,False,NaT,NaT,NaT,NaN,"intervertebral disc disease, blind, deaf",False,1988-11-08
112,840025,False,NaT,NaT,NaT,NaN,"euthanased old, curatorial decision",False,1995-08-24
113,B29059,False,NaT,NaT,NaT,NaN,NaN,False,NaT
114,810034,False,NaT,NaT,NaT,NaN,mild glomerulonephritis age related changes h...,False,1995-12-21
115,980912,False,NaT,NaT,NaT,NaN,TCC,False,2013-02-13
116,970008,False,NaT,NaT,NaT,NaN,old age,False,2014-10-28
117,720019,False,NaT,NaT,NaT,NaN,"CKD, pyometra, emphysema (respiratory diseaes",False,1989-08-07
118,990008,False,NaT,NaT,NaT,NaN,NaN,False,NaT
119,830014,False,NaT,2003-03-07,NaT,NaN,"old age, osteoarthritis",False,2003-03-07
120,A10174,False,2002-05-28,2002-09-30,NaT,25-10-02,"CKD, glomerulopathy, severe leg trauma from ca...",False,2004-06-16
121,A39020,False,NaT,NaT,NaT,NaN,elevated creatinine,False,NaT
122,A20047,False,NaT,NaT,NaT,NaN,"anal gland abscess, old age, CKD",False,2004-07-09
123,930431,False,NaT,NaT,NaT,NaN,perianal adenocarcinoma metastatic,False,2008-08-04
124,A80001,False,NaT,NaT,NaT,NaN,NaN,False,NaT
125,670005,True,1988-05-13,1988-03-29,NaT,NaN,"acute brain inflammation and necrosis, CKD",False,1988-05-25
126,810001,False,NaT,NaT,NaT,NaN,"hepatitis, fibrosis of kidneys on gross PM",False,1983-10-31
127,980082,False,NaT,NaT,NaT,NaN,persistently low USG,False,NaT
128,980910,False,2012-01-23,2012-01-23,NaT,NaN,"TCC,LIN",False,2012-01-23
129,800015TZ,False,NaT,NaT,NaT,NaN,pheochromocytoma,False,1997-05-26
130,K55,False,NaT,NaT,NaT,NaN,neoplasia,False,1973-09-19
131,930430,True,1999-08-12,2004-09-08,NaT,NaN,renal lymphosarcoma (FeLV postive in 1994),False,2004-09-10
132,B00021,False,NaT,NaT,NaT,NaN,bout of AKI pyelonphritis,False,NaT
133,A02063,False,NaT,NaT,NaT,NaN,"pancreatitis, severe acute pancreatic necrosis",False,2013-01-12
134,840034,False,NaT,1999-07-23,NaT,NaN,metastatic uterine adenocarcinoma,False,1999-07-23
135,890290,False,NaT,NaT,NaT,NaN,"old age, progressnive retinal atrophy, spinal ...",False,2010-07-12
136,990294,False,NaT,NaT,NaT,NaN,low USG but no azot. Renal insufficiency,False,NaT
137,960029,False,2009-04-11,2009-04-11,NaT,NaN,"old, mild azotaemia",False,NaT
138,A40080,False,2013-08-16,2011-07-25,NaT,NaN,elevated creatinine,False,NaT
139,980081,False,NaT,NaT,NaT,NaN,Haemangiosarcoma/R hip arthritis,False,2012-12-20
140,970009,False,NaT,2013-01-20,NaT,NaN,azotaemic,False,NaT
141,Tiger,False,NaT,NaT,NaT,NaN,"diabetic ketoacidosis, renal medullary amyloid...",False,1985-09-11
142,A40005,False,NaT,2009-10-09,NaT,NaN,elevated creatinine,False,NaT
143,A40004,False,2011-06-16,2009-11-20,NaT,NaN,elevated creatinine,False,NaT
144,820014,False,NaT,NaT,NaT,NaN,metastatic pancreatic adenocarcinoma,False,2005-12-22
145,A60598,False,NaT,2008-12-19,NaT,28-jul-10,"mild azotaemia, low USG",False,NaT
146,810046,False,NaT,NaT,NaT,NaN,sudden death cause unknown - not related to mi...,False,1998-04-07
147,A40152,False,NaT,NaT,NaT,NaN,metastatic bladder TCC,False,2007-11-21
148,900249,False,NaT,NaT,NaT,NaN,"old age, natural death, CKD",False,2007-12-25
149,A70011,False,NaT,NaT,NaT,NaN,NaN,False,NaT
150,B00024,False,NaT,NaT,NaT,NaN,NaN,False,NaT
151,B10071,False,NaT,NaT,NaT,NaN,NaN,False,NaT
152,640004,False,NaT,NaT,NaT,NaN,"euthanased -emphysema, aspiration pneumonia",False,1984-04-13
153,B10070,False,NaT,NaT,NaT,NaN,NaN,False,NaT
154,B30002,False,NaT,NaT,NaT,NaN,NaN,False,NaT
155,A20124,False,NaT,NaT,NaT,NaN,NaN,False,NaT
156,B00584,False,NaT,NaT,NaT,NaN,lost to ISIS tracking at 5yo,False,NaT
157,810056,False,NaT,NaT,NaT,NaN,oral SCC - euthanasia,False,2001-03-09
158,A40081,False,NaT,NaT,NaT,NaN,NaN,False,NaT
159,A30311,False,NaT,NaT,NaT,NaN,NaN,False,NaT
160,890026,False,NaT,NaT,NaT,NaN,transacted to Wellington Zoo,False,2006-02-28
161,A80000,False,NaT,NaT,NaT,NaN,NaN,False,NaT
162,800075,False,NaT,NaT,NaT,NaN,"old age, fell out of tree, injuries and tumour...",False,2000-02-29
163,A00902,False,NaT,NaT,NaT,NaN,euthanased brain abscess,False,2002-02-27
164,790036MZ,False,NaT,NaT,NaT,NaN,"euthanased - pyometra, old age, corneal ulcer,",False,1989-09-15
165,B20026,False,NaT,NaT,NaT,NaN,NaN,False,NaT
166,A40034MG,False,NaT,NaT,NaT,NaN,"transacted to Altina with 'Tim""",False,NaT
167,A20020,False,NaT,NaT,NaT,NaN,NaN,False,NaT
168,A00482,False,NaT,NaT,NaT,NaN,acute kidney failure,False,2015-04-24
169,A50305,False,NaT,NaT,NaT,NaN,Trans to HAMILTON NZ,False,NaT
170,810044,False,NaT,NaT,NaT,NaN,euthanasia - stereotypic behaviours,False,1991-04-24
171,990007,False,NaT,NaT,NaT,NaN,NaN,False,NaT
172,800017,False,NaT,NaT,NaT,NaN,haemangiosarcoma of pelvic bone - large pelvic...,False,1998-12-13
173,A40238,False,NaT,NaT,NaT,NaN,NaN,False,NaT
174,800164,False,NaT,NaT,NaT,NaN,"cardiac failure, CHF",False,1987-09-02
175,920534,False,NaT,NaT,NaT,NaN,old age,False,1994-04-18
176,770006,False,NaT,NaT,NaT,NaN,conspecific trauma,False,1997-11-02
177,A00903,False,NaT,NaT,NaT,NaN,NaN,False,NaT
178,850018,False,NaT,NaT,NaT,NaN,unknown - transacted to NZ as mature cat,False,2002-09-18
179,960996,False,NaT,NaT,NaT,NaN,metastatic lymphoma liver and spleen,False,2013-05-25
180,970073,False,NaT,NaT,NaT,NaN,trans to Auckland Zoo,False,1999-01-28
181,720004MZ,False,NaT,NaT,NaT,NaN,euthanased - surplus - NAD on PM,False,1983-11-11
182,790032,False,NaT,NaT,NaT,NaN,"old age, unknown",False,1991-07-27
183,A70010,False,NaT,NaT,NaT,NaN,NaN,False,NaT
184,810178,False,NaT,NaT,NaT,NaN,death due to conspecific inflicted bite wounds,False,1985-01-04
185,810041,False,NaT,NaT,NaT,NaN,"neurological signs, acute oxalate nephrosis",False,1985-06-20
186,A10011,False,NaT,NaT,NaT,NaN,NaN,False,NaT
187,920453,False,NaT,NaT,NaT,NaN,"Osteosarcoma R fore, dilated cardiomyopathy",False,2010-04-11
188,940150,False,NaT,NaT,NaT,NaN,lost to ISIS tracking,False,NaT
189,A9002?,False,NaT,NaT,NaT,NaN,NaN,False,NaT
190,930045,False,NaT,NaT,NaT,NaN,mammary carcinoma and nasal fibrosarcoma,False,2003-08-27
191,0462,False,NaT,NaT,NaT,NaN,spondylosis - euthanased,False,1974-08-06
192,A30376,False,NaT,NaT,NaT,NaN,transacted to ORANA,False,NaT
193,A40034,False,NaT,NaT,NaT,NaN,NaN,False,NaT
194,890027,False,NaT,NaT,NaT,NaN,transacted to Wellington Zoo,False,2006-01-28
195,800066,False,NaT,NaT,NaT,NaN,euthanased due to chronic illness,False,1990-12-06
196,800016,False,NaT,NaT,NaT,NaN,euthanased - perianal adenocarcinoma,False,1986-10-28
197,0190,False,NaT,NaT,NaT,NaN,tradetoCrocodylus,False,NaT
198,840101,False,NaT,NaT,NaT,NaN,euthanased severe shoulder arthritis,False,1989-04-26
199,B20036,False,NaT,NaT,NaT,NaN,seizures - encephalitis,False,2013-03-19
200,850101,False,NaT,NaT,NaT,NaN,sudden death in enclosure,False,2004-04-25
201,700004,False,NaT,NaT,NaT,NaN,"acute nephrosis - sudden death, tubular degene...",False,1981-05-02
202,A40001,False,2009-04-29,2009-04-23,NaT,NaN,died without CKD. Mammary carcinoma,False,2009-04-29
203,A80003,False,NaT,NaT,NaT,NaN,NaN,False,NaT
204,A90072,False,NaT,NaT,NaT,NaN,NaN,False,NaT
205,A50007,False,NaT,NaT,NaT,NaN,died from cervical trauma attack from conspeci...,False,2011-12-05
206,A00904,False,NaT,NaT,NaT,NaN,NaN,False,NaT
207,920259,False,NaT,NaT,NaT,NaN,healthy,False,2006-09-24
208,A70297,False,NaT,NaT,NaT,NaN,NaN,False,NaT
209,A80002,False,NaT,NaT,NaT,NaN,NaN,False,NaT
210,790025,False,NaT,NaT,NaT,NaN,"old age, ataxia, pancreatic amyloidosis",False,1998-07-29
211,B29101,False,NaT,NaT,NaT,NaN,NaN,False,NaT
212,B39038,False,NaT,NaT,NaT,NaN,NaN,False,NaT
213,B00026,False,NaT,NaT,NaT,NaN,NaN,False,NaT
214,B00014,False,NaT,NaT,NaT,NaN,NaN,False,NaT
215,A50085,False,NaT,NaT,NaT,NaN,transacted to Hamilton NZ,False,2012-12-15
216,960030,False,NaT,NaT,NaT,NaN,NaN,False,NaT
217,B00002,False,NaT,NaT,NaT,NaN,NaN,False,NaT
218,B00020,False,NaT,NaT,NaT,NaN,NaN,False,NaT
219,760011,False,NaT,NaT,NaT,NaN,"peritonitis and uterine abnormality, diarrhoea",False,1983-05-16
220,B00025,False,NaT,NaT,NaT,NaN,NaN,False,NaT
221,790029,False,NaT,NaT,NaT,NaN,"euthanased, chronic health problmes",False,1991-01-20
222,A79193,False,NaT,NaT,NaT,NaN,NaN,False,NaT
223,B40028NAT,False,NaT,NaT,NaT,NaN,NaN,False,NaT
224,A80112,False,NaT,NaT,NaT,NaN,lost to ISIS tracking,False,NaT
225,0263,False,NaT,NaT,NaT,NaN,to Crocodylus,False,NaT
226,A50018,False,NaT,NaT,NaT,NaN,transacted Altina with Narla,False,NaT
227,B19036,False,NaT,NaT,NaT,NaN,NaN,False,NaT
228,980201,False,NaT,NaT,NaT,NaN,"tranacted to Wuppertal, Germany",False,2015-08-25
229,B10061,False,NaT,NaT,NaT,NaN,NaN,False,NaT
230,A06000,False,2008-07-09,2008-07-09,NaT,NaN,acute renal failure,False,2008-08-22
231,B30147,False,NaT,NaT,NaT,NaN,NaN,False,NaT
232,A40079,False,NaT,NaT,NaT,NaN,transacted to Hamilton,False,NaT
233,A00005,False,NaT,NaT,NaT,NaN,died of causes other tha CKD,False,2009-03-17
234,B29102,False,NaT,NaT,NaT,NaN,NaN,False,NaT
235,A80060,False,NaT,NaT,NaT,NaN,NaN,False,NaT
236,A80260,False,NaT,NaT,NaT,NaN,NaN,False,NaT
237,Jean,False,NaT,NaT,NaT,NaN,NAD on histopath,False,1981-10-14
238,B39037,False,NaT,NaT,NaT,NaN,NaN,False,NaT
239,A00046,False,NaT,NaT,NaT,NaN,lost to tracking,False,NaT
240,A70009,False,NaT,NaT,NaT,NaN,NaN,False,NaT
241,B20016,False,NaT,NaT,NaT,NaN,NaN,False,NaT
242,A30375,False,NaT,NaT,NaT,NaN,NaN,False,NaT
243,980864,False,NaT,NaT,NaT,NaN,"pancreatitis, acute renal papillary necrosis, TSE",False,2002-03-04
244,B40029NAT,False,NaT,NaT,NaT,NaN,NaN,False,NaT
245,Justin,False,NaT,NaT,NaT,NaN,Euthanased - osteodystrohy,False,1984-02-02
246,A20020TIGER,False,NaT,NaT,NaT,NaN,NaN,False,NaT
247,A90059,False,NaT,NaT,NaT,NaN,NaN,False,NaT
248,850041,False,NaT,NaT,NaT,NaN,NaN,False,NaT
249,A49217,False,NaT,NaT,NaT,NaN,transacted to Aust Zoo,False,2011-10-17
250,930230,False,NaT,NaT,NaT,NaN,Penetrating skull bite wounds - killed by cons...,False,1993-09-30
251,890028,False,NaT,NaT,NaT,NaN,thiamine deficiency,False,1991-03-30
252,Karl,False,NaT,NaT,NaT,NaN,sudden death acute aspiration pneumonia/asphyx...,False,1979-01-23
253,B10352,False,NaT,NaT,NaT,NaN,NaN,False,NaT
254,A10243,False,NaT,NaT,NaT,NaN,Abdominal mass,False,NaT
255,A20122,False,NaT,NaT,NaT,NaN,healthy,False,NaT
256,A10244,False,NaT,NaT,NaT,NaN,to SYMBIO,False,NaT
257,870036,False,NaT,NaT,NaT,NaN,"purulent peritonitis, E.coli from pyometra, su...",False,2002-09-19
258,MGSnLeopard,False,NaT,NaT,NaT,NaN,NaN,False,NaT
259,B20037,False,NaT,NaT,NaT,NaN,NaN,False,NaT
260,910080,False,NaT,NaT,NaT,NaN,killed by conspecific,False,1996-10-27
261,B10351,False,NaT,NaT,NaT,NaN,NaN,False,NaT
262,B29105,False,NaT,NaT,NaT,NaN,NaN,False,NaT
263,B20133,False,NaT,NaT,NaT,NaN,NaN,False,NaT
264,A59060,False,NaT,NaT,NaT,NaN,NaN,False,NaT
265,A59013,False,NaT,NaT,NaT,NaN,NaN,False,NaT
266,A90028,False,NaT,NaT,NaT,NaN,NaN,False,NaT
267,A90698,False,NaT,NaT,NaT,NaN,NaN,False,NaT
268,980909,False,NaT,NaT,NaT,NaN,lost to ISIS tracking,False,NaT
269,B20032,False,NaT,NaT,NaT,NaN,killed by conspecific,False,2012-12-14
270,880075,False,NaT,NaT,NaT,NaN,splenic lymphosarcoma,False,1998-11-21
271,A20123,False,NaT,NaT,NaT,NaN,NaN,False,NaT

In [12]:
# write to csv to label
file = '../Data/big_cats/processed_data/diagnosis_date_labeling.csv'
diagnosis_info.to_csv(file, index=False)

In [ ]:
break

In [ ]:
# SCHEME FOR INFERRING DATE OF DIAGNOSIS
# logic_flag
# 0: can't infer
# 1: date of diagnosis (4 cats)
# 2. 'First report of CKD CS' (7)
# 3. Ante-mortem Dx TRUE and use earliest 'Onset of azotaemia' / 'Date of first low USG'
# 4. Died of CKD  and use earliest 'Onset of azotaemia' / 'Date of first low USG'

In [58]:
data['inferred_diagnosis_date'] = None
data['logic_flag'] = 0

logic_flag_4 =(data['CKD - cause of mortality']) & ((data['Onset of azotaemia'].notnull()) | (data['Date of first low USG'].notnull()) )
data.loc[logic_flag_4, 'logic_flag'] = 4
data.loc[logic_flag_4, 'inferred_diagnosis_date'] = data[logic_flag_4][['Onset of azotaemia', 'Date of first low USG']].min(axis=1)

logic_flag_3 =(data['Ante-mortem Dx of CKD']) & ((data['Onset of azotaemia'].notnull()) | (data['Date of first low USG'].notnull()) )
data.loc[logic_flag_3, 'logic_flag'] = 3
data.loc[logic_flag_3, 'inferred_diagnosis_date'] = data[logic_flag_3][['Onset of azotaemia', 'Date of first low USG']].min(axis=1)

logic_flag_2 = data['First report of CKD CS'].notnull()
data.loc[logic_flag_2, 'logic_flag'] = 2
data.loc[logic_flag_2, 'inferred_diagnosis_date'] = data[logic_flag_2]['First report of CKD CS']

logic_flag_1 = data['Date of diagnosis'].notnull()
data.loc[logic_flag_1, 'logic_flag'] = 1
data.loc[logic_flag_1, 'inferred_diagnosis_date'] = data[logic_flag_1]['Date of diagnosis']

data['inferred_diagnosis_date'] = pd.to_datetime(data['inferred_diagnosis_date'])

In [59]:
data

                  Animal Name  ARKS Number  \
0                       Amber       800100
1                      Askari       A49221
2                      Audrey       890000
3                      Bengal          K46
4                   Blackfoot        K0095
5                       Boozi       900248
6                      Caesar       730024
7                      Cantik       A20021
8                        Chad       921430
9                       Chaka       820016
10                    Chester       920185
11                        Cim       911073
12                   Claudius       880014
13                      Dusty       760101
14                     Fiddle       980123
15                      Frank       810053
16                        Gai       700022
17             Gus (Augustus)       850007
18                     Haraka       960094
19                     Hector       880045
20                      Helen       790026
21                     IncaMZ       950908
22                Indira Maha       930229
23                     Induna       999025
24                   Inkosana       A50002
25                        Jai       950063
26                       Jala       A10081
27                     Jarrah       A40003
28                      Juara       960142
29                    Katamai       750005
30                     Kifani       A10083
31                      Lanka       910624
32                       Lari       A10010
33                      Libby       820095
34                       Lula       999027
35                     Masuka       B09072
36                    Mawimbi       950079
37                       Maya       890114
38                  MissKitty     MGTiger7
39                      Mohan       950061
40                       Moja       A00906
41                      Mtoto       A80047
42                    Mujambi       A70193
43                    Nadonda       999024
44                     Ngwane       980508
45                       Nico     790038TZ
46                   November       A06001
47                        Old         8/32
48                      Omaha       900485
49                      Oscar       970005
50                      Peter       690004
51                     Poetry       790038
52                       Raja       A50189
53                     Rakhan       950062
54                    Ramalon       990948
55                     Rhonda       770005
56                     Ripley       910517
57                     Robert       730023
58                      Rosco       970006
59                      Sarge       950077
60                       Sasa       960095
61                    Selatan       A30035
62                   Shakkari       A10080
63                      Shiva       850083
64                      Strop       840033
65                     Sultan       980084
66                      Tanzi       A02064
67                   Tigerboy       A10134
68                      Tsavo       870008
69                    Tsotsie       A49219
70                    Turkana       960069
71                     Twande       960093
72                      X-Ray     750011TZ
73                 YoungTiger       743063
74                     Zenith       950075
75                        Zip       890004
76                        Ali       790036
77                   Alistair       860081
78                    Assiqua       A70551
79                     Bakkar       990091
80                   BigDaddy       730013
81                      Binji       A10012
82                    Blackie       780049
83                       Bona       960035
84                      Bopha       999026
85                    Bruiser       990293
86                     Calang       900959
87                         CC       850093
88                       Chae       800015
89                    Charron       840019
90                      Chase       950076
91                       Cree       960997
92                       Dani       950078
93                    Delilah       200003
94                    Delores       780001
95                     Dianne       760022
96                      Errol       790037
97                          F       760038
98                       Gobi       A80674
99                     Gregor       960461
100                    Hilary       740101
101                    Izipho       999022
102                    Jasiri       A20062
103                    Jespah       A40002
104                       Jim       820013
105                   Juliana       860057
106                    Kamala       A50433
107                     Kashi       820029
108                    Kemiri       950451
109                     Kiowa       960995
110                     Kitty       970007
111                   Koyukon       750007
112                      Krak       840025
113                   Kwatile       B29059
114                    Lainee       810034
115                    Lashio       980912
116                    Louise       970008
117                  Lucretia       720019
118                       Mac       990008
119                     Mungo       830014
120                   Munjuli       A10174
121                    Nakula       A39020
122                    Nakuru       A20047
123                     Nonah       930431
124                      Nuni       A80001
125                   Quintus       670005
126                     Raggs       810001
127                      Rama       980082
128                   Rangoon       980910
129                     Sally     800015TZ
130                       Sam          K55
131                     Samar       930430
132                     Senja       B00021
133                     Shasa       A02063
134                   Shelley       840034
135                    Shimbu       890290
136                 Shinyanga       990294
137                    Sierra       960029
138                     Sunzu       A40080
139                       Taj       980081
140                    Thelma       970009
141                     Tiger        Tiger
142                     Tombo       A40005
143                     Tonyi       A40004
144                     Trish       820014
145                      Tuan       A60598
146                         U       810046
147                  Valentin       A40152
148                      Zili       900249
149         5 of Gang of Five       A70011
150                      Aceh       B00024
151                  Achilles       B10071
152                     Addey       640004
153                 Agememnon       B10070
154                     Ailsa       B30002
155                     Amali       A20124
156                     Amiri       B00584
157                     Anita       810056
158           Asali (cheetah)       A40081
159              Asali (lion)       A30311
160                    Asante       890026
161                    Ashaki       A80000
162                    Ashraf       800075
163             Askari (lion)       A00902
164                    Autumn     790036MZ
165                      Baru       B20026
166                     Bella     A40034MG
167                  Beranang       A20020
168                    Berani       A00482
169                     Besar       A50305
170                     Betty       810044
171                    Bhutan       990007
172                    Bianca       800017
173                    Binjai       A40238
174                     Brett       800164
175                    Brutus       920534
176                 Cassandra       770006
177               Chaka(lion)       A00903
178                   Charles       850018
179                  Cheyanne       960996
180                       Chi       970073
181                    Chinga     720004MZ
182                     Choro       790032
183  Claude/4 of Gang of Five       A70010
184                      Cleo       810178
185                  Conceita       810041
186                     Congo       A10011
187                     Cubba       920453
188                  Darkface       940150
189                       Dex       A9002?
190                       Die       930045
191                      Duke         0462
192                  DumaiOne       A30376
193                  DumaiTwo       A40034
194                    Etosha       890027
195                 F Felicia       800066
196                    FangII       800016
197                      Fury         0190
198                         G       840101
199                    Gijima       B20036
200                  Gloriana       850101
201                Golden Boy       700004
202                     Gopah       A40001
203                     Gundi       A80003
204                     Halla       A90072
205                  Hannalie       A50007
206                    Harare       A00904
207                      Hari       920259
208            Hari(SumTiger)       A70297
209                    Hasani       A80002
210                      Hawk       790025
211                      Hizi       B29101
212                    Husani       B39038
213                     Hutan       B00026
214                     Ilyan       B00014
215                    Imphal       A50085
216                   IncaDRM       960030
217                     Indah       B00002
218                     Indra       B00020
219                     Indra       760011
220                    Indrah       B00025
221                      Inka       790029
222                    Inkosi       A79193
223                     Innis    B40028NAT
224                      Isha       A80112
225                    Ishtar         0263
226                    Jabari       A50018
227                   Jahzara       B19036
228                   Jakarta       980201
229                      Jake       B10061
230                      Jama       A06000
231                    Jamala       B30147
232                     Jambo       A40079
233                   Jamilla       A00005
234                      Jana       B29102
235                      Jaya       A80060
236                      Jaya       A80260
237                      Jean         Jean
238                    Jelani       B39037
239                    Jharna       A00046
240     Joe/3 of Gang of Five       A70009
241                    Johari       B20016
242                   Jumilah       A30375
243                    Jumper       980864
244                      Jura    B40029NAT
245                    Justin       Justin
246                     Kahna  A20020TIGER
247                      Kali       A90059
248                    Kalmia       850041
249                    Kamili       A49217
250               Kandi Khail       930230
251                   Kareeba       890028
252                      Karl         Karl
253                   Kartika       B10352
254                     Kasha       A10243
255                    Kataza       A20122
256                      Kato       A10244
257                       Kay       870036
258                      Kazi  MGSnLeopard
259                    Kebeni       B20037
260                     Kecil       910080
261                   Kembali       B10351
262                     Kesho       B29105
263                    Khumbu       B20133
264                    Kiamba       A59060
265                    Kibira       A59013
266                    Kinwah       A90028
267                     Kisha       A90698
268                     Kokiu       980909
269                      Kora       B20032
270                    Kruger       880075
271                   Kuchani       A20123
272                   Kulinda       B29104
273                     Kutch       930228
274                      Kyan       A90073
275                      Kyla       950060
276                   Lazarus       B20088
277                      Lena       980004
278                      Leon       A70603
279                     Leroy       A39043
280                 Lightface       940131
281                      Lisa       810055
282                     Lisha     A90698AZ
283                     Lucia       740065
284                     Lunoc         7688
285                     Maalo       A10253
286              Mafutafemale       940101
287                Mafutamale       A60021
288                    Maggie       950573
289                      Maji       A30739
290            Malika Tapanga       A20545
291                   Malindi       890029
292                      Malu       A30022
293                      Mana     B20037MG
294                   Mandela       A70070
295                    Mangar       890254
296                     Manzi       921189
297                       Mao       A10316
298                    Marjan       A02023
299                  Mary Lou          K28
300                 Mato/Yari       900209
301                    Mattai       B00019
302                      Maya       B40015
303                   Megalou       A60019
304                    Mekong       950822
305                    Melati       A80261
306                   Melissa      Melissa
307                       Meo       A30602
308                    Mikali       A40093
309                    Mikumi       B40029
310                    Milele       B29103
311                    Millie       A10532
312                   Mischka       B10060
313                    Mnandi       A60018
314                  Mokomoto       B10024
315                    Morili       A90017
316                   Motumba       A80581
317               Moyo Matusi       A40078
318                Muana/Cili       970620
319                    Mzimba       A20745
320                   Nairibi       B40244
321                     Nakal       A60570
322                    Nakawa       A70030
323                     Nanki       A90016
324                     Naxos       820144
325                     Ndari       A80059
326                     Neera       750002
327                    Nelson       A70071
328                    Nestor       820015
329                    Ngambi    MGServal3
330                       Nia       A90497
331                      Nika       B30064
332                      Nilo       B40245
333                     Ninya       880068
334                     Njaro     B20036MG
335                     Njeri       990295
336                      Nowa       800074
337                      Nugy       920260
338                     Numbi       A60020
339                     Nyala       840026
340                  Nymphosa       999023
341                     Olive       970004
342                    Ovambo       A20046
343                   Pakikan       960259
344                     Petal       820096
345                        Pi       B00095
346                Pimplehead       A70007
347                   Prafula       900484
348                    Prince       810057
349                  Princess       810058
350                     Quito       840068
351                     Rahni       A70074
352                     Rajah          pet
353                     Rambo       880026
354                      Rani       B00027
355                      Ravi       B20025
356                       Rea       900877
357                   Rebecca       830025
358                      Remi       830040
359                      Remi     830040MZ
360                      Rick       830023
361                      Robi       A02062
362                    Roland       830039
363                   Saadani       B40028
364                      Sabi       A02021
365                      Sabu       A50431
366                     Sakti       B10353
367                      Sali       A80049
368                    Samara       990092
369                   Samarra       A30242
370                    Samson       810054
371                    Sanura       A90699
372                    Sarabi       A40094
373                     Satri       A80262
374                    SatuTZ       A80010
375                   SatuWPZ       A80113
376                      Sefu       B10025
377                   Sendiri       A30374
378                     Setia       A00483
379                    Shanti       A80058
380                   Shawnee      Shawnee
381            Sheeba/Nurbanu       A49220
382                     Sheva       990006
383                    Shiraz       920518
384                      Siam       980202
385                      Sika       A20067
386                    Simone       840002
387                    Singha       A50073
388                    Sirjan       920451
389                      Sita       980083
390                   Skukusa       A49218
391                      Snow       A40033
392                    Soraya       A30055
393                     Souda       A60000
394               SpottedMale       215/80
395                    Spring       790035
396                  Sugarbee       720087
397                      Tara       800029
398                     Tashi       A80673
399                    Tenang       A00481
400                    Tenzin       A30021
401                      Thor       810019
402                    Tiamat         0262
403                     Tiger         0476
404                       Tim       A40035
405                     Timka       B20038
406                    Tiombe       A59012
407                 Tokoloshe       A49222
408                       Tom       910001
409                    Toolec       810018
410               Tsavo(lion)       880074
411                      Tula       A90015
412                    Tuscon       880027
413                     Twang       740003
414                   Umbulla       999021
415                   Ushindi       A80050
416                         V       810047
417                     Wayan       A00045
418                    Yasmin       750011
419                     Yoori       750003
420                    Zalika       A59011
421                   Zilkaat       A19081
422                   Zingula       B30001
423                      Zuri       A00901

                                  Microchip Number     Species (common name)  \
0                                              NaN                      Lion
1                                     00-0643-10BA                   Cheetah
2                                     7F-7F4A-2238              Asiatic Lion
3                                              NaN              Bengal Tiger
4                                              NaN                   Leopard
5                                     7F-7F41-1077                   Caracal
6                                              NaN              African Lion
7                                     00-0618-C42E               Fishing Cat
8                                     00-000D-8AEA                   Caracal
9                                              NaN                    Serval
10                                4388(L)eartattoo             Tiger (White)
11                                             NaN     Temminck's Golden Cat
12                                    7F-7F4A-166A                   Cheetah
13                                             NaN     Temminck's Golden Cat
14                                    00-0063-5EED               Fishing Cat
15                                             NaN            Sumatran Tiger
16                                             NaN                     Tiger
17                                    7F-7F41-5A3F                   Cheetah
18                                    00-00F7-C31E                   Cheetah
19                                    00-000D-3C86                    Bobcat
20                                    00-001E-9A8D                    Bobcat

In [ ]:
break

In [57]:
data.dtypes

Animal Name                                        object
ARKS Number                                        object
Microchip Number                                   object
Species (common name)                              object
Sex                                                object
Alternative ARKS Nos                               object
Studbook Number                                    object
GAN ID                                             object
Status (alive/deceased/transacted)                 object
Zoo Location                                       object
Date  of Birth                             datetime64[ns]
Date of Transaction                        datetime64[ns]
Date of Death                              datetime64[ns]
Age in years at death                             float64
Date of Onset of Azoatemia                        float64
Date of USG less than 1,035                       float64
Ante-mortem Dx of CKD                                bool
Date of first low USG                      datetime64[ns]
Onset of azotaemia                         datetime64[ns]
Date of diagnosis                          datetime64[ns]
Comments re kidney function                        object
First report of CKD CS                             object
Age at Death                                       object
Cause of Death                                     object
Acute kidney failure                                 bool
CKD - cause of mortality                             bool
CKD - co-morbidity                                   bool
Pyometra (survived)                                  bool
Pyometra cause of death                              bool
Unknown                                              bool
Neonatal                                             bool
Neurological                                         bool
Endocrine                                            bool
Neoplasia                                            bool
Old Age debility                                     bool
Trauma                                               bool
Infection                                            bool
GIT                                                  bool
Respiratory/Cardiovascular                           bool
Pathology Report Numbers                           object
Post Mortem Report Number                          object
International transaction                            bool
Dam ARKS Number                                    object
Sire ARKS Number                                   object
Sibling ARKS Number                                object
Transacted internationally                           bool
Hand-raised                                          bool
Housing (confined enclosure/open range)            object
Excluded from study?                                 bool
Comments:                                          object
Biochem data                                         bool
Urine data                                           bool
logic_flag                                          int64
inferred_diagnosis_date                            object
dtype: object

In [7]:
len(data['ARKS Number'].unique())

424

In [8]:
data['Ante-mortem Dx of CKD'].value_counts()

False    410
True      14
Name: Ante-mortem Dx of CKD, dtype: int64

In [9]:
data['CKD - cause of mortality'].value_counts()

False    348
True      76
Name: CKD - cause of mortality, dtype: int64

In [14]:
len(data[(data['CKD - cause of mortality'] == True) & (data['Ante-mortem Dx of CKD'] == True)])

11

In [15]:
data['Date of diagnosis'].value_counts()

2011-11-16    1
2013-03-07    1
2001-03-01    1
1973-01-23    1
Name: Date of diagnosis, dtype: int64

In [17]:
data['First report of CKD CS'].value_counts()

28-jul-10    2
20-3-92      1
25-10-02     1
21-Oct-94    1
22-may-08    1
16-may-99    1
Name: First report of CKD CS, dtype: int64

In [7]:
data['Onset of azotaemia'].value_counts().sum()

56

In [21]:
data['Date of first low USG'].value_counts().sum()

39

In [22]:
data['Date of USG less than 1,035'].value_counts()

Series([], Name: Date of USG less than 1,035, dtype: int64)

In [5]:
data['Date of Onset of Azoatemia'].value_counts()

Series([], Name: Date of Onset of Azoatemia, dtype: int64)