In [1]:
import pandas as pd
pd.options.display.max_columns = 500

In [2]:
cats = pd.read_csv('unified_animal_list.csv')
labs = pd.read_csv('merged_tables_tol_7days_2021-04-01.csv')

In [33]:
data = pd.merge(cats, labs, left_on='ARKS Number', right_on='ARKS No')

In [34]:
# only look at dead animals
data = data[data['Status (alive/deceased/transacted)'] == 'Dead']
data = data[data['Excluded from study?'] == False]

In [5]:
list(data.columns)

['ARKS Number',
 'Acute kidney failure',
 'Age at Death',
 'Animal Name',
 'Biochem data',
 'CKD - cause of mortality',
 'CKD - co-morbidity',
 'Cause of Death',
 'Comments:',
 'Dam ARKS Number',
 'Date  of Birth',
 'Date of Death',
 'Date of Transaction',
 'Endocrine',
 'Excluded from study?',
 'GIT',
 'Hand-raised',
 'Housing (confined enclosure/open range)',
 'Infection',
 'International transaction',
 'Neonatal',
 'Neoplasia',
 'Neurological',
 'Old Age debility',
 'Pathology Report Numbers',
 'Post Mortem Report Number',
 'Respiratory/Cardiovascular',
 'Sex',
 'Sibling ARKS Number',
 'Sire ARKS Number',
 'Species (common name)',
 'Status (alive/deceased/transacted)',
 'Transacted internationally',
 'Trauma',
 'Unknown',
 'Urine data',
 'Zoo Location',
 'haem: ID',
 'ARKS No',
 'haem: Animal Name',
 'Date',
 'haem: Laboratory Report No',
 'haem: Laboratory',
 'haem: Laboratory text only',
 'haem: RBC (x 10^12/L)',
 'haem: haemoglobin (g/L)',
 'haem: HCT (%)',
 'haem: Total Protein (refractometer)',
 'haem: leukocyte count (x10^9/L)',
 'haem: neutrophils (%)',
 'haem: neutrophils (band)',
 'haem: neutrophils(seg) (x10^9/L)',
 'haem: lymphocytes (x10^9/L)',
 'haem: lymphocytes  (%)',
 'haem: monocytes (x10^9/L)',
 'haem: monocytes (%)',
 'haem: eosinophils  (x10^9/L)',
 'haem: eosinophils (%)',
 'haem: estimated platelets x 10^9/L (Hi)',
 'haem: estimated platelets  /HPF (Low)',
 'haem: plasma sample appearance',
 'haem: MCV (fL)',
 'haem: MCHC (g/L)',
 'haem: MCH (pg)',
 'haem: RBC morphology',
 'haem: notes:',
 'haem: validated',
 'haem id',
 'haem date',
 'biochem: ID',
 'biochem: Biochem Report No',
 'biochem: Animal Name',
 'biochem: Low USG?',
 'biochem: BUN (mmol/L)',
 'biochem: Hypercreatininaemia?',
 'biochem: Creatinine (umol/L)',
 'biochem: Total Plasma Protein (g/L)',
 'biochem: Serum Albumin (g/L)',
 'biochem: Globulins (g/L)',
 'biochem: Anaemic? <25',
 'biochem: Haematocrit (%)',
 'biochem: Potassium (mmol/L)',
 'biochem: Calcium (mmol/L)',
 'biochem: Hyperphosphataemia? >2_9 to 3',
 'biochem: Phosphate (mmol/L)',
 'biochem: Sodium (mmol/L)',
 'biochem: Chloride (mmol/L)',
 'biochem: Bicarbonate',
 'biochem: Glucose',
 'biochem: CK (U/L)',
 'biochem: ALP (U/L)',
 'biochem: ALT (U/L)',
 'biochem: AST',
 'biochem: Amylase',
 'biochem: Cholesterol (mmol/L)',
 'biochem: Bilirubin',
 'biochem: Serum/plasma appearance',
 'biochem: Comments:',
 'biochem: Validated',
 'biochem id',
 'biochem date',
 'urine: ID',
 'urine: Laboratory Report Number',
 'urine: Laboratory',
 'urine: Animal name',
 'urine: Sample Collection Method',
 'urine: Urine Appearance',
 'urine: Urine Specific Gravity',
 'urine: Low USG?',
 'urine: Azotaemia?',
 'urine: Urine protein (g/L)',
 'urine: urine creatinine (umol/l)',
 'urine: Protein:creatinine ratio',
 'urine: Proteinuric UPC  greater 0:4',
 'urine: Heska Microalbuminuria test',
 'urine: glucose (Multistix)',
 'urine: bilirubin (Multistix)',
 'urine: ketones (Multistix)',
 'urine: blood (Hb -Multistix)',
 'urine: pH',
 'urine: protein (Multistix)',
 'urine: protein (sulfanilic acid)',
 'urine: Positive urine culture',
 'urine: Positive urine culture comments',
 'urine: Culture results',
 'urine: leukocytes (/cumm)x',
 'urine: blood (RBC/ ul) (haematuriax',
 'urine: Fat droplets',
 'urine: Lipid',
 'urine: Casts',
 'urine: Epith cells',
 'urine: Crystals',
 'urine: Organisms',
 'urine: Contaminants?',
 'urine: Comments:',
 'urine: Fractional Excretion',
 'urine: Validated',
 'urine: Date validated by RD',
 'urine: Feline specific USG',
 'urine: Refractive Index nR',
 'urine: Fractional Excretion1',
 'urine: Validated1',
 'urine: Date validated by RD1',
 'urine: Fe Sodium (RI 0-0_0-07)',
 'urine: Fe Potassium (RI 0-0_11-7)',
 'urine: Fe Chloride (RI 0-0_0-20)',
 'urine: FE Calcium (RI 0-0_0-13)',
 'urine: FE Phosphorus (RI 0_16)',
 'urine id',
 'urine date',
 'haem biochem date diff',
 'haem urine date diff',
 'urine biochem date diff']

In [42]:
columns_drop = ['Animal Name', 
                'Biochem data', 
                'Cause of Death', 
                'Comments:', 
                'Dam ARKS Number', 
                'Date of Death', 
                'Date of Transaction', 
                'Excluded from study?', 
                'GIT', 
                'Hand-raised', 
                'Housing (confined enclosure/open range)', 
                'International transaction',
                'Pathology Report Numbers',
                'Post Mortem Report Number',
                'Sibling ARKS Number',
                'Sire ARKS Number',
                'Status (alive/deceased/transacted)',
                'Transacted internationally',
                'Unknown',
                'Zoo Location',
                'haem: ID',
                'ARKS No',
                'haem: Animal Name',
                'haem: Laboratory Report No',
                'haem: Laboratory',
                'haem: Laboratory text only',
                'haem: notes:',
                'haem: validated',
                'haem id',
                'haem date',
                'biochem: ID',
                'biochem: Biochem Report No',
                'biochem: Animal Name',
                'biochem: Comments:',
                'biochem: Validated',
                'biochem id',
                'biochem date',
                'urine: ID',
                'urine: Laboratory Report Number',
                'urine: Laboratory',
                'urine: Animal name',
                'urine: Sample Collection Method',
                'urine id',
                'urine date',
                'haem biochem date diff',
                'haem urine date diff',
                'urine biochem date diff',
                'Urine data', 
                'urine: Comments:', 
                'urine: Validated',
                'urine: Date validated by RD',
                'urine: Validated1', 
                'urine: Date validated by RD1',
                'urine: Date validated by RD', 
                'urine: Culture results'
               ]


clean_data = data.drop(columns = columns_drop, axis = 1)

In [43]:
list(clean_data.columns)

['ARKS Number',
 'Acute kidney failure',
 'Age at Death',
 'CKD - cause of mortality',
 'CKD - co-morbidity',
 'Date  of Birth',
 'Endocrine',
 'Infection',
 'Neonatal',
 'Neoplasia',
 'Neurological',
 'Old Age debility',
 'Respiratory/Cardiovascular',
 'Sex',
 'Species (common name)',
 'Trauma',
 'Date',
 'haem: RBC (x 10^12/L)',
 'haem: haemoglobin (g/L)',
 'haem: HCT (%)',
 'haem: Total Protein (refractometer)',
 'haem: leukocyte count (x10^9/L)',
 'haem: neutrophils (%)',
 'haem: neutrophils (band)',
 'haem: neutrophils(seg) (x10^9/L)',
 'haem: lymphocytes (x10^9/L)',
 'haem: lymphocytes  (%)',
 'haem: monocytes (x10^9/L)',
 'haem: monocytes (%)',
 'haem: eosinophils  (x10^9/L)',
 'haem: eosinophils (%)',
 'haem: estimated platelets x 10^9/L (Hi)',
 'haem: estimated platelets  /HPF (Low)',
 'haem: plasma sample appearance',
 'haem: MCV (fL)',
 'haem: MCHC (g/L)',
 'haem: MCH (pg)',
 'haem: RBC morphology',
 'biochem: Low USG?',
 'biochem: BUN (mmol/L)',
 'biochem: Hypercreatininaemia?',
 'biochem: Creatinine (umol/L)',
 'biochem: Total Plasma Protein (g/L)',
 'biochem: Serum Albumin (g/L)',
 'biochem: Globulins (g/L)',
 'biochem: Anaemic? <25',
 'biochem: Haematocrit (%)',
 'biochem: Potassium (mmol/L)',
 'biochem: Calcium (mmol/L)',
 'biochem: Hyperphosphataemia? >2_9 to 3',
 'biochem: Phosphate (mmol/L)',
 'biochem: Sodium (mmol/L)',
 'biochem: Chloride (mmol/L)',
 'biochem: Bicarbonate',
 'biochem: Glucose',
 'biochem: CK (U/L)',
 'biochem: ALP (U/L)',
 'biochem: ALT (U/L)',
 'biochem: AST',
 'biochem: Amylase',
 'biochem: Cholesterol (mmol/L)',
 'biochem: Bilirubin',
 'biochem: Serum/plasma appearance',
 'urine: Urine Appearance',
 'urine: Urine Specific Gravity',
 'urine: Low USG?',
 'urine: Azotaemia?',
 'urine: Urine protein (g/L)',
 'urine: urine creatinine (umol/l)',
 'urine: Protein:creatinine ratio',
 'urine: Proteinuric UPC  greater 0:4',
 'urine: Heska Microalbuminuria test',
 'urine: glucose (Multistix)',
 'urine: bilirubin (Multistix)',
 'urine: ketones (Multistix)',
 'urine: blood (Hb -Multistix)',
 'urine: pH',
 'urine: protein (Multistix)',
 'urine: protein (sulfanilic acid)',
 'urine: Positive urine culture',
 'urine: Positive urine culture comments',
 'urine: leukocytes (/cumm)x',
 'urine: blood (RBC/ ul) (haematuriax',
 'urine: Fat droplets',
 'urine: Lipid',
 'urine: Casts',
 'urine: Epith cells',
 'urine: Crystals',
 'urine: Organisms',
 'urine: Contaminants?',
 'urine: Fractional Excretion',
 'urine: Feline specific USG',
 'urine: Refractive Index nR',
 'urine: Fractional Excretion1',
 'urine: Fe Sodium (RI 0-0_0-07)',
 'urine: Fe Potassium (RI 0-0_11-7)',
 'urine: Fe Chloride (RI 0-0_0-20)',
 'urine: FE Calcium (RI 0-0_0-13)',
 'urine: FE Phosphorus (RI 0_16)']

In [8]:
clean_data.to_csv('merged_dropped_data.csv')

In [72]:
# clean_data.keys()
clean_data['urine: blood (RBC/ ul) (haematuriax'].value_counts()

0          33
<10        20
>100       18
<5         17
10         11
           ..
1-4/hpf     1
>>100       1
4-6/hpf     1
35          1
<1          1
Name: urine: blood (RBC/ ul) (haematuriax, Length: 75, dtype: int64

In [44]:
clean_data.describe(include='all')

,ARKS Number,Acute kidney failure,Age at Death,CKD - cause of mortality,CKD - co-morbidity,Date of Birth,Endocrine,Infection,Neonatal,Neoplasia,Neurological,Old Age debility,Respiratory/Cardiovascular,Sex,Species (common name),Trauma,Date,haem: RBC (x 10^12/L),haem: haemoglobin (g/L),haem: HCT (%),haem: Total Protein (refractometer),haem: leukocyte count (x10^9/L),haem: neutrophils (%),haem: neutrophils (band),haem: neutrophils(seg) (x10^9/L),haem: lymphocytes (x10^9/L),haem: lymphocytes (%),haem: monocytes (x10^9/L),haem: monocytes (%),haem: eosinophils (x10^9/L),haem: eosinophils (%),haem: estimated platelets x 10^9/L (Hi),haem: estimated platelets /HPF (Low),haem: plasma sample appearance,haem: MCV (fL),haem: MCHC (g/L),haem: MCH (pg),haem: RBC morphology,biochem: Low USG?,biochem: BUN (mmol/L),biochem: Hypercreatininaemia?,biochem: Creatinine (umol/L),biochem: Total Plasma Protein (g/L),biochem: Serum Albumin (g/L),biochem: Globulins (g/L),biochem: Anaemic? <25,biochem: Haematocrit (%),biochem: Potassium (mmol/L),biochem: Calcium (mmol/L),biochem: Hyperphosphataemia? >2_9 to 3,biochem: Phosphate (mmol/L),biochem: Sodium (mmol/L),biochem: Chloride (mmol/L),biochem: Bicarbonate,biochem: Glucose,biochem: CK (U/L),biochem: ALP (U/L),biochem: ALT (U/L),biochem: AST,biochem: Amylase,biochem: Cholesterol (mmol/L),biochem: Bilirubin,biochem: Serum/plasma appearance,urine: Urine Appearance,urine: Urine Specific Gravity,urine: Low USG?,urine: Azotaemia?,urine: Urine protein (g/L),urine: urine creatinine (umol/l),urine: Protein:creatinine ratio,urine: Proteinuric UPC greater 0:4,urine: Heska Microalbuminuria test,urine: glucose (Multistix),urine: bilirubin (Multistix),urine: ketones (Multistix),urine: blood (Hb -Multistix),urine: pH,urine: protein (Multistix),urine: protein (sulfanilic acid),urine: Positive urine culture,urine: Positive urine culture comments,urine: leukocytes (/cumm)x,urine: blood (RBC/ ul) (haematuriax,urine: Fat droplets,urine: Lipid,urine: Casts,urine: Epith cells,urine: Crystals,urine: Organisms,urine: Contaminants?,urine: Fractional Excretion,urine: Feline specific USG,urine: Refractive Index nR,urine: Fractional Excretion1,urine: Fe Sodium (RI 0-0_0-07),urine: Fe Potassium (RI 0-0_11-7),urine: Fe Chloride (RI 0-0_0-20),urine: FE Calcium (RI 0-0_0-13),urine: FE Phosphorus (RI 0_16)
count,1438,1438,1304,1438,1438,1437,1438,1438,1438,1438,1438,1438,1438,1438,1438,1438,1438,290.000000,433,455.000000,249.000000,446.000000,287.000000,131.000000,311.000000,345.000000,230.000000,330.000000,209.000000,289.000000,193.000000,184,168,57,118.000000,127.000000,68.000000,132,1071,1049.000000,1071,1046.000000,1044.000000,999.000000,986.000000,1071,940.000000,871.000000,876.000000,1071,890.000000,857.000000,789.000000,551.000000,737.000000,909.000000,923.000000,1000.000000,919.000000,339.000000,568.000000,743,178,247,721,762,762,61.000000,61.000000,68.000000,762,27,623,597,611,638,659,683,28,762,57,243,248,35,762,762,762,762,762,762,4,1.000,1.0000,0.0,6.000000,6.000000,6.000000,4.0,4.000000
unique,187,2,156,2,2,151,2,2,1,2,2,2,2,2,25,2,1270,NaN,118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,150,52,11,NaN,NaN,NaN,54,2,NaN,2,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102,24,108,80,2,2,NaN,NaN,NaN,2,8,9,11,9,21,19,14,8,2,18,64,75,9,2,2,2,2,2,2,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,A20021,False,13y7m12d,False,False,2000-07-29,False,False,False,False,False,False,False,male,Cheetah,False,2001-04-05 00:00:00,NaN,145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,286,adequate,clear,NaN,NaN,NaN,normal,False,NaN,False,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,clear,clear yellow,>1.040,False,False,NaN,NaN,NaN,False,NEGATIVE,nil,nil,nil,nil,6.5,1+,nil,False,no,0,0,1+,False,False,False,False,False,False,18D - v young animal = low USG!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,53,1422,53,783,989,75,1437,1420,1438,1210,1396,1263,1409,801,402,1335,4,NaN,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,61,45,NaN,NaN,NaN,64,889,NaN,943,NaN,NaN,NaN,NaN,1045,NaN,NaN,NaN,1066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,131,112,32,59,487,690,NaN,NaN,NaN,748,16,534,535,535,212,128,216,9,726,23,49,33,9,732,725,724,665,670,734,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.540690,NaN,40.166593,75.622490,12.993229,77.226481,7.202061,9.016531,1.847249,14.917391,0.523515,3.454545,0.700104,4.831088,NaN,NaN,NaN,59.936441,325.899213,18.342647,NaN,NaN,18.162278,NaN,259.608080,72.512452,33.646246,38.470690,NaN,39.497021,4.364076,2.568644,NaN,1.955070,152.774212,118.396705,16.561706,8.963245,669.603960,26.970748,117.340100,83.374102,2307.914454,4.960343,NaN,NaN,NaN,NaN,NaN,NaN,24.174426,14537.118689,0.679443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.022,1.3425,NaN,0.023417,7.117333,0.077667,0.1,19.437500
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.631115,NaN,7.522690,12.114709,6.775392,11.869376,4.843597,6.535833,1.341172,8.742540,0.587233,2.584921,0.866510,4.542424,NaN,NaN,NaN,35.986975,50.650134,1.364619,NaN,NaN,13.891566,NaN,243.641888,10.585395,6.116377,9.709643,NaN,7.603117,1.240410,0.297942,NaN,0.870397,4.996319,6.272658,3.795141,24.006010,3318.507464,57.743751,260.565077,165.313931,1569.726161,3.500986,NaN,NaN,NaN,NaN,NaN,NaN,161.860547,10582.505899,1.893452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.040768,3.581961,0.074086,0.0,5.073358
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.100000,NaN,11.000000,6.500000,2.100000,19.000000,0.000000,0.000000,0.000000,1.500000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,17.000000,23.000000,16.000000,NaN,NaN,2.000000,NaN,30.000000,32.000000,1.000000,4.000000,NaN,12.000000,2.200000,0.100000,NaN,0.480000,124.000000,79.000000,4.500000,0.000000,11.000000,0.000000,2.000000,0.000000,34.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,7.240000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.022,1.3425,NaN,0.000000,0.104000,0.000000,0.1,13.600000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.422500,NaN,35.000000,71.000000,8.585000,71.000000,4.400000,5.000000,0.970000,8.000000,0.200000,2.000000,0.200000,2.000000,NaN,NaN,NaN,52.000000,316.000000,17.450000,NaN,NaN,10.800000,NaN,162.000000,67.000000,31.000000,33.000000,NaN,34.000000,4.000000,2.400000,NaN,1.520000,150.000000,115.000000,14.000000,5.900000,118.000000,8.500000,44.000000,28.000000,1208.000000,3.582500,NaN,NaN,NaN,NaN,NaN,NaN,0.190000,7363.000000,0.159475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.022,1.3425,NaN,0.000000,7.350000,0.019500,0.1,17.350000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.590000,NaN,41.000000,75.000000,11.300000,79.000000,7.000000,8.200000,1.500000,13.000000,0.330000,3.000000,0.400000,4.000000,NaN,NaN,NaN,55.000000,328.000000,18.000000,NaN,NaN,14.000000,NaN,206.000000,72.000000,34.000000,38.000000,NaN,40.000000,4.300000,2.550000,NaN,1.785000,153.000000,119.000000,17.000000,7.300000,189.000000,14.000000,71.000000,44.000000,1766.000000,4.600000,NaN,NaN,NaN,NaN,NaN,NaN,0.320000,10200.000000,0.213100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.022,1.3425,NaN,0.000250,8.150000,0.080000,0.1,19.100000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.590000,NaN,46.000000,80.000000,15.052500,85.500000,9.150000,12.005000,2.280000,21.000000,0.657500,5.000000,0.800000,6.000000,NaN,NaN,NaN,60.000000,340.000000,19.000000,NaN,NaN,19.300000,NaN,267.639000,78.000000,36.000000,44.000000,NaN,45.000000,4.600000,2.710000,NaN,2.100000,156.000000,122.000000,19.000000,9.400000,351.000000,24.000000,121.000000,83.000000,3438.000000,6.025000,NaN,NaN,NaN,NaN,NaN,NaN,0.770000,21400.000000,0.516575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.022,1.3425,NaN,0.030125,8.875000,0.100000,0.1,21.187500
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.200000,NaN,59.000000,117.000000,52.200000,100.000000,30.100000,35.280000,9.800000,48.000000,5.220000,19.000000,6.600000,35.000000,NaN,NaN,NaN,329.000000,482.000000,22.000000,NaN,NaN,123.000000,NaN,3188.000000,155.000000,76.000000,104.000000,NaN,67.000000,35.800000,5.200000,NaN,9.680000,186.000000,150.000000,35.000000,634.000000,68855.000000,919.000000,5555.000000,3290.000000,7404.000000,76.000000,NaN,NaN,NaN,NaN,NaN,NaN,1260.000000,52067.000000,15.460000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.022,1.3425,NaN,0.100000,10.100000,0.200000,0.1,25.950000

In [73]:
drop_columms = ['Neonatal', 'Endocrine', 'haem: estimated platelets  /HPF (Low)', 'haem: RBC morphology', 'urine: Urine Appearance',  'biochem: Serum/plasma appearance', 'haem: plasma sample appearance',  'urine: FE Phosphorus (RI 0_16)', 'urine: Heska Microalbuminuria test', 'urine: protein (sulfanilic acid)', 'urine: Positive urine culture comments', 'urine: Fat droplets', 'urine: Fractional Excretion', 'urine: Feline specific USG', 'urine: Refractive Index nR', 'urine: Fractional Excretion1', 'urine: Fe Sodium (RI 0-0_0-07)', 'urine: Fe Potassium (RI 0-0_11-7)', 'urine: Fe Chloride (RI 0-0_0-20)', 'urine: FE Calcium (RI 0-0_0-13)', 'urine: FE Phosphorus (RI 0_16)']
clean_up = ['urine: Urine Specific Gravity', 'urine: glucose (Multistix)', 'urine: bilirubin (Multistix)', 'urine: ketones (Multistix)', 'urine: blood (Hb -Multistix)', 'urine: pH', 'urine: protein (Multistix)', 'urine: leukocytes (/cumm)x', 'urine: blood (RBC/ ul) (haematuriax']

In [74]:
data_filt = clean_data.drop(columns=drop_columms)

In [77]:
data_filt.describe(include='all')

,ARKS Number,Acute kidney failure,Age at Death,CKD - cause of mortality,CKD - co-morbidity,Date of Birth,Infection,Neoplasia,Neurological,Old Age debility,Respiratory/Cardiovascular,Sex,Species (common name),Trauma,Date,haem: RBC (x 10^12/L),haem: haemoglobin (g/L),haem: HCT (%),haem: Total Protein (refractometer),haem: leukocyte count (x10^9/L),haem: neutrophils (%),haem: neutrophils (band),haem: neutrophils(seg) (x10^9/L),haem: lymphocytes (x10^9/L),haem: lymphocytes (%),haem: monocytes (x10^9/L),haem: monocytes (%),haem: eosinophils (x10^9/L),haem: eosinophils (%),haem: estimated platelets x 10^9/L (Hi),haem: MCV (fL),haem: MCHC (g/L),haem: MCH (pg),biochem: Low USG?,biochem: BUN (mmol/L),biochem: Hypercreatininaemia?,biochem: Creatinine (umol/L),biochem: Total Plasma Protein (g/L),biochem: Serum Albumin (g/L),biochem: Globulins (g/L),biochem: Anaemic? <25,biochem: Haematocrit (%),biochem: Potassium (mmol/L),biochem: Calcium (mmol/L),biochem: Hyperphosphataemia? >2_9 to 3,biochem: Phosphate (mmol/L),biochem: Sodium (mmol/L),biochem: Chloride (mmol/L),biochem: Bicarbonate,biochem: Glucose,biochem: CK (U/L),biochem: ALP (U/L),biochem: ALT (U/L),biochem: AST,biochem: Amylase,biochem: Cholesterol (mmol/L),biochem: Bilirubin,urine: Urine Specific Gravity,urine: Low USG?,urine: Azotaemia?,urine: Urine protein (g/L),urine: urine creatinine (umol/l),urine: Protein:creatinine ratio,urine: Proteinuric UPC greater 0:4,urine: glucose (Multistix),urine: bilirubin (Multistix),urine: ketones (Multistix),urine: blood (Hb -Multistix),urine: pH,urine: protein (Multistix),urine: Positive urine culture,urine: leukocytes (/cumm)x,urine: blood (RBC/ ul) (haematuriax,urine: Lipid,urine: Casts,urine: Epith cells,urine: Crystals,urine: Organisms,urine: Contaminants?
count,1438,1438,1304,1438,1438,1437,1438,1438,1438,1438,1438,1438,1438,1438,1438,290.000000,433,455.000000,249.000000,446.000000,287.000000,131.000000,311.000000,345.000000,230.000000,330.000000,209.000000,289.000000,193.000000,184,118.000000,127.000000,68.000000,1071,1049.000000,1071,1046.000000,1044.000000,999.000000,986.000000,1071,940.000000,871.000000,876.000000,1071,890.000000,857.000000,789.000000,551.000000,737.000000,909.000000,923.000000,1000.000000,919.000000,339.000000,568.000000,743,721,762,762,61.000000,61.000000,68.000000,762,623,597,611,638,659,683,762,243,248,762,762,762,762,762,762
unique,187,2,156,2,2,151,2,2,2,2,2,2,25,2,1270,NaN,118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,150,NaN,NaN,NaN,2,NaN,2,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102,80,2,2,NaN,NaN,NaN,2,9,11,9,21,19,14,2,64,75,2,2,2,2,2,2
top,A20021,False,13y7m12d,False,False,2000-07-29,False,False,False,False,False,male,Cheetah,False,2001-04-05 00:00:00,NaN,145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,286,NaN,NaN,NaN,False,NaN,False,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,>1.040,False,False,NaN,NaN,NaN,False,nil,nil,nil,nil,6.5,1+,False,0,0,False,False,False,False,False,False
freq,53,1422,53,783,989,75,1420,1210,1396,1263,1409,801,402,1335,4,NaN,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,889,NaN,943,NaN,NaN,NaN,NaN,1045,NaN,NaN,NaN,1066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,131,59,487,690,NaN,NaN,NaN,748,534,535,535,212,128,216,726,49,33,732,725,724,665,670,734
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.540690,NaN,40.166593,75.622490,12.993229,77.226481,7.202061,9.016531,1.847249,14.917391,0.523515,3.454545,0.700104,4.831088,NaN,59.936441,325.899213,18.342647,NaN,18.162278,NaN,259.608080,72.512452,33.646246,38.470690,NaN,39.497021,4.364076,2.568644,NaN,1.955070,152.774212,118.396705,16.561706,8.963245,669.603960,26.970748,117.340100,83.374102,2307.914454,4.960343,NaN,NaN,NaN,NaN,24.174426,14537.118689,0.679443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.631115,NaN,7.522690,12.114709,6.775392,11.869376,4.843597,6.535833,1.341172,8.742540,0.587233,2.584921,0.866510,4.542424,NaN,35.986975,50.650134,1.364619,NaN,13.891566,NaN,243.641888,10.585395,6.116377,9.709643,NaN,7.603117,1.240410,0.297942,NaN,0.870397,4.996319,6.272658,3.795141,24.006010,3318.507464,57.743751,260.565077,165.313931,1569.726161,3.500986,NaN,NaN,NaN,NaN,161.860547,10582.505899,1.893452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.100000,NaN,11.000000,6.500000,2.100000,19.000000,0.000000,0.000000,0.000000,1.500000,0.000000,0.000000,0.000000,0.000000,NaN,17.000000,23.000000,16.000000,NaN,2.000000,NaN,30.000000,32.000000,1.000000,4.000000,NaN,12.000000,2.200000,0.100000,NaN,0.480000,124.000000,79.000000,4.500000,0.000000,11.000000,0.000000,2.000000,0.000000,34.000000,0.000000,NaN,NaN,NaN,NaN,0.000000,7.240000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.422500,NaN,35.000000,71.000000,8.585000,71.000000,4.400000,5.000000,0.970000,8.000000,0.200000,2.000000,0.200000,2.000000,NaN,52.000000,316.000000,17.450000,NaN,10.800000,NaN,162.000000,67.000000,31.000000,33.000000,NaN,34.000000,4.000000,2.400000,NaN,1.520000,150.000000,115.000000,14.000000,5.900000,118.000000,8.500000,44.000000,28.000000,1208.000000,3.582500,NaN,NaN,NaN,NaN,0.190000,7363.000000,0.159475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.590000,NaN,41.000000,75.000000,11.300000,79.000000,7.000000,8.200000,1.500000,13.000000,0.330000,3.000000,0.400000,4.000000,NaN,55.000000,328.000000,18.000000,NaN,14.000000,NaN,206.000000,72.000000,34.000000,38.000000,NaN,40.000000,4.300000,2.550000,NaN,1.785000,153.000000,119.000000,17.000000,7.300000,189.000000,14.000000,71.000000,44.000000,1766.000000,4.600000,NaN,NaN,NaN,NaN,0.320000,10200.000000,0.213100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.590000,NaN,46.000000,80.000000,15.052500,85.500000,9.150000,12.005000,2.280000,21.000000,0.657500,5.000000,0.800000,6.000000,NaN,60.000000,340.000000,19.000000,NaN,19.300000,NaN,267.639000,78.000000,36.000000,44.000000,NaN,45.000000,4.600000,2.710000,NaN,2.100000,156.000000,122.000000,19.000000,9.400000,351.000000,24.000000,121.000000,83.000000,3438.000000,6.025000,NaN,NaN,NaN,NaN,0.770000,21400.000000,0.516575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.200000,NaN,59.000000,117.000000,52.200000,100.000000,30.100000,35.280000,9.800000,48.000000,5.220000,19.000000,6.600000,35.000000,NaN,329.000000,482.000000,22.000000,NaN,123.000000,NaN,3188.000000,155.000000,76.000000,104.000000,NaN,67.000000,35.800000,5.200000,NaN,9.680000,186.000000,150.000000,35.000000,634.000000,68855.000000,919.000000,5555.000000,3290.000000,7404.000000,76.000000,NaN,NaN,NaN,NaN,1260.000000,52067.000000,15.460000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
data_filt.to_csv('filtered_for_nans.csv')

# continue here

* clean values for clean_up
* calculate age at each visit
* impute missing values
* look at number of records per cat
* look at pattern and % missing values for analytes we're interested in
* case/control distributions of key analytes
* read the stats from Rachel's thesis
* one-hot encoding of categorical columns 
* PCA, try some basic models

In [17]:
bool_cols = []
float_cols = []
object_cols = []
for key in data_filt.columns:
    if data_filt[key].dtype == 'bool' or len(data_filt[key].unique()) <=3:
        bool_cols.append(key)
    elif data_filt[key].dtype == 'float64':
        float_cols.append(key)
    elif data_filt[key].dtype == 'O':
        object_cols.append(key)
    else:
        print('whoopsies: ', key, data_filt[key].dtype)

In [18]:
data_dummy = pd.get_dummies(data_filt,columns=bool_cols, drop_first=False)

In [19]:
list(data_dummy.columns)

['ARKS Number',
 'Age at Death',
 'Species (common name)',
 'haem: RBC (x 10^12/L)',
 'haem: haemoglobin (g/L)',
 'haem: HCT (%)',
 'haem: Total Protein (refractometer)',
 'haem: leukocyte count (x10^9/L)',
 'haem: neutrophils (%)',
 'haem: neutrophils (band)',
 'haem: neutrophils(seg) (x10^9/L)',
 'haem: lymphocytes (x10^9/L)',
 'haem: lymphocytes  (%)',
 'haem: monocytes (x10^9/L)',
 'haem: monocytes (%)',
 'haem: eosinophils  (x10^9/L)',
 'haem: eosinophils (%)',
 'haem: estimated platelets x 10^9/L (Hi)',
 'haem: estimated platelets  /HPF (Low)',
 'haem: plasma sample appearance',
 'haem: MCV (fL)',
 'haem: MCHC (g/L)',
 'haem: MCH (pg)',
 'haem: RBC morphology',
 'biochem: BUN (mmol/L)',
 'biochem: Creatinine (umol/L)',
 'biochem: Total Plasma Protein (g/L)',
 'biochem: Serum Albumin (g/L)',
 'biochem: Globulins (g/L)',
 'biochem: Haematocrit (%)',
 'biochem: Potassium (mmol/L)',
 'biochem: Calcium (mmol/L)',
 'biochem: Phosphate (mmol/L)',
 'biochem: Sodium (mmol/L)',
 'biochem: Chloride (mmol/L)',
 'biochem: Bicarbonate',
 'biochem: Glucose',
 'biochem: CK (U/L)',
 'biochem: ALP (U/L)',
 'biochem: ALT (U/L)',
 'biochem: AST',
 'biochem: Amylase',
 'biochem: Cholesterol (mmol/L)',
 'biochem: Bilirubin',
 'biochem: Serum/plasma appearance',
 'urine: Urine Appearance',
 'urine: Urine Specific Gravity',
 'urine: Urine protein (g/L)',
 'urine: urine creatinine (umol/l)',
 'urine: Protein:creatinine ratio',
 'urine: glucose (Multistix)',
 'urine: bilirubin (Multistix)',
 'urine: ketones (Multistix)',
 'urine: blood (Hb -Multistix)',
 'urine: pH',
 'urine: protein (Multistix)',
 'urine: Positive urine culture comments',
 'urine: leukocytes (/cumm)x',
 'urine: blood (RBC/ ul) (haematuriax',
 'Acute kidney failure_False',
 'Acute kidney failure_True',
 'CKD - cause of mortality_False',
 'CKD - cause of mortality_True',
 'CKD - co-morbidity_False',
 'CKD - co-morbidity_True',
 'Endocrine_False',
 'Endocrine_True',
 'Infection_False',
 'Infection_True',
 'Neonatal_False',
 'Neoplasia_False',
 'Neoplasia_True',
 'Neurological_False',
 'Neurological_True',
 'Old Age debility_False',
 'Old Age debility_True',
 'Respiratory/Cardiovascular_False',
 'Respiratory/Cardiovascular_True',
 'Sex_female',
 'Sex_male',
 'Trauma_False',
 'Trauma_True',
 'biochem: Low USG?_False',
 'biochem: Low USG?_True',
 'biochem: Hypercreatininaemia?_False',
 'biochem: Hypercreatininaemia?_True',
 'biochem: Anaemic? <25_False',
 'biochem: Anaemic? <25_True',
 'biochem: Hyperphosphataemia? >2_9 to 3_False',
 'biochem: Hyperphosphataemia? >2_9 to 3_True',
 'urine: Low USG?_False',
 'urine: Low USG?_True',
 'urine: Azotaemia?_False',
 'urine: Azotaemia?_True',
 'urine: Proteinuric UPC  greater 0:4_False',
 'urine: Proteinuric UPC  greater 0:4_True',
 'urine: Positive urine culture_False',
 'urine: Positive urine culture_True',
 'urine: Lipid_False',
 'urine: Lipid_True',
 'urine: Casts_False',
 'urine: Casts_True',
 'urine: Epith cells_False',
 'urine: Epith cells_True',
 'urine: Crystals_False',
 'urine: Crystals_True',
 'urine: Organisms_False',
 'urine: Organisms_True',
 'urine: Contaminants?_False',
 'urine: Contaminants?_True']

In [20]:
object_cols

['ARKS Number',
 'Age at Death',
 'Species (common name)',
 'haem: haemoglobin (g/L)',
 'haem: estimated platelets x 10^9/L (Hi)',
 'haem: estimated platelets  /HPF (Low)',
 'haem: plasma sample appearance',
 'haem: RBC morphology',
 'biochem: Bilirubin',
 'biochem: Serum/plasma appearance',
 'urine: Urine Appearance',
 'urine: Urine Specific Gravity',
 'urine: glucose (Multistix)',
 'urine: bilirubin (Multistix)',
 'urine: ketones (Multistix)',
 'urine: blood (Hb -Multistix)',
 'urine: pH',
 'urine: protein (Multistix)',
 'urine: Positive urine culture comments',
 'urine: leukocytes (/cumm)x',
 'urine: blood (RBC/ ul) (haematuriax']

In [21]:
for key in object_cols:
    print(key, ': ', data_filt[key].unique())

ARKS Number :  ['Koyukon' 'MGTiger4' '200004' '700072' '780127' '800014MZ' '830088'
 '840001' '840003' '920519' '921429' '980010' '980014' '999028' 'A39042'
 'A50003' 'A79192' 'MGWhiteLioncub1' 'MGWhiteLioncub2' 'MGWhiteLioncub3'
 '215/80' '780049' '900959' '930045' '960093' '990948' 'K0095' 'Tiger'
 '200003' '670005' '700022' '720019' '730023' '730024' '750005' '750011'
 '760022' '760038' '770005' '770006' '780001' '790025' '790026' '790032'
 '790035' '790036' '790036MZ' '790037' '790038' '800015' '800017' '800029'
 '800074' '800100' '810034' '810041' '810044' '810046' '810047' '810053'
 '810055' '810056' '810057' '810058' '820013' '820014' '820015' '820029'
 '830014' '830025' '840019' '840025' '840026' '840033' '840034' '840101'
 '850007' '850083' '850101' '860057' '860081' '870008' '880014' '880045'
 '880074' '880075' '890000' '890004' '890114' '890254' '890290' '900248'
 '900249' '900484' '900485' '910080' '910517' '911073' '920185' '920259'
 '920260' '920453' '920534' '921189' '921430' '930228' '930229' '930230'
 '930430' '930431' '940101' '950061' '950062' '950063' '950075' '950076'
 '950077' '950078' '950079' '950573' '950908' '960035' '960069' '960094'
 '960095' '960142' '960259' '960461' '960995' '960996' '970005' '970006'
 '970007' '970008' '970620' '980004' '980081' '980123' '980508' '980864'
 '980910' '980912' '990092' '999021' '999022' '999023' '999024' '999025'
 '999026' '999027' 'A00005' 'A00045' 'A00482' 'A00906' 'A02062' 'A02063'
 'A02064' 'A06000' 'A06001' 'A10010' 'A10080' 'A10081' 'A10083' 'A10134'
 'A10174' 'A10253' 'A20021' 'A20046' 'A20047' 'A20062' 'A20067' 'A20545'
 'A20745' 'A30035' 'A40001' 'A40002' 'A40152' 'A49219' 'A49221' 'A50002'
 'A50007' 'A60020' 'A60570' 'A80047' 'A80050' 'A80262' 'A80581' 'A80674'
 'B09072' 'B20032' 'B20036' 'MGServal3' 'MGTiger7' 'pet']
Age at Death :  [nan '25y2m24d' '12y3m22d' '16y1m15d' '16y3m13d' '2y11m16d' '10y8m14d'
 '12y8m16d' '21y7m15d' '12y8m15d' '17y7m6d' '9y5m0d' '10y7m4d' '22y6m26d'
 '15y1m6d' '22y7m3d' '9y5m5d' '19y0m22d' '22y0m19d' '21y4m3d' '19y8m5d'
 '17y0m14d' '18y10m6d' '16y5m29d' '22y5m27d' '17y7m25d' '21y1m12d'
 '19y8m7d' '17y3m10d' '20y3m28d' '20y6m14d' '18y6m29d' '21y10m8d'
 '14y11m17d' '16y11m22d' '18y5m11d' '10y7m8d' '15y6m1d' '19y5m29d'
 '15y11m19d' '18y0m12d' '17y5m14d' '1y4m16d' '14y11m5d' '4y3m24d'
 '9y6m14d' '16y5m7d' '17y7m18d' '19y8m0d' '17y6m5d' '20y6m4d' '18y8m2d'
 '7y8m21d' '16y3m30d' '23y0m0d' '14y8m14d' '14y7m5d' '19y11m11d' '9y11m2d'
 '15y7m23d' '14y9m25d' '12y0m20d' '17y5m27d' '6y3m18d' '14y2m7d'
 '16y6m12d' '19y8m25d' '16y9m23d' '21y1m29d' '13y2m14d' '14y3m27d'
 '19y8m23d' '15y10m0d' '21y4m6d' '20y10m20d' '21y1m27d' '19y8m29d'
 '21y3m13d' '15y4m27d' '19y4m13d' '18y3m9d' '15y4m9d' '6y11m16d' '14y3m6d'
 '17y9m10d' '17y4m29d' '16y8m0d' '12y0m25d' '17y5m3d' '18y11m6d'
 '17y6m17d' '15y11m14d' '19y1m13d' '10y2m29d' '14y1m23d' '18y1m18d'
 '13y4m18d' '13y7m29d' '10y6m11d' '17y3m24d' '4y10m25d' '3y6m18d'
 '18y1m23d' '25y9m16d' '13y5m14d' '9y6m7d' '19y1m15d' '7y5m25d' '17y4m12d'
 '15y3m14d' '16y6m10d' '18y4m13d' '18y0m4d' '14y3m4d' '13y2m12d' '9y7m27d'
 '13y3m1d' '14y3m22d' '9y6m13d' '11y9m10d' '12y9m24d' '10y11m6d'
 '11y8m21d' '13y11m1d' '16y7m7d' '13y5m10d' '10y8m19d' '14y7m6d'
 '10y3m24d' '9y7m25d' '9y9m21d' '10y1m0d' '3y2m28d' '9y3m28d' '13y8m15d'
 '13y5m8d' '14y8m4d' '15y4m0d' '7y4m10d' '13y7m12d' '14y8m20d' '15y8m17d'
 '14y6m11d' '11y1m7d' '8y10m18d' '15y0m11d' '21y6m3d' '18y7m23d'
 '18y11m26d' '5y9m7d' '9y10m19d' '8y6m22d' '11y5m25d' '1y4m14d' '4y0m22d'
 '3y5m5d' '1y3m16d' '16y7m29d' '2y1m14d' '12y8m24d' '7y8m18d' '3y3m20d']
Species (common name) :  ['Northern (Canadian) Lynx' 'Tiger' 'Lion' 'Cheetah' 'Leopard Cat'
 'Sumatran Tiger' 'Persian Leopard' 'Fishing Cat' 'Asiatic Lion'
 'African Lion' 'Leopard' 'Jaguar' 'Bobcat' 'Ocelot' 'Cougar'
 "Temminck's Golden Cat" 'Jaguarundi' 'Serval' 'Siberian Tiger' 'Caracal'
 'Snow Leopard' 'Tiger (White)' 'Clouded Leopard' 'Bengal Tiger'
 'Bengal Tiger (white)']
haem: haemoglobin (g/L) :  [nan '150' '156' '162' '160' '144' '145' '157' '116' '121' '115' '174'
 '172' '154' '103' '198' '155' '149' '142' '169' '153' '148' '128' '85'
 '87' '75' '41' '94' '108' '28' '88' '123' '136' '948' '981' '107' '119'
 '130' '99' '122' '137' '97' '93' '135' '138' '126' '152' '104' '125'
 '127' '111' '72' '16.1' '131' '118' '164' '124' '139' '10' '106' '95'
 '100' '143' '146' '112' '132' '114' '129' '98' '140' '151' '159' '133'
 '163' '178' '15' '168' '170' '13.8' '110' '45' '141' '101' '179' '113'
 '117' '120' '147' '171' '83' '84' '82' '89.6' '102' '134' '90' '109'
 '165' '176' '188' '202' '105' '158' '166' '173' '161' '167' '86' '78'
 '91' '80' '226' '96' '53' '13' '74' '81' '175' '180']
haem: estimated platelets x 10^9/L (Hi) :  [nan '441' '379' '423' '286' '205' '258' '308' '215' '207' '221' '536'
 '319' '275' '345' '71' '105' '20' '330' '540' '404' '263' '479' '821'
 '398' '223' '193' '42' '292' '277' '560' '311' '349' '247' '361' '300'
 '513' '419' '238' '320' '253' '108' '157' '374' '257' '351' '278'
 '14/hpf' '229' '395' '198' '118' '322' '167' '340' '385' '296' '366'
 '139' '224' '158' '427' '456' '276' '421' '337' '270' '352' '350' '334'
 '144' '298' '293' '317' '363' '282' '283' '409' '318' '228' '233' '315'
 '242' '285' '512' '579' '412' '418' '396' '365' '327' '93' '70' '69'
 '236' '237' '313' '509' '219' '119' '359' '230' '30' '309' '211' '256'
 '194' '380' '273' '255' '208' '183' '227' '213' '182' '372' '280' '408'
 '239' '127' '310' '268' '378' '324' '357' '417' '440' '426' '111' '325'
 '432' '559' '392' '593' '444' '447' '490' '214' '210' '614' '547' '460'
 '121' '271' '437' '377' '485' '328' '225' '86' '493']
haem: estimated platelets  /HPF (Low) :  [nan 'adequate' 'mildly decreased, small 1+, clumped'
 'adequate, aggregated, small clumps present' 'adequate, aggregated'
 'borderline thrombocytopaenia, large forms' 'marked thrombocytopaenia'
 'adequate, aggreagated' 'moderately decreased' '10' '7' '15'
 '6/high oil field' '6' 'adequate, large forms seen' 'aggregated' '16-20'
 '25-30' '25' '20' '10-15' '8' '12' '30-40' '20-25' '18' '20 - 25' '80'
 '15-20' '5' '26' '40' 'adequate, large forms' '15 - 20' '20 - 30'
 '40 - 50' '50 - 55' '30' '80 - 100' '30 - 35' '60 - 70' '50' '30 - 40'
 '680' '35' '400' '307' '126' '172' '54' '9' '10-20' '329']
haem: plasma sample appearance :  [nan 'clear' 'haemolysis 1+' '22' 'very yellow' 'lipaemia 1+'
 'haemolysed 3+' '62' '60' 'lipaemic 1+' 'icteric 1+' 'haemolysis 2+']
haem: RBC morphology :  [nan 'normal' 'bur cells seen, may be associated with renal disease'
 'mild anisocytosis' 'mild anisocytosis. Moderate rouleaux' 'anisocytosis'
 'raised WBC count' 'normal range' 'thnrobocytosis, leukocytosis'
 'fragmented RBC' 'howel jolly bodies 1+'
 '1+ crenation, 1+ dacrocytes, 1+ bizarre RBC. 2+ rouleaux formation, 1+ metarubricytes'
 'normal, occasional Howell-Jolly bodies' 'anisocytosis 1+'
 'moderate rouleux. Occasional nucleated RBC'
 'occasional nucleated RBC. A few ellyptocytes.'
 'a few acanthocytes. Mild leucocytosis. Moderate neutrophilia, mild monocytosis.'
 'anisocytosis 2+' 'anisocytosis 1+, spherocytosis 1+, rouleaux 1+'
 'mild anisocytosis, mild polychromasia'
 'moderate anisocytosis. Moderate number acanthocytes. Occasional polychromatic cell.'
 'scattered nucleated cells. Occasional polychromatic cell'
 'occasional polychromatic cell' 'mild polychromasia'
 'Mild anisocytosis, occasional polychromatic cell. Moderate leucocytosis, marked neutrophilia and moderate lymphopaenia.'
 'mild anisocytosis, a few burr cells. There is moderate eosinophilia + moderate neutrophilia.'
 'moderate crenation'
 'moderate anisocytosis, moderate polychromasia. Occasional nucleated RBC ceen. Moderate neutrophilia'
 'A few burr cells' 'mild macrocytosis, mild thrombocytopaenia'
 'moderate number acanthocytes, occasional polychromatic cell'
 'anisocytosis, crenated cells, howell jolly bodies'
 'crenated RBC, occasional howell jolly bodies'
 'moderate anisocytosis, a few acanthocytes.' 'crenated RBC'
 'mild roleaux' 'mild anisocytosis.' 'howel jolly bodies'
 'marked anisocytosis' 'mild anisocytosis. Mild polychromasia'
 'occasional polychromatic cell. Occasional howell jolly bodies.'
 'mild polychromasia. Ocassional nRBC' 'moderate number acanthocytes'
 'mild microcytosis' 'poikilocytosis 1+' '1+ poikilocytosis'
 'normochromic with mild anisocytosis.' 'normochromic, mild anisocytosis'
 'slight anisocytosis, polychromasia' 'slight anisocytosis'
 'mild polychromasia, occasional nucleated red cell'
 'mild macrocytosis and polychromasia'
 'moderate toxic change, slightl anisocytosis, polychromasia, schistocytes'
 'haemoconcentration' 'anisocytosis, polychromasia, schistocytes.']
biochem: Bilirubin :  [nan '2' '4' '3' '6' '1' '7' '8.8' '9' '8' '5' '0.9918' '0' '1.6' '8.5'
 '11' '0.5' '5.301' '2.2059' '9.05' '9.07' '22' '2.1' '2.4' '12' '6.1'
 '18' '10.3' '82.5' '1.1' '1.2' '4.5' '13' '2.2' '1.3' '1.8' '40.1' '27'
 '0.8' '<8.5' '9.7' '17.2' '40' '66' '114' '4.0014' '<5' '0.2' '6.3954'
 '0.7011' '1.5' '1.9' '0.3' '10' '44.2' '8.69' '3.5' '4.7' '1.7' '4.2'
 '2.9' '16' '5.6943' '4.0' '6.4' '3.42' '1.4' '3.7' '9.9' '12.5' '2.6'
 '1.0' '9.2' '2.5' '2.1033' '3.6081' '51' '25' '169' '17' '81' '4.6'
 '1.71' '3.4' '7.524' '6.7032' '4.8' '14' '47' '5.2' '6.99' '4.99' '87'
 '3.6' '3.2' '15' '56' '41' '65' '49' '31' '20' '4.9932']
biochem: Serum/plasma appearance :  [nan 'clear' 'haemolysis 3+' 'haemolysis 1+' 'normal' 'lipaemic 2+'
 'lipaemic 1+' 'haemolysed 1+' 'lipaemic' 'liver disease' 'haemolysed 3+'
 'haemolysis,' 'haemolysis 2+' 'haemolysed' 'cholestasis?' '1+ haemolysis'
 '3+ haemolysis' 'lipaemia 1+' '1+haemolysis' 'icteric 1+' '2'
 'haemolysed 2+' 'icteric 2+, haemolysis 1+' 'icteric'
 'slightly haemolysed']
urine: Urine Appearance :  [nan 'brown, turbid' 'bloody' 'yellow slihtly turbid' 'slightly cloudy'
 'light yellow' 'straw, clear' 'yellow, cloudy' 'haematuria'
 'blood tinged' 'dark, red' 'amber brown' 'pale yellow' 'yellow'
 'cloudy yellow' 'dark' 'yellow, slight turbidity' 'clear amber'
 'yellow, turbid' 'very dark' 'straw, turbid' 'straw, cloudy'
 'yellow clear' 'dark yellow turbid' 'yellow opaque' 'yellow tubid'
 'dark yellow cloudy' 'brown' 'dark yellow' 'yellow opaque cloudy'
 'dark yelow' 'brown/yellow' 'brown cloudy' 'yellow-orange cloudy'
 'yellow, clear' 'clear, yellowish' 'intense orange' 'clear yellow'
 'turbid yellow' 'yellow, slightly turbid' 'turbid yellow brown'
 'brown, cloudy' 'yellow cloudy' 'grossly red, cloudy'
 'orange, not turbid' 'pale, clear' 'clear, straw' 'clear pale yellow'
 'turbid straw yellow' 'straw yellow turbid' 'straw yellow cloudy'
 'orange, transparent' 'cloudy yellow, thick' 'cloudy, yellowish grey'
 'yellow with flecks of contaminants' 'dark yellow clear'
 'pale yellow clear' 'golden with red tinge' 'cloudy' 'red cloudy'
 'yellow orange' 'cloudy and bloody' 'dark brown' 'dark red'
 'yellow, transparent' 'pinkish' 'cloudy, pale pink,turbid'
 'yellow and clear' 'pale yellow, clear' 'clear, straw yellow'
 'dark yellow, cloudy' 'clear, yellow' 'very cloudy' 'clear straw yellow'
 'straw' 'clear, dark yellow' 'pale straw yellow' 'pale clear yellow'
 'clear, slightly yellow' 'clear yellow, some debris' 'red'
 'light brown, opaque' 'yellow transparent' 'red, blood tinged'
 'yellow, crystal clear' 'yellow, slightly cloudy' 'pale yellow , clear'
 'red, haematuria' 'light tan, clear' 'get results off Christine'
 'clear, yellow to light tan' 'straw yellow, slightly turbid'
 'clear yellow/tan' 'clear, strong yellow' 'clear, pale yellow'
 'pale, slightly opagque' 'pale yellow, almost clear'
 'tan yellow, slightly cloudy' 'v pale yellow, clear' 'very pale, clear'
 'clear yellow black flecks' 'pale yellow, slightly turbid'
 'strong yellow slightly turbid' 'clear, pale yellow almost colourless'
 'strong, clear yellow' 'pale yellow turbid'
 'pale, almost colourless, clear' 'very pale yellow clear'
 'clear, pale almost colourless' 'slightly turbid, pale yellow' 'clear'
 'straw clear']
urine: Urine Specific Gravity :  [nan '1.044' '1.028' '>1.060' '1.077' '1.020' '>1.040' '1.038' '>1.050'
 '>1.045' '1.045' '1.000' '1.040' '1.024' '1.035' '1.032' '1.037' '1.022'
 '1.017' '1.014' '1.042' '1.026' '1.023' '1.010' '1.036' '1.070' '1.050'
 '1.025' '1.019' '1.047' '1.016' '1.015' '1.013' '1.033' '1.056' '2.068'
 '1.080' '2' '1.060' '1.018' '1.008' '1.030' '1.046' '>>1.040' '1.012'
 '1.043' '1.055' '>1.035' '1.041' '1.052' '>1.080' '1.048' '1.034'
 '>1.065' '1.031' '1.027' '1.039' '1.074' '1.054' '1.098' '1.072' '1.068'
 '1.062' '1.090' '1.04' '>1.070' '1.021' '1.066' '>>1.045' '1.029' '1.049'
 '1.03' '1.05' '1.002' '1.006' '1.065' '1.057' '>1.075' '1.004' '>>1.050'
 '1.061']
urine: glucose (Multistix) :  ['trace' nan 'nil' 'negative' '3+' '1+' '+' '2+' '4+' '-']
urine: bilirubin (Multistix) :  ['nil' nan 'negative' '1+' 'trace' '4+' '3+' '2+' 'niil' 'ni' '-' 'large']
urine: ketones (Multistix) :  ['nil' nan 'negative' '+' 'trace' '1+' 'nuil' '2+' '3+' '4+']
urine: blood (Hb -Multistix) :  ['nil' nan '3+' 'trace' '2+' 'negative' '4+' 'haemolysed' '+' '1+'
 'trace haemolysed' 'trace (haemolysed)' '3+ haemolysed' '12' '0' '5+'
 '1+ (small)' 'il' '1' '1+ haemolysed' 'large' 'moderate 80']
urine: pH :  ['6.5' '6.0' nan '7.0' '8' '8.5' '7.5' '5.0' '5.5' '9' '6' '5' '4+' '8.0'
 '9.0' '7' '>9.0' '6.2' 'trace' '8.8']
urine: protein (Multistix) :  ['1+' nan '3+' '2+' '4+' 'trace' 'nil' 'negative' '+' '5' '1.0' '3.0g/L'
 '100' '-' '2+ (1.0)']
urine: Positive urine culture comments :  [nan 'E. coli pure growth' 'Proteus and E.coli' 'no growth' 'no' 'yes'
 'not significant' 'No growth' '3+ orgs' '1+ orgs'
 'yes, but doubtful significance' 'Non-haemolytic streptococcus'
 'no culture' 'yes (insignificant)' 'nil'
 'massive numbers short chain streptocci'
 'yes - highly motile rods joined at poles on wet prep'
 'yes - environmental contaminants' 'yes but doubtful significance']
urine: leukocytes (/cumm)x :  [nan '1+' '4+' '2-5' '6' '10 x 10^6/L' '0' '10-100' '>100' '<10' '14' '<5'
 '0-3' '100' '>5000' '2-5/hpf' '2' '20' '>1000' '30' '800' '180' '1-2/hpf'
 '27' '540' '70' '120' '1-5/hpf' '10' '80' '5' 'nil' '40' '130' '3+' '-'
 '>200/hpf' '50-100/hpf' '16' '60' '50' '11' '<1' '4' '170' '110' '1-2'
 '38' '170 x 10^6/L' '32' '20 x 10^6/L' '<5/hpf' '0-1' '50-100' '90' '15'
 '79' '18' '7' '1' '400' '2+' '3+ (dipstick)' '150' '5-10' '1-5']
urine: blood (RBC/ ul) (haematuriax :  [nan '3+' '4+' '3' '270 x 10^6/L' '0' '>100' '<10' '8' '50' '<5' '0-3'
 '30' '40-50/hpf' '2' '1+' '20' '110' '10' '270' '180' '>1000' '40' '600'
 '0-2/hpf' '<3' '35' '>500' 'nil' '5/hpf' '1-4/hpf' '4-6/hpf' '1/hpf'
 '150/hpf' '450' '100' '230' '300' '400' '990' '1800' '70' '150'
 '100-200/hpf' '100-200/hof' '50-100' '6' '80' '10-100' '28000' '100-200'
 '>200' '330' '320' '5-8' '30-50' '660' '160' '2+' '100  x 10^6/L'
 '60 x 10^6/L' '360 x 10^6/L' '50-100/hpf' '250' '15/hpf' '20-30' '15-20'
 '10-50' '>>100' '5' '>1000 x 10^6/L' '33/hpf' '18' '<1' '10-20' '200'
 '5-10' '60']

### encoding and cleaning of the remainder
* **ARKS number:** leave as is but use as index only (remove for analysis)
* **drop:** 
* **one-hot:** Species (common name)
* **float64 with minimal cleaning:** haem: estimated platelets x 10^9/L (Hi), haem: haemoglobin (g/L), urine: pH, biochem: Bilirubin 
* **clean:** Age at Death(convert to days), urine: Urine Appearance, urine: Urine Specific Gravity, urine: Urine Specific Gravity, urine: bilirubin (Multistix), urine: ketones (Multistix), urine: blood (Hb -Multistix), urine: leukocytes, urine: blood (RBC/ ul) (haematuriax
* **TBD:** haem: estimated platelets  /HPF (Low), haem: plasma sample appearance, haem: RBC morphology, biochem: Serum/plasma appearance, urine: Positive urine culture comments

* calculate age at visit