There are 3 tables in the database that contain general information about the cats:
- IndividualAnimalRecordsTZ_ZV_WA_SA_MG_DM
- FullTaxonList IndividualAnimalRecordsTZ_NAT_WA
- PrevalenceIncludedFelidsTZ_ZV_WA_SA_MG_DM

We would like to combine these into one unified list of cats whose general data can then be joined to blood data.  Because some cats appear in more than one table we merge the records using combine_first so that if data in one table is missing the data in the other table will be used.  Each table has a different set of columns.  Here we take only the coulmns that overlap in all 3 tables.

The final unified animal list contains 703 cats and is at:  
/processed_data/unified_animal_list.csv

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [2]:
def intersection(lst1, lst2): 
    # returns a list of the intersection of 2 lists
    return list(set(lst1) & set(lst2)) 

def intersection_of3(lst1, lst2, lst3): 
    # returns a list of the intersection of 3 lists
    return list(set(lst1) & set(lst2) & set(lst3))

In [3]:
def Diff(li1, li2): 
    # returns the difference between 2 lists
    return (list(set(li1) - set(li2)))

In [4]:
# read 3 files with similar information

data_dir = '../Data/big_cats/Access_DB_table_exports/'
tab1 = pd.read_excel(data_dir + 'IndividualAnimalRecordsTZ_ZV_WA_SA_MG_DM.xlsx')
tab1_arks = list(tab1['ARKS Number'].unique())

tab2 = pd.read_excel(data_dir + 'FullTaxonList IndividualAnimalRecordsTZ_NAT_WA.xlsx')
tab2_arks = list(tab2['ARKS Number'].unique())

tab3 = pd.read_excel(data_dir + 'PrevalenceIncludedFelidsTZ_ZV_WA_SA_MG_DM.xlsx')
tab3_arks = list(tab3['ARKS Number'].unique())

print('tab1 has this many unique arks: ' + str(len(tab1_arks)))
print('tab2 has this many unique arks: ' + str(len(tab2_arks)))
print('tab3 has this many unique arks: ' + str(len(tab3_arks)))

tab1 has this many unique arks: 490
tab2 has this many unique arks: 648
tab3 has this many unique arks: 424

In [5]:
overlap1_2 = len(intersection(tab1_arks, tab2_arks))
print("there are " + str(overlap1_2) + " overlapping records between 1 and 2")

overlap2_3 = len(intersection(tab2_arks, tab3_arks))
print("there are " + str(overlap2_3) + " overlapping records between 2 and 3")

overlap1_3 = len(intersection(tab1_arks, tab3_arks))
print("there are " + str(overlap1_3) + " overlapping records between 1 and 3")

there are 439 overlapping records between 1 and 2
there are 384 overlapping records between 2 and 3
there are 419 overlapping records between 1 and 3

In [6]:
print('this many arks appear in all 3 tables: ' + str(len(intersection_of3(tab1_arks, tab2_arks, tab3_arks))))

this many arks appear in all 3 tables: 383

In [7]:
all_arks = tab1_arks + tab2_arks + tab3_arks
print('total unique arks: ' + str(len(set(all_arks))))

total unique arks: 703

# see if any of the 3 tables have multiple enties for the same ARKS Number
## (they don't)

In [8]:
tab1['ARKS Number'].value_counts()

980508                     1
740008                     1
K0095                      1
A20124                     1
820013                     1
A20046                     1
A80262                     1
970005                     1
B20133                     1
B10353                     1
A40081                     1
960995                     1
B00026                     1
880015                     1
MGTiger7                   1
820014                     1
820029                     1
980202                     1
960095                     1
830014                     1
980123                     1
A70193                     1
A30022                     1
840016                     1
880045                     1
A70603                     1
A70071                     1
B10071                     1
810056                     1
990294                     1
730013                     1
A50018                     1
540002                     1
800014MZ                   1
A80000                     1
750011TZ                   1
910001                     1
900248                     1
A00045                     1
B20032                     1
840002                     1
911073                     1
B10070                     1
810001                     1
A00902                     1
A50007                     1
A80050                     1
930229                     1
840026                     1
A50305                     1
840033                     1
890027                     1
760038                     1
B19036                     1
800014                     1
950078                     1
810057                     1
A70029                     1
B30002                     1
A90698                     1
0476                       1
950076                     1
A02062                     1
910624                     1
950063                     1
800015TZ                   1
A40238                     1
A10134                     1
A10080                     1
840025                     1
0462                       1
880014                     1
A80047                     1
730023                     1
950061                     1
720020                     1
960069                     1
A80581                     1
750002                     1
Tiger                      1
B30064                     1
A80674                     1
800016                     1
920518                     1
A70070                     1
MGWhiteLioncub3            1
A06000                     1
990948                     1
670005WA                   1
B00014                     1
A80113                     1
A10316                     1
940062                     1
800029                     1
A60021                     1
A50431                     1
930431                     1
730024                     1
999021                     1
700008                     1
A30374                     1
MGWhiteLioncub2            1
MGServal3                  1
A40005                     1
A49222                     1
A30376                     1
720002                     1
980011                     1
990092                     1
999028                     1
830025                     1
A30035                     1
900249                     1
A02021                     1
790013                     1
999025                     1
A40033                     1
980201                     1
A79193                     1
A90017                     1
B20038                     1
970620                     1
A02064                     1
790029                     1
840068                     1
990091                     1
990006                     1
990293                     1
A40034MG                   1
A9002?                     1
900484                     1
A70297                     1
B00019                     1
810044                     1
790036MZ                   1
960259                     1
960094                     1
A10532                     1
A49220                     1
910127                     1
760022                     1
A80673                     1
A10083                     1
A59013                     1
690004                     1
920185                     1
750007                     1
A80261                     1
980082                     1
810019                     1
920259                     1
860057                     1
B10352                     1
B10061                     1
A40080                     1
940131                     1
A90016                     1
A70074                     1
760101                     1
A10174                     1
A90497                     1
700040                     1
810172                     1
A39042                     1
970006                     1
720004MZ                   1
K46                        1
B00024                     1
740003                     1
850018                     1
720063                     1
990007                     1
A80003                     1
B10060                     1
B20025                     1
NeonateLionMonartoDeath    1
760014                     1
A20020                     1
820096                     1
700072                     1
900877                     1
730008                     1
720019                     1
790032                     1
A80260                     1
920453                     1
780049                     1
B39038                     1
999023                     1
780001                     1
pet                        1
950079                     1
820095                     1
760011                     1
960029                     1
215/80                     1
B10025                     1
A90028                     1
790036                     1
B40028                     1
999027                     1
980083                     1
A40093                     1
921429                     1
B40015                     1
950573                     1
890029                     1
A00481                     1
A60020                     1
743063                     1
980864                     1
670004WA                   1
840101                     1
A20123                     1
A60000                     1
770005                     1
890114                     1
A39043                     1
Karl                       1
980010                     1
B40245                     1
A50085                     1
740101                     1
890004                     1
B20088                     1
A90072                     1
870008                     1
880075                     1
930045                     1
B30146                     1
990008                     1
B29104                     1
A80060                     1
A90699                     1
MGSnLeopard                1
A59012                     1
A40001                     1
A80002                     1
B20016                     1
200003                     1
990295                     1
890000                     1
940101                     1
A50002                     1
B10024                     1
810046                     1
930230                     1
820015                     1
790026                     1
750011                     1
800015                     1
A00005                     1
A40035                     1
670004                     1
A00903                     1
800100                     1
950075                     1
800074                     1
0262                       1
A90015                     1
680006                     1
810047                     1
B30145                     1
A80112                     1
999022                     1
880026                     1
890005                     1
970007                     1
720009                     1
A20067                     1
830023                     1
950060                     1
B20026                     1
700007                     1
Shawnee                    1
980912                     1
B00021                     1
B09072                     1
750005                     1
870009                     1
A02023                     1
A40004                     1
999026                     1
A80059                     1
980084                     1
750003                     1
960996                     1
A70030                     1
A70009                     1
200004                     1
960030                     1
700022                     1
A90073                     1
A20545                     1
870036                     1
790037                     1
700004                     1
A00046                     1
840003                     1
950908                     1
B00020                     1
A49219                     1
A19081                     1
A10012                     1
640003                     1
A60019                     1
B40244                     1
800075                     1
921430                     1
790038TZ                   1
A00483                     1
B20037                     1
A20047                     1
A30739                     1
A40079                     1
A40094                     1
B40029                     1
A60570                     1
A02063                     1
B29101                     1
840034                     1
930228                     1
A20062                     1
540001                     1
850041                     1
A06001                     1
Justin                     1
B20037MG                   1
B40029NAT                  1
920084                     1
940150                     1
B30001                     1
740065                     1
810178                     1
A20122                     1
A20020TIGER                1
B29103                     1
790038                     1
A60018                     1
970009                     1
A20745                     1
800164                     1
A30055                     1
B29105                     1
A90698AZ                   1
A30021                     1
790037TZ                   1
880027                     1
770083                     1
A30311                     1
980909                     1
930430                     1
A40152                     1
900209                     1
B29102                     1
810053                     1
840001                     1
A80001                     1
880074                     1
B00584                     1
920260                     1
830002                     1
780002                     1
870010                     1
610001                     1
A20021                     1
810054                     1
A59011                     1
900959                     1
A80049                     1
960461                     1
670005                     1
970004                     1
A80010                     1
960093                     1
960035                     1
690029                     1
A40078                     1
810041                     1
B29059                     1
A40002                     1
810034                     1
920451                     1
A90059                     1
8/32                       1
A70007                     1
999024                     1
A60598                     1
A50003                     1
850007                     1
950822                     1
0190                       1
820016                     1
850093                     1
890290                     1
B40028NAT                  1
K28                        1
A50433                     1
980004                     1
800067                     1
800099                     1
810058                     1
A70011                     1
910080                     1
950077                     1
850083                     1
A00904                     1
980221                     1
A00906                     1
720087                     1
860081                     1
K55                        1
910517                     1
950062                     1
A80058                     1
A40003                     1
840019                     1
950451                     1
B20036                     1
A49218                     1
790025                     1
890028                     1
A10011                     1
850101                     1
830043                     1
920519                     1
MGWhiteLioncub1            1
A50189                     1
A10081                     1
830015                     1
980017                     1
900485                     1
960142                     1
A59060                     1
830040                     1
0263                       1
A49217                     1
B00095                     1
800163                     1
980014                     1
B10351                     1
A70551                     1
810018                     1
A10010                     1
B00027                     1
770006                     1
820094                     1
920534                     1
980910                     1
B00002                     1
A10243                     1
780127                     1
780128                     1
Moni                       1
890026                     1
830088                     1
680007                     1
790035                     1
640004                     1
A30602                     1
830039                     1
810055                     1
970008                     1
820144                     1
A00901                     1
910087                     1
A40034                     1
B39037                     1
800017                     1
A30375                     1
890254                     1
770031                     1
880068                     1
B00025                     1
921189                     1
B20036MG                   1
720004                     1
A00482                     1
980081                     1
970073                     1
A39020                     1
A50073                     1
A30242                     1
A10244                     1
960997                     1
A49221                     1
B30147                     1
800066                     1
A79192                     1
A10253                     1
Name: ARKS Number, dtype: int64

In [9]:
tab2['ARKS Number'].value_counts()

980508                                    1
810057                                    1
A50431                                    1
B20133                                    1
970005                                    1
810123                                    1
A80262                                    1
A20046                                    1
670005WA                                  1
820013                                    1
720008                                    1
A20124                                    1
A30021                                    1
990294                                    1
B29101                                    1
A90698                                    1
B30002                                    1
760107                                    1
980082                                    1
A10253                                    1
A40081                                    1
950062                                    1
980202                                    1
880045                                    1
790025                                    1
810055                                    1
B39039                                    1
920519                                    1
830014                                    1
A90059                                    1
820029                                    1
990016                                    1
890026                                    1
A70008                                    1
820014                                    1
MGTiger7                                  1
880015                                    1
960995                                    1
NeonateOcelotMelb Zoo                     1
A70029                                    1
NeonateSnowLeopardMelbZoo                 1
B20032                                    1
JuvenileCougarMelbZooDead                 1
A02064                                    1
900248                                    1
921429                                    1
NeonateCheetahPerthZoo                    1
680102                                    1
980221                                    1
750011TZ                                  1
A80000                                    1
MGSnowL3                                  1
680101                                    1
800014MZ                                  1
970620                                    1
A50018                                    1
JuvenileLionPerthZooTrans                 1
NeonateCheetahMelbZoo                     1
850095                                    1
A20123                                    1
A30022                                    1
A10081                                    1
MGSnLeopard                               1
770083                                    1
B19036                                    1
A60028                                    1
JuvenileLionMelbZooDead                   1
760038                                    1
740039                                    1
A60571                                    1
A50305                                    1
B09072                                    1
840002                                    1
NeonateLionAdelaideZoo                    1
920534                                    1
A50007                                    1
NeonateCaracalMelbZoo                     1
810001                                    1
B10070                                    1
911073                                    1
A70603                                    1
850018                                    1
B10071                                    1
810056                                    1
790033                                    1
A80047                                    1
A90071                                    1
810054                                    1
700003                                    1
950075                                    1
840025                                    1
950077                                    1
A10080                                    1
A10134                                    1
A40238                                    1
Sundar                                    1
800015TZ                                  1
950063                                    1
JuvenileCaracalAdelaideZooTrans           1
A10316                                    1
pet                                       1
730023                                    1
Juvenile Tiger Death Meb Zoo              1
950061                                    1
NeonateTemmGoldCatMelbZoo                 1
A06000                                    1
MGWhiteLioncub3                           1
840258                                    1
JuvenileTiger lost to ISIS tracking       1
700017                                    1
940100                                    1
540002AD                                  1
960095                                    1
720020                                    1
Brian                                     1
MGWhiteLioncub1                           1
A90698AZ                                  1
800031                                    1
A80581                                    1
700008MZ                                  1
960069                                    1
800029                                    1
A70070                                    1
B20038                                    1
700008                                    1
830213                                    1
560002                                    1
A30376                                    1
B20026                                    1
MGServal3                                 1
MGWhiteLioncub2                           1
710077                                    1
999021                                    1
700004                                    1
A40005                                    1
800014                                    1
Koyukon                                   1
670054                                    1
920085                                    1
950076                                    1
B40015                                    1
720085                                    1
NeonateCougarMelbZoo                      1
A90017                                    1
790013                                    1
880074                                    1
A79193                                    1
800075                                    1
980201                                    1
970006                                    1
770032                                    1
999025                                    1
MGTiger4                                  1
NeonateFishingcatMelb Zoo                 1
780084                                    1
A30035                                    1
830025                                    1
470034                                    1
A50019                                    1
JuvenileDeathMelbZoo                      1
999028                                    1
B00025                                    1
680008                                    1
Yuri                                      1
680016                                    1
660101                                    1
999023                                    1
790036MZ                                  1
810044                                    1
720087                                    1
B00019                                    1
A70297                                    1
900484                                    1
810038                                    1
A9002?                                    1
A40034MG                                  1
750011                                    1
890254                                    1
720083                                    1
800137                                    1
990006                                    1
A00901                                    1
840001                                    1
880197                                    1
A49220                                    1
670004WA                                  1
920259                                    1
B10061                                    1
470033                                    1
720065                                    1
Kalmia                                    1
800032                                    1
930431                                    1
810058                                    1
700001                                    1
A59013                                    1
A10083                                    1
980084                                    1
NeonateLionAfricanMelbZoo                 1
760022                                    1
A90015                                    1
Neonate CheetahMonarto                    1
A70030                                    1
810053                                    1
Thor                                      1
950371                                    1
A00045                                    1
860081                                    1
820096                                    1
JuvenileCougarAdelaidelost                1
B00024                                    1
A60570                                    1
B20025                                    1
810172                                    1
990007                                    1
700040                                    1
A90497                                    1
A10174                                    1
760101                                    1
A70074                                    1
A90016                                    1
820151                                    1
710073                                    1
A80003                                    1
A60000                                    1
900877                                    1
A10012                                    1
Toolec                                    1
950078                                    1
710005                                    1
940131                                    1
830206                                    1
830209                                    1
700072                                    1
B10060                                    1
A80260                                    1
A20020                                    1
760014                                    1
760048                                    1
690001                                    1
680103                                    1
810108                                    1
860057                                    1
790032                                    1
880104                                    1
620002                                    1
790036                                    1
A90028                                    1
A59011                                    1
NeonateBobcatMelbZoo                      1
                                         ..
960030                                    1
200004                                    1
A70009                                    1
B10351                                    1
960996                                    1
A40003                                    1
540001                                    1
700007                                    1
790035                                    1
Shawnee                                   1
840034                                    1
980017                                    1
B30064                                    1
A20047                                    1
Hilary                                    1
810046                                    1
A59012                                    1
A80261                                    1
880164                                    1
B40029                                    1
720002                                    1
A30739                                    1
B00026                                    1
B20037                                    1
A00483                                    1
730008                                    1
JuvenileL tiger Adelaidelost              1
930228                                    1
A20062                                    1
760049                                    1
740065                                    1
720004                                    1
790039                                    1
B29103                                    1
A20020TIGER                               1
A20122                                    1
770003                                    1
960142                                    1
850077                                    1
930229                                    1
940150                                    1
A80050                                    1
920084                                    1
990092                                    1
B40029NAT                                 1
770001                                    1
Justin                                    1
790038                                    1
999024                                    1
A20021                                    1
740009                                    1
980909                                    1
A30311                                    1
JuvenileLeopardCatMelbZoo                 1
540002                                    1
790037TZ                                  1
0263                                      1
810050                                    1
A30055                                    1
A19081                                    1
800164                                    1
B30001                                    1
840033                                    1
790038TZ                                  1
921430                                    1
Afult Cougar Adeliade                     1
B40244                                    1
930430                                    1
890027                                    1
790014                                    1
920260                                    1
B29102                                    1
820015                                    1
760050                                    1
A30020                                    1
900485                                    1
780002                                    1
860099                                    1
B00584                                    1
A80674                                    1
990091                                    1
570021                                    1
NeonataldeathCaracalDubbo                 1
A40079                                    1
850084                                    1
800074                                    1
900209                                    1
710076                                    1
700018                                    1
B00014                                    1
760194                                    1
B10352                                    1
A00046                                    1
A40004                                    1
A40078                                    1
960035                                    1
A39043                                    1
A80010                                    1
790031                                    1
970004                                    1
670005                                    1
850073                                    1
800067                                    1
800099                                    1
A50017                                    1
NeonateSevalAdelaide                      1
990295                                    1
830207                                    1
780073                                    1
810041                                    1
B29059                                    1
A60598                                    1
820016                                    1
670053                                    1
0190                                      1
950822                                    1
850007                                    1
B10353                                    1
A50003                                    1
A60018                                    1
A40002                                    1
A70007                                    1
B39059                                    1
8/32                                      1
770004                                    1
690017                                    1
810020                                    1
810034                                    1
730024                                    1
Neera                                     1
850101                                    1
910080                                    1
A40152                                    1
A00904                                    1
A20395                                    1
A30357                                    1
850083                                    1
Roland                                    1
680007                                    1
A70011                                    1
980081                                    1
JuvenileLeopardCaatMelbZooTrans           1
A10532                                    1
930230                                    1
200005                                    1
JuvenileLeopardMelbZooTrans               1
B10024                                    1
A80113                                    1
850074                                    1
A00906                                    1
A10011                                    1
810107                                    1
890028                                    1
950370                                    1
550002                                    1
A49218                                    1
950451                                    1
840019                                    1
800163                                    1
810021                                    1
A39042                                    1
NeonateTigerTZand PERTH                   1
960094                                    1
910517                                    1
960259                                    1
840068                                    1
920451                                    1
Neonate CheetahDubbo and Perth            1
720006                                    1
890290                                    1
B39037                                    1
B40028NAT                                 1
B00095                                    1
A49217                                    1
NeonateLeopardCatMlbZoo                   1
770101                                    1
A40001                                    1
A40094                                    1
A59060                                    1
810178                                    1
A30602                                    1
810047                                    1
760195                                    1
690007                                    1
A30374                                    1
940062                                    1
A79192                                    1
800066                                    1
MGTiger5                                  1
JuvenileLeopardCatAdelaideZoo             1
NeonateJaguarMelbZoo                      1
980014                                    1
B00002                                    1
790034                                    1
720037                                    1
990293                                    1
780128                                    1
780127                                    1
A02063                                    1
A10243                                    1
980910                                    1
810048                                    1
B20016                                    1

In [10]:
tab3['ARKS Number'].value_counts()

980508         1
A90698         1
730013         1
990294         1
K0095          1
A20124         1
820013         1
A20046         1
A80262         1
970005         1
B20133         1
B10353         1
A40081         1
950062         1
960995         1
800029         1
MGTiger7       1
820014         1
820029         1
980202         1
960095         1
830014         1
980123         1
A70193         1
A30022         1
B29101         1
B30002         1
B20032         1
980082         1
970620         1
A80000         1
750011TZ       1
910001         1
900248         1
A10081         1
MGSnLeopard    1
840002         1
911073         1
700022         1
810001         1
A30376         1
A50007         1
920534         1
930229         1
840026         1
A50305         1
840033         1
890027         1
A10012         1
B19036         1
950078         1
810057         1
790025         1
880045         1
A70603         1
A70071         1
A79193         1
A90017         1
A70070         1
pet            1
A10316         1
950063         1
A10134         1
A10080         1
Melissa        1
840025         1
0462           1
A80047         1
730023         1
950061         1
840068         1
810019         1
960069         1
A80581         1
750002         1
Tiger          1
A80674         1
800016         1
920518         1
800075         1
980201         1
A40033         1
A90072         1
B10071         1
810056         1
B40015         1
950076         1
A02062         1
910624         1
960461         1
A50431         1
730024         1
999021         1
A30374         1
999025         1
MGServal3      1
A40005         1
A49222         1
A40093         1
A60021         1
960142         1
A90699         1
A30035         1
900249         1
A02021         1
A50018         1
A02064         1
A40080         1
860057         1
A40034MG       1
A9002?         1
B10352         1
A70297         1
B00019         1
A80260         1
790036MZ       1
960259         1
A10532         1
A49220         1
0476           1
A90015         1
760022         1
A80673         1
A10083         1
A59013         1
690004         1
810058         1
920185         1
800074         1
750007         1
A49219         1
B10061         1
750011         1
990293         1
990006         1
850018         1
A90016         1
A70074         1
760101         1
A10174         1
A90497         1
790029         1
970006         1
720004MZ       1
B00024         1
810055         1
990007         1
990091         1
B00021         1
B10060         1
B20025         1
A20020         1
820096         1
900877         1
940131         1
760038         1
970007         1
810053         1
920259         1
790032         1
A20123         1
920453         1
999023         1
780001         1
A80261         1
820095         1
A60019         1
K46            1
B20037MG       1
B10025         1
A90028         1
790036         1
B40028         1
A00045         1
999027         1
980083         1
B00095         1
950573         1
890029         1
890254         1
A00481         1
A60020         1
743063         1
980864         1
840101         1
B39038         1
A60000         1
890114         1
990008         1
780049         1
Karl           1
B40245         1
A50085         1
740101         1
890004         1
B20088         1
870008         1
880075         1
930045         1
A80060         1
B29104         1
B20038         1
740065         1
A59012         1
A40001         1
A80002         1
200003         1
990295         1
890000         1
940101         1
A50002         1
A06000         1
A00902         1
950079         1
B30001         1
A00005         1
A40035         1
A00903         1
800100         1
740003         1
950075         1
B20036         1
A70010         1
0262           1
810047         1
A80112         1
999022         1
770005         1
A20122         1
A20067         1
830023         1
950060         1
910080         1
B20026         1
Shawnee        1
B40244         1
810044         1
921430         1
800015         1
720019         1
790026         1
960030         1
990948         1
A02023         1
A40004         1
999026         1
A80059         1
980084         1
750003         1
960996         1
B10351         1
A70009         1
B10070         1
980912         1
A90073         1
A20545         1
960029         1
870036         1
790037         1
700004         1
950908         1
B00020         1
A19081         1
750005         1
790038TZ       1
800164         1
900959         1
A30055         1
B00026         1
A30739         1
A40094         1
B40029         1
A60570         1
810054         1
A02063         1
B30064         1
840034         1
930228         1
A20062         1
850041         1
A06001         1
Justin         1
A20047         1
990092         1
A80050         1
940150         1
B40029NAT      1
960093         1
A40238         1
A20020TIGER    1
B29103         1
B20037         1
A00483         1
A80049         1
800017         1
B29105         1
A90698AZ       1
0263           1
880027         1
A30311         1
980909         1
930430         1
A40152         1
A20745         1
900209         1
880026         1
A60018         1
A40079         1
A80001         1
A70030         1
B00584         1
920260         1
A20021         1
820015         1
B29102         1
7688           1
970009         1
A59011         1
830025         1
B00014         1
0190           1
850101         1
A50189         1
A40003         1
760011         1
670005         1
970004         1
A80010         1
A39043         1
960035         1
A00046         1
A40078         1
810041         1
B29059         1
A40002         1
810034         1
920451         1
A90059         1
8/32           1
A70007         1
215/80         1
999024         1
A60598         1
850007         1
A10011         1
890028         1
A49218         1
850083         1
A80113         1
B10024         1
810046         1
930230         1
B09072         1
A70011         1
930431         1
790038         1
950077         1
A00482         1
Jean           1
950451         1
A00904         1
A00906         1
720087         1
860081         1
K55            1
910517         1
960094         1
B20036MG       1
A80058         1
840019         1
950822         1
820016         1
640004         1
850093         1
B30147         1
A80003         1
800066         1
830039         1
A30602         1
810178         1
A59060         1
830040         1
A49217         1
900484         1
A70551         1
810018         1
A10010         1
B00027         1
770006         1
B20016         1
980910         1
B00002         1
A10243         1
890026         1
B39037         1
790035         1
A30021         1
A49221         1
960997         1
A10244         1
A30375         1
890290         1
B40028NAT      1
K28            1
A50433         1
830040MZ       1
900485         1
820144         1
A00901         1
A40034         1
800015TZ       1
880014         1
880074         1
880068         1
B00025         1
921189         1
970008         1
980004         1
980081         1
970073         1
A50073         1
A30242         1
A10253         1
A39020         1
Name: ARKS Number, dtype: int64

# look at columns

### in tab2 rename 'Acute kidney disease' to 'Acute kidney failure'
The latter appears in table 1 and 3.  Assume they are equivalent.

In [11]:
tab2 = tab2.rename(columns={'Acute kidney disease': 'Acute kidney failure'})

### look at what's in common in all tables

In [12]:
cols1 = list(tab1.columns)
cols2 = list(tab2.columns)
cols3 = list(tab3.columns)

In [13]:
print('number of columns in table 1: ' + str(len(cols1)))
print('number of columns in table 2: ' + str(len(cols2)))
print('number of columns in table 3: ' + str(len(cols3)))

number of columns in table 1: 40
number of columns in table 2: 58
number of columns in table 3: 52

In [14]:
cols_in_common = intersection_of3(cols1, cols2, cols3)
cols_in_common

['Date of Death',
 'Species (common name)',
 'Transacted internationally',
 'Zoo Location',
 'GIT',
 'Dam ARKS Number',
 'Infection',
 'Neoplasia',
 'Date  of Birth',
 'ARKS Number',
 'Animal Name',
 'Neonatal',
 'Biochem data',
 'CKD - co-morbidity',
 'CKD - cause of mortality',
 'Respiratory/Cardiovascular',
 'Status (alive/deceased/transacted)',
 'Endocrine',
 'Hand-raised',
 'Unknown',
 'Housing (confined enclosure/open range)',
 'Pathology Report Numbers',
 'Sire ARKS Number',
 'International transaction',
 'Date of Transaction',
 'Sibling ARKS Number',
 'Urine data',
 'Neurological',
 'Trauma',
 'Sex',
 'Excluded from study?',
 'Comments:',
 'Age at Death',
 'Post Mortem Report Number',
 'Acute kidney failure',
 'Old Age debility',
 'Cause of Death']

# see what we're missing if we only take cols in common

In [15]:
Diff(cols1, cols_in_common)

['Renal diet?', 'Age in years at death', 'Pyometra']

In [16]:
Diff(cols2, cols_in_common)

['Date of first low USG',
 'Date of USG less than 1,035',
 'Hand-raised1',
 'Date of Onset of Azoatemia',
 'Sibling ARKS Number1',
 'Included in study',
 'International transaction1',
 'Onset of azotaemia',
 'First report of CKD CS',
 'Validated:',
 'GAN ID',
 'Date of diagnosis',
 'Transacted internationally1',
 'Ante-mortem Dx of CKD',
 'Sire ARKS Number1',
 'Alternative ARKS Nos',
 'Studbook Number',
 'Dam ARKS Number1',
 'Comments re kidney function',
 'Pyometra',
 'Housing (confined enclosure/open range)1']

In [17]:
Diff(cols3, cols_in_common)

['Date of first low USG',
 'Alternative ARKS Nos',
 'Date of USG less than 1,035',
 'Studbook Number',
 'Date of diagnosis',
 'Comments re kidney function',
 'Date of Onset of Azoatemia',
 'Pyometra cause of death',
 'Ante-mortem Dx of CKD',
 'Pyometra (survived)',
 'Onset of azotaemia',
 'First report of CKD CS',
 'Age in years at death',
 'Microchip Number',
 'GAN ID']

# Combine first: a table at a time

In [18]:
# only keep columns in common
tab1 = tab1[cols_in_common]
tab2 = tab2[cols_in_common]
tab3 = tab3[cols_in_common]

In [19]:
# list of arks that appear in all 3 tables
arks_in_all3tables = intersection_of3(tab1_arks, tab2_arks, tab3_arks)

# list of arks that appear in 2 tables
arks_in_tab1_and_tab2 =intersection(tab1_arks, tab2_arks)
arks_in_tab1_and_tab3 =intersection(tab1_arks, tab3_arks)
arks_in_tab2_and_tab3 =intersection(tab2_arks, tab3_arks)

# TAB 1
tab1_arks_appearing_elsewhere = set(arks_in_all3tables + arks_in_tab1_and_tab2 + arks_in_tab1_and_tab3)
# tab 1 unique arks = tab 1 arks - arks in all 3 - arks in 1 and 2 - arks in 1 and 3
arks_unique_tab1 = Diff(list(tab1['ARKS Number'].unique()), tab1_arks_appearing_elsewhere)

# TAB 2
tab2_arks_appearing_elsewhere = set(arks_in_all3tables + arks_in_tab1_and_tab2 + arks_in_tab2_and_tab3)
arks_unique_tab2 = Diff(list(tab2['ARKS Number'].unique()), tab2_arks_appearing_elsewhere)

# TAB 3
tab3_arks_appearing_elsewhere = set(arks_in_all3tables + arks_in_tab1_and_tab3 + arks_in_tab2_and_tab3)
arks_unique_tab3 = Diff(list(tab3['ARKS Number'].unique()), tab3_arks_appearing_elsewhere)

In [20]:
print('number of arks which appear in all tables:  ' + str(len(arks_in_all3tables)))
print()
print('number of arks that only appear in tab 1:  ' + str(len(arks_unique_tab1)))
print('number of arks that only appear in tab 2:  ' + str(len(arks_unique_tab2)))
print('number of arks that only appear in tab 3:  ' + str(len(arks_unique_tab3)))

number of arks which appear in all tables:  383

number of arks that only appear in tab 1:  15
number of arks that only appear in tab 2:  208
number of arks that only appear in tab 3:  4

In [21]:
# for the ARKS numbers that are ONLY in one table ('unique' to table 1,2 or 3)
# make a new master data frame to which we will append these to 

# start with the arks that are unique to tab 1
master = tab1[tab1['ARKS Number'].isin(arks_unique_tab1)]
# append the arks that are unique to tab 2
master = master.append(tab2[tab2['ARKS Number'].isin(arks_unique_tab2)])
# append the arks that are unique to tab 3
master = master.append(tab3[tab3['ARKS Number'].isin(arks_unique_tab3)], sort = True)

In [22]:
print('At this point there are 227 rows in master and each arks number appears only once.')
# len(master)
# master['ARKS Number'].value_counts()

At this point there are 227 rows in master and each arks number appears only once.

## now take care of arks numbers that appear in tab 1 and tab 2 but not 3

In [23]:
arks_in_tab1_tab2_not_tab3 = Diff(arks_in_tab1_and_tab2, arks_in_all3tables)
print('number of arks in tab 1 and tab 2 but not tab 3: ' + str(len(arks_in_tab1_tab2_not_tab3)))

number of arks in tab 1 and tab 2 but not tab 3: 56

In [24]:
# temporary data frames of the overlapping arks records in tab 1 and table 2
temp1 = tab1[tab1['ARKS Number'].isin(arks_in_tab1_tab2_not_tab3)]
temp2 = tab2[tab2['ARKS Number'].isin(arks_in_tab1_tab2_not_tab3)]

In [25]:
# check
len ( set(list(temp1['ARKS Number'].unique()) + list(temp2['ARKS Number'].unique()) ) )

56

In [26]:
# set index to arks number
temp1.set_index('ARKS Number', inplace = True)
temp2.set_index('ARKS Number', inplace = True)

# now use combine first to fill in any null values
# "Update null elements with value in the same location in other." e.g. df.combine_first(df_other)
combined_df_1_2 = temp1.combine_first(temp2)
combined_df_1_2.reset_index(inplace=True)

#append to master
master = master.append(combined_df_1_2, sort = True)

print('at this point there are 283 rows in master and each arks number appears only once.')

at this point there are 283 rows in master and each arks number appears only once.

## now take care of arks numbers that appear in tab 1 and tab 3 but not 2

In [27]:
arks_in_tab1_tab3_not_tab2 = Diff(arks_in_tab1_and_tab3, arks_in_all3tables)
print('number of arks in tab 1 and tab 3 but not tab 2: ' + str(len(arks_in_tab1_tab3_not_tab2)))

number of arks in tab 1 and tab 3 but not tab 2: 36

In [28]:
# temporary data frames of the overlapping arks records in tab 1 and table 3
temp1 = tab1[tab1['ARKS Number'].isin(arks_in_tab1_tab3_not_tab2)]
temp3 = tab3[tab3['ARKS Number'].isin(arks_in_tab1_tab3_not_tab2)]

In [29]:
# check
len ( set(list(temp1['ARKS Number'].unique()) + list(temp3['ARKS Number'].unique()) ) )

36

In [30]:
# set index to arks number
temp1.set_index('ARKS Number', inplace = True)
temp3.set_index('ARKS Number', inplace = True)

# now use combine first to fill in any null values
combined_df_1_3 = temp1.combine_first(temp3)
combined_df_1_3.reset_index(inplace=True)

#append to master
master = master.append(combined_df_1_3, sort = True)

print('at this point there are 319 rows in master and each arks number appears only once.')

at this point there are 319 rows in master and each arks number appears only once.

## now take care of arks numbers that appear in tab 2 and tab 3 but not 1

In [31]:
arks_in_tab2_tab3_not_tab1 = Diff(arks_in_tab2_and_tab3, arks_in_all3tables)
print('number of arks in tab 2 and tab 3 but not tab 1: ' + str(len(arks_in_tab2_tab3_not_tab1)))

number of arks in tab 2 and tab 3 but not tab 1: 1

In [32]:
# temporary data frames of the overlapping arks records in tab 1 and table 3
temp2 = tab2[tab2['ARKS Number'].isin(arks_in_tab2_tab3_not_tab1)]
temp3 = tab3[tab3['ARKS Number'].isin(arks_in_tab2_tab3_not_tab1)]

In [33]:
# check
len ( set(list(temp2['ARKS Number'].unique()) + list(temp3['ARKS Number'].unique()) ) )

1

In [34]:
# set index to arks number
temp2.set_index('ARKS Number', inplace = True)
temp3.set_index('ARKS Number', inplace = True)

# now use combine first to fill in any null values
combined_df_2_3 = temp2.combine_first(temp3)
combined_df_2_3.reset_index(inplace=True)

#append to master
master = master.append(combined_df_2_3, sort = True)

print('at this point there are 320 rows in master and each arks number appears only once.')

at this point there are 320 rows in master and each arks number appears only once.

## now take care of arks numbers that appear in all 3 tables

In [35]:
# temporary data frames of the arks records that appear in all 3 tables
temp1 = tab1[tab1['ARKS Number'].isin(arks_in_all3tables)]
temp2 = tab2[tab2['ARKS Number'].isin(arks_in_all3tables)]
temp3 = tab3[tab3['ARKS Number'].isin(arks_in_all3tables)]

In [36]:
# check
len ( set( list(temp1['ARKS Number'].unique()) + list(temp2['ARKS Number'].unique()) + list(temp3['ARKS Number'].unique()) ) )

383

In [37]:
# set index to arks number
temp1.set_index('ARKS Number', inplace = True)
temp2.set_index('ARKS Number', inplace = True)
temp3.set_index('ARKS Number', inplace = True)

# now use combine first to fill in any null values
combined_df = temp1.combine_first(temp2).combine_first(temp3)
combined_df.reset_index(inplace=True)

#append to master
master = master.append(combined_df, sort = True)

print('at this point there are 703 rows in master and each arks number appears only once.')

at this point there are 703 rows in master and each arks number appears only once.

# write unified animal list to csv

In [44]:
master.to_csv('../Data/big_cats/processed_data/unified_animal_list.csv', index = False)